Repository it-at-m/digiwf-core, pull requests merged in 2022-09, with the labels that each got.

#11 fix: form builder optional items
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder/package.json
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalContainer.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalFieldsContainer.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalItem.vue
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package-lock.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
Labels: digiwf-apps

#10 fileContext added to dto
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/io/muenchendigital/digiwf/spring/cloudstream/utils/api/streaming/process/service/StartProcessService.java
  digiwf-process/digiwf-process-api/src/main/java/io/muenchendigital/digiwf/process/api/StartProcess.java
  digiwf-process/digiwf-process-api/src/main/java/io/muenchendigital/digiwf/process/api/StartProcessEvent.java
Labels: digiwf-libs, digiwf-process

#12 chore: update version
  README.md
  digiwf-connector/digiwf-camunda-connector-service/pom.xml
  digiwf-connector/digiwf-camunda-connector-starter/pom.xml
  digiwf-connector/digiwf-camunda-connector/pom.xml
  digiwf-connector/digiwf-connector-api/pom.xml
  digiwf-connector/digiwf-connector-core/pom.xml
  digiwf-connector/digiwf-connector-starter-rest/pom.xml
  digiwf-connector/digiwf-connector-starter/pom.xml
  digiwf-connector/pom.xml
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-engine/digiwf-engine-task-starter/pom.xml
  digiwf-engine/digiwf-engine-task/pom.xml
  digiwf-engine/pom.xml
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/pom.xml
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-starter/pom.xml
  digiwf-libs/digiwf-json-serialization/example-json-serialization/pom.xml
  digiwf-libs/digiwf-json-serialization/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-starter/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/example-spring-cloudstream-utils/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/pom.xml
  digiwf-libs/pom.xml
  digiwf-process/digiwf-process-api/pom.xml
  digiwf-process/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client-example/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client-starter/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-service/pom.xml
  digiwf-schema-registry/pom.xml
  digiwf-task/digiwf-taskana-connector/digiwf-taskana-connector-core/pom.xml
  digiwf-task/digiwf-taskana-connector/digiwf-taskana-connector-starter/pom.xml
  digiwf-task/digiwf-taskana-connector/pom.xml
  digiwf-task/pom.xml
  pom.xml
Labels: digiwf-connector, digiwf-schema-registry, digiwf-engine, digiwf-task, digiwf-libs, digiwf-process

#13 feat: upgrade to vue 2.7
  digiwf-apps/lerna.json
  digiwf-apps/package-lock.json
  digiwf-apps/package.json
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-forms-example/src/App.vue
  digiwf-apps/packages/apps/digiwf-forms-example/src/components/menu.vue
  digiwf-apps/packages/apps/digiwf-forms-example/src/main.ts
  digiwf-apps/packages/components/digiwf-engine-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package.json
  digiwf-apps/packages/components/digiwf-form-builder/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder/package.json
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormArrayObject.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormBuilder.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormBuilderElements.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormContainer.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormField.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormObject.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalContainer.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalFieldsContainer.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalItem.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalObjectContainer.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormSection.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfPropertiesContainer.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/common/DwfDialogButton.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/common/DwfDialogListItem.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/common/DwfDraggableListItem.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/modals/DwfEditContainerModal.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/modals/DwfEditFormFieldModal.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/modals/DwfEditSectionModal.vue
  digiwf-apps/packages/components/digiwf-form-builder/vite.config.ts
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
  digiwf-apps/packages/components/digiwf-form-renderer/src/components/DwfFormRenderer.vue
  digiwf-apps/packages/components/digiwf-form-renderer/vite.config.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/package-lock.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfFilePreview.vue
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfMultiFileInput.vue
  digiwf-apps/packages/components/digiwf-multi-file-input/vite.config.ts
Labels: digiwf-apps

#14 Fix/extract validation error information
  README.md
  digiwf-connector/digiwf-camunda-connector-service/pom.xml
  digiwf-connector/digiwf-camunda-connector-starter/pom.xml
  digiwf-connector/digiwf-camunda-connector/pom.xml
  digiwf-connector/digiwf-connector-api/pom.xml
  digiwf-connector/digiwf-connector-core/pom.xml
  digiwf-connector/digiwf-connector-starter-rest/pom.xml
  digiwf-connector/digiwf-connector-starter/pom.xml
  digiwf-connector/pom.xml
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-engine/digiwf-engine-task-starter/pom.xml
  digiwf-engine/digiwf-engine-task/pom.xml
  digiwf-engine/pom.xml
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/pom.xml
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/main/java/io/muenchendigital/digiwf/json/validation/DigiWFValidationException.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/main/java/io/muenchendigital/digiwf/json/validation/JsonSchemaValidator.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/main/java/io/muenchendigital/digiwf/json/validation/ValidationErrorInformation.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/test/java/io/muenchendigital/digiwf/json/validation/JsonValidatorTest.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/test/resources/schema/validation/complexSchema.json
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-starter/pom.xml
  digiwf-libs/digiwf-json-serialization/example-json-serialization/pom.xml
  digiwf-libs/digiwf-json-serialization/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-starter/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/example-spring-cloudstream-utils/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/pom.xml
  digiwf-libs/pom.xml
  digiwf-process/digiwf-process-api/pom.xml
  digiwf-process/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client-example/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client-starter/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-service/pom.xml
  digiwf-schema-registry/pom.xml
  digiwf-task/digiwf-taskana-connector/digiwf-taskana-connector-core/pom.xml
  digiwf-task/digiwf-taskana-connector/digiwf-taskana-connector-starter/pom.xml
  digiwf-task/digiwf-taskana-connector/pom.xml
  digiwf-task/pom.xml
  pom.xml
Labels: digiwf-connector, digiwf-schema-registry, digiwf-engine, digiwf-task, digiwf-libs, digiwf-process

#15 Feat/form builder improvements
  CHANGELOG.md
  digiwf-apps/lerna.json
  digiwf-apps/packages/apps/digiwf-forms-example/components.d.ts
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-forms-example/src/App.vue
  digiwf-apps/packages/apps/digiwf-forms-example/src/views/home.vue
  digiwf-apps/packages/components/digiwf-engine-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/Container.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/Settings.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/Container.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/Settings.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/types/index.d.ts
  digiwf-apps/packages/components/digiwf-form-builder/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder/package.json
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormBuilder.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormBuilderElements.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormContainer.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormField.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormObject.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalContainer.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalObjectContainer.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfPropertiesContainer.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/modals/DwfEditFormFieldModal.vue
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
  digiwf-apps/packages/components/digiwf-form-renderer/src/components/DwfFormRenderer.vue
  digiwf-apps/packages/components/digiwf-multi-file-input/package-lock.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
Labels: digiwf-apps

#17 fix: optional container
  digiwf-apps/lerna.json
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package.json
  digiwf-apps/packages/components/digiwf-form-builder/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder/package.json
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalContainer.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalFieldsContainer.vue
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package-lock.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
Labels: digiwf-apps

#18 fix: upgrade to custom vjsf
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-forms-example/src/App.vue
  digiwf-apps/packages/apps/digiwf-forms-example/src/plugins/vjsf.ts
  digiwf-apps/packages/components/digiwf-form-builder/vite.config.ts
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
  digiwf-apps/packages/components/digiwf-form-renderer/src/components/DwfFormRenderer.vue
  digiwf-apps/packages/components/digiwf-form-renderer/vite.config.ts
Labels: digiwf-apps

#19 feat: add default values to switch and checkbox
  digiwf-apps/lerna.json
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-forms-example/src/App.vue
  digiwf-apps/packages/components/digiwf-engine-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/ModelerPalette.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/ModelerPalette.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/index.ts
  digiwf-apps/packages/components/digiwf-form-builder/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder/package.json
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package-lock.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
Labels: digiwf-apps

#21 provide with getters
  digiwf-apps/packages/apps/digiwf-tasklist/index.html
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/GroupTaskDetail.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/ProcessInstanceDetailView.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/StartProcess.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
Labels: digiwf-apps

#22 fixed backend url
  digiwf-apps/packages/apps/digiwf-tasklist/.env.development
  digiwf-apps/packages/apps/digiwf-tasklist/.env.production
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/ApiConfig.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/StartProcess.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
  digiwf-apps/packages/components/digiwf-engine-api-internal/src/FetchUtils.ts
Labels: digiwf-apps
