Repository it-at-m/digiwf-core, pull requests merged in 2022-11, with the labels that each got.

#38 feat: restrict gateway backend route
  digiwf-gateway/src/main/resources/application-local.yml
Labels: digiwf-gateway

#37 Feat/cosys integration
  .github/workflows/snapshot-release.yaml
  digiwf-gateway/src/main/resources/application-local-docker.yml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/integration/cosys/api/MessageProcessor.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/integration/cosys/configuration/CosysConfiguration.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/integration/cosys/configuration/RestTemplateFactory.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/integration/cosys/domain/mapper/DocumentXmlMapper.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/integration/cosys/domain/mapper/GenerateDocumentRequestMapper.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/integration/cosys/domain/model/DocumentXml.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/integration/cosys/domain/model/GenerateDocument.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/integration/cosys/domain/model/GenerateDocumentRequest.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/integration/cosys/domain/service/CosysService.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/java/io/muenchendigital/digiwf/integration/cosys/api/controller/ExampleController.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/java/io/muenchendigital/digiwf/integration/cosys/example/DigiwfCosysExampleApplication.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/resources/application-local.properties
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/resources/application-streaming.properties
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/resources/application.properties
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/Dockerfile
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/java/io/muenchendigital/digiwf/integration/cosys/DigiwfCosysApplication.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application-local.properties
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application-streaming.properties
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application.properties
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/src/main/java/io/muenchendigital/digiwf/integration/cosys/configuration/CosysAutoConfiguration.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/src/main/java/io/muenchendigital/digiwf/integration/cosys/configuration/CosysProperties.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/src/main/resources/META-INF/spring.factories
  digiwf-integrations/digiwf-cosys-integration/pom.xml
  digiwf-integrations/pom.xml
  docs/.gitkeep
  docs/digiwf-integrations/README.md
  docs/digiwf-integrations/digiwf-cosys-integration.md
  pom.xml
  stack/README.md
  stack/docker-compose.yml
Labels: digiwf-gateway, docs, digiwf-integrations, stack

#43 Feat/cosys uses domain specific s3
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/integration/cosys/api/MessageProcessor.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/integration/cosys/domain/model/DocumentStorageUrl.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/integration/cosys/domain/model/GenerateDocument.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/integration/cosys/domain/service/CosysService.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/test/java/io/muenchendigital/digiwf/integration/cosys/domain/model/GenerateDocumentTest.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/java/io/muenchendigital/digiwf/integration/cosys/api/controller/ExampleController.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/resources/application-local.properties
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/resources/application-streaming.properties
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/resources/examples.http
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application-local.properties
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/pom.xml
  docs/digiwf-integrations/digiwf-cosys-integration.md
  docs/element-templates/cosys-alle-daten.json
  docs/element-templates/cosys-dokument-erstellen.json
  docs/element-templates/s3_create_presigned_url_template.json
  docs/element-templates/sendMail.json
Labels: docs, digiwf-integrations

#47 fix: engine build
  .github/workflows/release.yaml
  digiwf-engine/digiwf-engine-service/pom.xml
Labels: digiwf-engine

#39 Feat/persistent filters
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/TaskList.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/index.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/filters.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/AssignedGroupTasks.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/OpenGroupTasks.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/ProcessInstances.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/Processes.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/Tasks.vue
  digiwf-apps/packages/components/digiwf-engine-api-internal/api/api-docs.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/src/api/api.ts
Labels: digiwf-apps

#52 persistent filters for engine
  .gitignore
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/filters/api/mapper/FilterApiMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/filters/api/resource/FiltersRestController.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/filters/api/transport/FilterTO.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/filters/api/transport/SaveFilterTO.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/filters/domain/mapper/FilterMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/filters/domain/model/Filter.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/filters/domain/service/PersistentFilterService.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/filters/infrastructure/entity/FilterEntity.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/filters/infrastructure/repository/FilterRepository.java
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/V18__Filter.sql
Labels: digiwf-engine

#55 fix: group task s3 url
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/GroupTaskDetail.vue
Labels: digiwf-apps

#53 feat: S3 integration creates presigned urls for multiple directories
  CHANGELOG.md
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/resources/s3-client.http
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/io/muenchendigital/digiwf/s3/integration/api/streaming/MessageProcessor.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/io/muenchendigital/digiwf/s3/integration/domain/service/FileHandlingService.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/test/java/io/muenchendigital/digiwf/s3/integration/domain/service/FileHandlingServiceTest.java
  digiwf-integrations/digiwf-s3-integration/docs/documentation.md
  stack/docker-compose.yml
Labels: digiwf-integrations, stack

#58 Refactor/alw integration
  .github/workflows/release.yaml
  .gitignore
  CHANGELOG.md
  digiwf-gateway/src/main/resources/application-local.yml
  digiwf-integrations/README.md
  digiwf-integrations/digiwf-alw-integration/README.md
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/pom.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/io/muenchendigital/digiwf/alw/integration/api/MessageProcessor.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/io/muenchendigital/digiwf/alw/integration/configuration/AlwPersoneninfoConfig.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/io/muenchendigital/digiwf/alw/integration/configuration/ConfigurationGuard.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/io/muenchendigital/digiwf/alw/integration/configuration/SachbearbeitungMapperConfig.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/io/muenchendigital/digiwf/alw/integration/domain/exception/AlwException.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/io/muenchendigital/digiwf/alw/integration/domain/mapper/AlwPersoneninfoResponseMapper.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/io/muenchendigital/digiwf/alw/integration/domain/mapper/SachbearbeitungMapper.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/io/muenchendigital/digiwf/alw/integration/domain/model/AlwPersoneninfoRequest.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/io/muenchendigital/digiwf/alw/integration/domain/model/AlwPersoneninfoResponse.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/io/muenchendigital/digiwf/alw/integration/domain/service/AlwPersoneninfoService.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/io/muenchendigital/digiwf/alw/integration/domain/service/AzrNumberValidator.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/io/muenchendigital/digiwf/alw/integration/domain/service/FunctionalPing.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-example/pom.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-example/src/main/java/io/muenchendigital/digiwf/alw/integration/DigiwfAlwApplication.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-example/src/main/java/io/muenchendigital/digiwf/alw/integration/api/controller/ExampleController.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-example/src/main/java/io/muenchendigital/digiwf/alw/integration/configuration/SachbearbeitungMapperResourceConfig.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-example/src/main/resources/config/alw-sachbearbeitung.properties
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-example/src/main/resources/rest-api-client/example.http
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-example/src/main/resources/rest-api-client/http-client.env.json
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/pom.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/java/io/muenchendigital/digiwf/alw/integration/MicroServiceApplication.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/java/io/muenchendigital/digiwf/alw/integration/api/controller/ExampleController.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/java/io/muenchendigital/digiwf/alw/integration/configuration/SachbearbeitungMapperResourceConfig.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/application-local.yml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/application-streaming.properties
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/config/alw-sachbearbeitung.properties
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/logback-spring.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-starter/pom.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-starter/src/main/java/io/muenchendigital/digiwf/alw/integration/configuration/AlwAutoConfiguration.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-starter/src/main/java/io/muenchendigital/digiwf/alw/integration/configuration/AlwPersoneninfoProperties.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-starter/src/main/resources/META-INF/spring.factories
  digiwf-integrations/digiwf-alw-integration/pom.xml
  digiwf-integrations/pom.xml
Labels: digiwf-gateway, digiwf-integrations

#57 #2: move verification integration repository to core repository
  .github/workflows/release.yaml
  CHANGELOG.md
  digiwf-integrations/README.md
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/pom.xml
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/io/muenchendigital/digiwf/verification/integration/registration/api/MessageProcessor.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/io/muenchendigital/digiwf/verification/integration/registration/domain/exception/RegistrationException.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/io/muenchendigital/digiwf/verification/integration/registration/domain/model/Registration.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/io/muenchendigital/digiwf/verification/integration/registration/domain/service/LinkService.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/io/muenchendigital/digiwf/verification/integration/registration/domain/service/RegistrationService.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/io/muenchendigital/digiwf/verification/integration/shared/StreamingConstants.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/io/muenchendigital/digiwf/verification/integration/shared/domain/entity/VerificationEntity.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/io/muenchendigital/digiwf/verification/integration/shared/repository/VerificationRepository.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/io/muenchendigital/digiwf/verification/integration/verification/api/resource/VerificationController.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/io/muenchendigital/digiwf/verification/integration/verification/domain/exception/CorrelationException.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/io/muenchendigital/digiwf/verification/integration/verification/domain/exception/VerificationExpiredException.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/io/muenchendigital/digiwf/verification/integration/verification/domain/exception/VerificationTokenNotFoundException.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/io/muenchendigital/digiwf/verification/integration/verification/domain/service/VerificationService.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/resources/db/migration/V1__Initial.sql
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/resources/templates/result.html
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-service/Dockerfile
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-service/pom.xml
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-service/src/main/java/io/muenchendigital/digiwf/verification/integration/DigiwfVerificationApplication.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-service/src/main/java/io/muenchendigital/digiwf/verification/integration/registration/api/controller/ExampleController.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-service/src/main/resources/application-streaming.properties
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-service/src/main/resources/application.properties
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-starter/pom.xml
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-starter/src/main/java/io/muenchendigital/digiwf/verification/integration/configuration/VerificationConfiguration.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-starter/src/main/java/io/muenchendigital/digiwf/verification/integration/configuration/VerificationProperties.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-starter/src/main/resources/META-INF/spring.factories
  digiwf-integrations/digiwf-verification-integration/docs/Integrationsartefakt_Verifikation.pptx
  digiwf-integrations/digiwf-verification-integration/docs/architecture.md
  digiwf-integrations/digiwf-verification-integration/docs/documentation.md
  digiwf-integrations/digiwf-verification-integration/docs/quickstart.md
  digiwf-integrations/digiwf-verification-integration/docs/verification-integration-artifact.bpmn
  digiwf-integrations/digiwf-verification-integration/images/architecture.png
  digiwf-integrations/digiwf-verification-integration/images/dataflow.png
  digiwf-integrations/digiwf-verification-integration/images/flowchart.png
  digiwf-integrations/digiwf-verification-integration/images/logo.png
  digiwf-integrations/digiwf-verification-integration/policies/default.yml
  digiwf-integrations/digiwf-verification-integration/pom.xml
  digiwf-integrations/pom.xml
Labels: digiwf-integrations

#60 feat: added user service implementations for no-ldap profile
  CHANGELOG.md
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/legacy/user/domain/model/User.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/legacy/user/domain/service/LdapUserServiceImpl.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/legacy/user/domain/service/MockUserServiceImpl.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/legacy/user/domain/service/UserService.java
Labels: digiwf-engine

#62 fix: Cannot resolve identifier 'app_file_s3_async_config' on process …
  CHANGELOG.md
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/service/definition/domain/facade/ServiceDefinitionFacade.java
Labels: digiwf-engine

#65 feat: filter in url
  CHANGELOG.md
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/TaskList.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/router.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/AssignedGroupTasks.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/OpenGroupTasks.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/ProcessInstances.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/Processes.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/Tasks.vue
Labels: digiwf-apps

#64 Refactor/prometheus core
  CHANGELOG.md
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/pom.xml
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/FniAndEdeMetricsProvider.java
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/IncidentMetricsProvider.java
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/JobMetricsProvider.java
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/MetricsProvider.java
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/ProcessMetricsProvider.java
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/TaskMetricsProvider.java
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-example/pom.xml
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-example/src/main/java/io/muenchendigital/digiwf/camunda/promethus/CamundaPrometheusExampleApplication.java
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-example/src/main/resources/application.properties
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/pom.xml
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/CamundaPrometheusAutoConfiguration.java
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/MetricsConfiguration.java
  digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/resources/META-INF/spring.factories
  digiwf-camunda-prometheus/docs/screenshot.png
  digiwf-camunda-prometheus/pom.xml
  pom.xml
Labels: digiwf-camunda-prometheus

#72 fix: s3 bug
  digiwf-engine/digiwf-engine-service/src/main/resources/application-local.properties
  digiwf-engine/digiwf-engine-service/src/main/resources/application.properties
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/io/muenchendigital/digiwf/s3/integration/client/service/ApiClientFactory.java
Labels: digiwf-engine, digiwf-integrations

#76 refactor: move prometheus to libs
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/pom.xml
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/FniAndEdeMetricsProvider.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/IncidentMetricsProvider.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/JobMetricsProvider.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/MetricsProvider.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/ProcessMetricsProvider.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/TaskMetricsProvider.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-example/pom.xml
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-example/src/main/java/io/muenchendigital/digiwf/camunda/promethus/CamundaPrometheusExampleApplication.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-example/src/main/resources/application.properties
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/pom.xml
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/CamundaPrometheusAutoConfiguration.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/java/io/muenchendigital/digiwf/camunda/prometheus/MetricsConfiguration.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/resources/META-INF/spring.factories
  digiwf-libs/digiwf-camunda-prometheus/docs/screenshot.png
  digiwf-libs/digiwf-camunda-prometheus/pom.xml
  digiwf-libs/pom.xml
  pom.xml
Labels: digiwf-libs

#74 docs: github pages pipeline
  .github/workflows/release.yaml
  docs/src/.vuepress/config.js
Labels: docs

#77 fix: stop passing empty values
  CHANGELOG.md
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/AppJsonForm.vue
Labels: digiwf-apps
