Repository it-at-m/digiwf-core, pull requests merged in 2022-12, with the labels that each got.

#79 fix: user input and maxItems
  CHANGELOG.md
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/VMultiUserInput.vue
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-renderer/src/components/DwfFormRenderer.vue
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/humantask/domain/service/HumanTaskDataService.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/service/instance/domain/service/ServiceInstanceDataService.java
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/Test/custom-user-and-file-input/CustomInputProcess.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/Test/custom-user-and-file-input/Optional Custom Input.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/Test/custom-user-and-file-input/Optional Custom Input2.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/Test/custom-user-and-file-input/Optional_Custom_Inputs.bpmn
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/main/java/io/muenchendigital/digiwf/json/factory/JsonSchemaFactory.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/main/java/io/muenchendigital/digiwf/json/serialization/JsonSerializationService.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/test/java/io/muenchendigital/digiwf/json/serialization/JsonSchemaSerializationTest.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/test/java/io/muenchendigital/digiwf/json/utils/JsonSchemaTestUtils.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/test/java/io/muenchendigital/digiwf/json/validation/JsonValidatorTest.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/test/java/io/muenchendigital/digiwf/json/validation/ObjectArrayTest.java
  digiwf-libs/digiwf-json-serialization/example-json-serialization/src/main/java/io/muenchendigital/digiwf/json/serialization/controller/SerializationController.java
Labels: digiwf-engine, digiwf-libs, digiwf-apps

#81 fix: naming processes search
  CHANGELOG.md
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/Processes.vue
Labels: digiwf-apps

#75 Feat/cosys incidents
  CHANGELOG.md
  digiwf-connector/digiwf-camunda-connector-service/README.md
  digiwf-connector/digiwf-camunda-connector-service/src/main/resources/application-local.properties
  digiwf-connector/digiwf-camunda-connector-service/src/main/resources/application-streaming.properties
  digiwf-connector/digiwf-camunda-connector/src/main/java/io/muenchendigital/digiwf/camunda/connector/incident/IncidentServiceImpl.java
  digiwf-connector/digiwf-camunda-connector/src/main/java/io/muenchendigital/digiwf/camunda/connector/output/CamundaOutputClient.java
  digiwf-connector/digiwf-camunda-connector/src/main/resources/bpmn/StreamingTemplateV02.bpmn
  digiwf-connector/digiwf-connector-api/src/main/java/io/muenchendigital/digiwf/connector/api/bpmnerror/BpmnErrorEvent.java
  digiwf-connector/digiwf-connector-api/src/main/java/io/muenchendigital/digiwf/connector/api/message/CorrelateMessageEvent.java
  digiwf-connector/digiwf-connector-core/src/main/java/io/muenchendigital/digiwf/connector/incident/internal/streaming/IncidentConsumer.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/input/message/process/ThrowBpmnErrorDelegate.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application.properties
  digiwf-gateway/src/main/resources/application-local.yml
  digiwf-integrations/digiwf-cosys-integration/README.md
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/cosys/integration/api/MessageProcessor.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/io/muenchendigital/digiwf/cosys/integration/domain/service/CosysService.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/resources/application-local.properties
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/resources/application-streaming.properties
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application-local.properties
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application-streaming.properties
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/test/resources/process/CosysGenerateDocumentTest.bpmn
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/test/resources/process/CosysGenerateDocumentTest_Check.schema.json
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/test/resources/process/CosysGenerateDocumentTest_Input.schema.json
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/test/resources/process/cosys_generate_document_template_V02.json
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/src/main/java/io/muenchendigital/digiwf/cosys/integration/configuration/CosysProperties.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/io/muenchendigital/digiwf/spring/cloudstream/utils/api/streaming/bpmnerror/service/BpmnErrorService.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/io/muenchendigital/digiwf/spring/cloudstream/utils/api/streaming/incident/service/IncidentService.java
  docs/src/.vuepress/public/element-template/cosys_generate_document_template_V02.json
  docs/src/integrations/digiwf-cosys-integration/README.md
Labels: digiwf-connector, digiwf-engine, digiwf-libs, digiwf-gateway, docs, digiwf-integrations

#80 feat: add dms wsdl and mtom config
  CHANGELOG.md
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/legacy/dms/muc/external/client/DmsClient.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/legacy/dms/muc/external/configuration/WsClientConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/legacy/dms/muc/properties/DmsProperties.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application-local.properties
  digiwf-engine/digiwf-engine-service/src/main/resources/application.properties
  digiwf-engine/digiwf-engine-service/src/main/resources/dms.wsdl
Labels: digiwf-engine

#83 docs: dev setup
  dev.md
  digiwf-engine/digiwf-engine-service/README.md
Labels: digiwf-engine

#85 Feat/code coverage with jacoco
  .github/workflows/pr-labeler.yaml
  dev.md
  digiwf-coverage/pom.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/pom.xml
  pom.xml
Labels: digiwf-integrations, digiwf-coverage

#82 feat: log more information on violated json schemas
  CHANGELOG.md
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/exception/RestExceptionHandler.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/main/java/io/muenchendigital/digiwf/json/validation/JsonSchemaValidator.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/test/java/io/muenchendigital/digiwf/json/validation/JsonValidatorTest.java
Labels: digiwf-engine, digiwf-libs

#86 Fix/form input lost
  CHANGELOG.md
  digiwf-apps/lerna.json
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package.json
  digiwf-apps/packages/components/digiwf-form-builder/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder/package.json
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package-lock.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/service/definition/domain/facade/ServiceDefinitionFacade.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/service/definition/domain/service/ServiceDefinitionDataService.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/main/java/io/muenchendigital/digiwf/json/serialization/serializer/JsonSerializerImpl.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/test/java/io/muenchendigital/digiwf/json/serialization/JsonSchemaSerializationTest.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/test/resources/schema/serialization/simpleSchemaWithReadonlyFalse.json
Labels: digiwf-engine, digiwf-libs, digiwf-apps

#88 Feat/email integration example process
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/feature/email-integration-beispiel/element-templates/sendSimpleMail.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/feature/email-integration-beispiel/email-integration.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/feature/email-integration-beispiel/forms/email-integration_start.schema.json
  docs/README.md
  docs/src/.vuepress/config.js
  docs/src/.vuepress/public/element-template/sendSimpleMail.json
  docs/src/images/platform/integrations/ErrorHandlingIntegrations.drawio
  docs/src/images/platform/integrations/ErrorHandlingIntegrations.drawio.png
  docs/src/images/platform/modeling/integrations/email-integration.PNG
  docs/src/integrations/error-handling/README.md
  docs/src/modeling/integrations/email/index.md
  docs/src/modeling/templates/element-templates/index.md
Labels: digiwf-engine, docs

#89 Combine Validation Methon with ErrorExtraction
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/humantask/domain/service/HumanTaskDataService.java
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/humantask/domain/service/HumanTaskDataServiceTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/jsonschema/BasicSchemaTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/testutils/Helper.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/main/java/io/muenchendigital/digiwf/json/validation/JsonSchemaValidator.java
Labels: digiwf-engine, digiwf-libs

#96 Version Bump Apps 21.3
  digiwf-apps/lerna.json
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package.json
  digiwf-apps/packages/components/digiwf-form-builder/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder/package.json
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package-lock.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
Labels: digiwf-apps

#90 Docu/cosys modelling
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/feature/cosys/CosysGenerateDocumentTest.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/feature/cosys/CosysGenerateDocumentTestV02.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/feature/cosys/CosysGenerateDocumentTest_Check.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/feature/cosys/CosysGenerateDocumentTest_Input.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/feature/cosys/CosysGenerateDocumentTest_Start.schema.json
  digiwf-integrations/digiwf-cosys-integration/README.md
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/test/resources/process/CosysGenerateDocumentTestV02.bpmn
  docs/src/.vuepress/config.js
  docs/src/.vuepress/public/bpmn/StreamingTemplateV01.bpmn
  docs/src/.vuepress/public/bpmn/StreamingTemplateV02.bpmn
  docs/src/.vuepress/public/element-template/cosys_generate_document_template_V02.json
  docs/src/documentation/featureprocesses/cosys/README.md
  docs/src/documentation/featureprocesses/cosys/check-form.png
  docs/src/documentation/featureprocesses/cosys/cosys-feature-process.png
  docs/src/documentation/featureprocesses/cosys/input-form.png
  docs/src/documentation/featureprocesses/digiwferleben/README.md
  docs/src/documentation/featureprocesses/email/README.md
  docs/src/documentation/featureprocesses/intro.md
  docs/src/images/platform/integrations/ErrorHandlingIntegrations.drawio
  docs/src/images/platform/modeling/integrations/email-integration.png
  docs/src/modeling/integrations/cosys/index.md
  docs/src/modeling/templates/bpmn/index.md
  docs/src/modeling/templates/element-templates/index.md
Labels: digiwf-engine, docs, digiwf-integrations
