Repository it-at-m/digiwf-core, pull requests merged in 2023-02, with the labels that each got.

#134 adapt to https://github.com/it-at-m/oss-repository-en-template
  README.md
  images/logo.png
Labels: images

#149 Bugfix/147 uppercase groups will not found stephan
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/humantask/infrastructure/repository/ActRuGroupTaskSearchRepository.java
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/humantask/infrastructure/repository/ActRuGroupTaskSearchRepositoryTest.java
Labels: digiwf-engine

#136 Bugfix/missing pagination footer in processes view
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/AppPageableList.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/AppPaginationFooter.vue
Labels: digiwf-apps

#150 #523: fix add case-insensitive search
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/humantask/infrastructure/repository/ActRuTaskCriteriaProvider.java
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/humantask/infrastructure/repository/ActRuTaskSearchRepositoryTest.java
Labels: digiwf-engine

#105 #507: added process for testing all input fields
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-input-fields-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-inputs.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/start-form-all-inputs-usertask.schema.json
Labels: digiwf-engine

#101 fix: increase info description column size
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/V19__IncreaseInfoDescriptionSize.sql
Labels: digiwf-engine

#152 fix: remove assigned
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/ProcessInstanceDetailView.vue
Labels: digiwf-apps

#148 Fix/simplify application properties
  dev.md
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/legacy/mailing/domain/configuration/MailConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application-loadtest.properties
  digiwf-engine/digiwf-engine-service/src/main/resources/application-local.properties
  digiwf-engine/digiwf-engine-service/src/main/resources/application-local.yml
  digiwf-engine/digiwf-engine-service/src/main/resources/application-streaming.properties
  digiwf-engine/digiwf-engine-service/src/main/resources/application-streaming.yml
  digiwf-engine/digiwf-engine-service/src/main/resources/application.properties
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/h2/V1__engine_7.18.0.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/h2/V2__identity_7.18.0.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/h2/V3__digiwf.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V10__StartContext.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V11__TaskInfo.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V12__Userid.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V14__camunda_7.14_to_7.15.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V15__camunda_7.15_to_7.16.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V16__camunda_7.16_to_7.17.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V17__camunda_7.17_to_7.18.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V18__Filter.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V1__Initial.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V2__0_9_0.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V3__File.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V4__camunda.engine.7.14.0.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V5__camunda_7.14.2_to_7.14.3.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V6__Info.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V7__ProcessInstanceInfo.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V8__JsonSchema.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V9__ProcInstInfo_Removaltime.sql
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/humantask/infrastructure/repository/ActRuGroupTaskSearchRepositoryTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/humantask/infrastructure/repository/ActRuTaskSearchRepositoryTest.java
  digiwf-engine/digiwf-engine-service/src/test/resources/application-test.yml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/resources/application-local.properties
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/resources/application.properties
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application-local.properties
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application-streaming.properties
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application.properties
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-email-integration/docker-compose.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/resources/application-local.properties
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/resources/application-streaming.properties
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/resources/application.properties
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/resources/logback-spring.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/resources/s3-client.http
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-example/src/main/resources/application-local.properties
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-example/src/main/resources/application-streaming.properties
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-example/src/main/resources/application.properties
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-example/src/main/resources/logback-spring.xml
  stack/local-docker.env
Labels: digiwf-engine, digiwf-integrations, stack

#169 Feature/local development
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/SwaggerConfig.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application-local.yml
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-schema-registry/digiwf-schema-registry-client/.swagger-codegen-ignore
  stack/README.md
  stack/local-docker.env
Labels: digiwf-schema-registry, digiwf-engine, stack

#162 #532: set page to 0 when changing search term
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/paginationData.ts
Labels: digiwf-apps
