Repository it-at-m/digiwf-core, pull requests merged in 2023-06, with the labels that each got.

#392 bugfix(#363): trigger task update event by fetching and saving the task
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/engine/RemoteTaskCommandRestAdapter.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/engine/RemoteTaskCommandRestAdapterTest.java
Labels: digiwf-task

#393 add ce profile
  digiwf-engine/digiwf-engine-service/pom.xml
  docs/src/documentation/guides/technical-setup/README.md
Labels: digiwf-engine, docs

#394 Bugfix/case insensitive groups
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/io/muenchendigital/digiwf/task/listener/AssignmentCreateTaskListener.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/listener/AssignmentCreateTaskListenerTest.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/auth/CurrentUserSpringSecurityAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/user/LdapUserGroupResolverAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/user/MockUserGroupResolverAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/port/out/user/UserGroupResolverPort.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/user/LdapUserGroupResolverAdapterTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/user/UserGroupResolverIntegrationTest.java
Labels: digiwf-task

#395 #391: fix classic button click
  digiwf-apps/packages/apps/digiwf-tasklist/src/App.vue
Labels: digiwf-apps

#396 Feature/#292 taskservice s3 integration fuer user tasks
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/GroupTaskDetail.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
  digiwf-apps/packages/components/digiwf-multi-file-input/src/apiClient/engineCalls.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/src/apiClient/taskServiceCalls.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfMultiFileInput.vue
  digiwf-apps/packages/components/digiwf-multi-file-input/src/middleware/presignedUrls.ts
  digiwf-apps/packages/components/digiwf-task-api-internal/src/api/api.ts
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/archive/Test/TestControlFileInput.bpmn
  digiwf-task/digiwf-task-api/src/main/java/io/muenchendigital/digiwf/task/TaskVariables.java
  digiwf-task/digiwf-tasklist-service/pom.xml
  digiwf-task/digiwf-tasklist-service/src/main/api/openapi.yml
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/in/rest/impl/FileApiDelegateImpl.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/file/ConflictingResourceException.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/file/NoFileContextException.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/file/PresignedUrlAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/file/S3Properties.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/file/TaskFileConfigResolverAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/port/in/WorkOnTaskFile.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/port/out/file/PresignedUrlPort.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/port/out/file/TaskFileConfigResolverPort.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/usecase/WorkOnTaskFileUseCase.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/usecase/WorkOnUserTaskUseCase.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/domain/IllegalResourceAccessException.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/domain/PresignedUrlAction.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/domain/TaskFileConfig.java
  digiwf-task/digiwf-tasklist-service/src/main/resources/application.yml
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/in/rest/FileOperationsIT.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/file/PresignedUrlAdapterTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/file/TaskFileConfigResolverAdapterTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/application/usecase/WorkOnTaskFileUseCaseTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/domain/TaskFileConfigTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/infra/file/S3MockConfiguration.java
Labels: digiwf-engine, digiwf-task, digiwf-apps

#397 #389: fix save before leave bug
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/StartProcess.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
Labels: digiwf-apps

#404 #401: fix wrong feature toggle logic
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
Labels: digiwf-apps

#405 fix: group task assignment
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/tasks/tasksApiCalls.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
Labels: digiwf-apps

#417 #391: update feature toggle logic
  digiwf-apps/packages/apps/digiwf-tasklist/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/main.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/featureToggles.ts
Labels: digiwf-apps

#415 #413: fix wrong date format in input string. fix wrong transformation…
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/time.spec.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/time.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
Labels: digiwf-apps

#418 #406 fix group query based on candidate users
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/.openapi-generator/api-docs.json-cosys-api.sha256
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/.openapi-generator/api-docs.json-document-storage-api.sha256
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/polyflow/PolyflowTaskQueryAdapter.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/in/rest/RetrieveTasksIT.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/polyflow/PolyflowTaskQueryAdapterTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/application/usecase/RetrieveTasksForUserUseCaseTest.java
  digiwf-task/pom.xml
  stack/docker-compose.yml
Labels: digiwf-task, digiwf-integrations, stack

#416 Bugfix/#339 neuer custom date input zeigt daten nicht an
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/components/digiwf-date-input/src/components/DwfDateInput.vue
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/FormFields.ts
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/custom-date-fields/custom-date-input-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/custom-date-fields/custom-date-input.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/custom-date-fields/start-form-custom-date-input-usertask.schema.json
Labels: digiwf-engine, digiwf-apps

#420 chore: fix docker compose setup
  stack/docker-compose.yml
Labels: stack

#426 feature(#425): update feature toggle cookie
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/featureToggles.ts
Labels: digiwf-apps

#427 #413: added followUpdate formatted to mapper
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/TaskFollowUpDialog.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/TaskItem.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMapper.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/tasksModels.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/time.spec.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/time.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
Labels: digiwf-apps

#434 #170 tasklist fix main content overflow
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/AppViewLayout.vue
Labels: digiwf-apps

#422 Test/cypress/tl 1 anzeigen vorgaenge
  digiwf-cypress/cypress/e2e/TL-1-Anzeigen-Vorgaenge.cy.js
  digiwf-cypress/cypress/e2e/was_ist_digiwf.cy.js
  digiwf-cypress/cypress/pages/startDigiWFErleben.js
  digiwf-cypress/cypress/pages/vorgangStarten.js
Labels: digiwf-cypress

#445 fix: connector camunda bpm client configs
  digiwf-connector/digiwf-camunda-connector-service/src/main/resources/application.properties
Labels: digiwf-connector

#433 #386: invert logic of follow up checkbox
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/Tasks.vue
Labels: digiwf-apps

#429 #340: fix typos in DMS forms
  digiwf-engine/digiwf-engine-service/src/main/resources/bausteine/dms/dokumentstornieren/DokumentStornieren_FehlerPruefenV01.form.json
  digiwf-engine/digiwf-engine-service/src/main/resources/bausteine/dms/vorganganlegen/VorgangAnlegen_FehlerPruefenMitUserAuswahlV01.form.json
Labels: digiwf-engine

#453 Fix Task Sort
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/domain/PagingAndSorting.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/polyflow/PolyflowTaskQueryAdapterTest.java
Labels: digiwf-task

#457 Fix S3 Env in Task-Service
  digiwf-task/digiwf-tasklist-service/src/main/resources/application.yml
Labels: digiwf-task

#455 #442,#440,#458 add missing array, multiselect, multiuser input validation
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/FormFields.ts
Labels: digiwf-apps

#471 :Ambulance: #469 Fix Cancable-Tasks without Error-Code
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/io/muenchendigital/digiwf/task/listener/CancelableTaskStatusCreateTaskListener.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/listener/CancelableTaskStatusCreateTaskListenerTest.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/resources/process_cancelable_user_task_no_errorcode.bpmn
Labels: digiwf-task

#470 #466 task importer fix enrich wrong task query
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/io/muenchendigital/digiwf/task/importer/TaskImporterService.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/importer/TaskImporterServiceTest.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/listener/CancelableTaskStatusCreateTaskListenerTest.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/resources/process_importer_service.bpmn
Labels: digiwf-task

#467 Docs S3 Config update
  docs/src/modeling/processes/config/README.md
Labels: docs

#478 #464: increase version of vjsf
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
Labels: digiwf-apps

#430 #385: invert order of tasks
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/tasks/tasksApiCalls.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/humantask/api/resource/HumanTaskRestController.java
Labels: digiwf-engine, digiwf-task, digiwf-apps

#485 Bugfix/npe task enrichment
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/.openapi-generator/VERSION
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/.openapi-generator/VERSION
  digiwf-schema-registry/digiwf-schema-registry-client/.openapi-generator/VERSION
  digiwf-schema-registry/digiwf-schema-registry-client/src/main/java/io/muenchendigital/digiwf/schema/registry/gen/ApiClient.java
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/io/muenchendigital/digiwf/task/importer/TaskImporterService.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/importer/TaskImporterServiceTest.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/listener/AssignmentCreateTaskListenerTest.java
Labels: digiwf-schema-registry, digiwf-task, digiwf-integrations

#465 Feature/#497 process api pagination
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/processDefinitions/processDefinitionApiCalls.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/processInstances/processInstancesApiCalls.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/common/SearchField.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/process/ProcessDefinitionItem.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/process/ProcessInstanceItem.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/GroupTaskItem.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/TaskList.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/commonModels.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/pageId.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/paginationData.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/processDefinitions/processDefinitionMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/processInstances/processInstancesMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMapper.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/router.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/index.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/processDefinitions.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/processInstances.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/ProcessDefinitions.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/ProcessInstances.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/Processes.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/StartProcess.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/Tasks.vue
  digiwf-apps/packages/components/digiwf-engine-api-internal/api/api-docs.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/src/api/api.ts
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/process/definition/api/mapper/ServiceDefinitionApiMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/process/definition/api/resource/ServiceDefinitionController.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/process/definition/domain/facade/ServiceDefinitionFacade.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/process/definition/domain/mapper/ServiceDefinitionPageMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/process/instance/api/mapper/ProcessInstancePageMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/process/instance/api/mapper/ServiceInstanceApiMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/process/instance/api/resource/ServiceInstanceController.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/process/instance/domain/service/ServiceInstanceAuthService.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/process/instance/domain/service/ServiceInstanceService.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/process/instance/infrastructure/repository/ProcessInstanceAuthorizationRepository.java
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/process/definition/domain/mapper/ServiceDefinitionPageMapperTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/process/instance/api/mapper/ProcessInstancePageMapperTest.java
Labels: digiwf-engine, digiwf-apps

#480 Feature/#460 exit timer
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-input-fields-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-integration.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/group-tasks/grouptask-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/group-tasks/start-form-grouptask.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/S3TestProzess.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/user-tasks/start-form-usertask.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/user-tasks/usertask-process.bpmn
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/process/ExampleProcessExitTimerTest.java
  digiwf-engine/digiwf-engine-service/src/test/resources/dummy/StreamingTemplateV01.bpmn
Labels: digiwf-engine

#491 fix: 487 set empty assignee to null
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/io/muenchendigital/digiwf/task/listener/AssignmentAssignTaskListener.java
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/io/muenchendigital/digiwf/task/listener/AssignmentCreateTaskListener.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/listener/AssignmentAssignTaskListenerTest.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/listener/AssignmentCreateTaskListenerTest.java
Labels: digiwf-task

#490 #481: add first general error handling when task schema is invalid
  digiwf-apps/packages/apps/digiwf-tasklist/.eslintrc.js
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/tasks/tasksApiCalls.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/finishedTaskFilter.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/tasksModels.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/schema/JsonSchemaValidationAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/port/out/schema/JsonSchemaValidationPort.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/usecase/WorkOnUserTaskUseCase.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/domain/JsonSchemaValidationException.java
Labels: digiwf-task, digiwf-apps
