Repository it-at-m/digiwf-core, pull requests merged in 2023-09, with the labels that each got.

#631 #584: custom mail template on user task
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListener.java
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/custom-mail-notification-user-task/start-form-usertask.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/custom-mail-notification-user-task/user-task.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/custom-mail-notification-user-task/usertask-process.bpmn
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListenerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListenerV02Test.java
  digiwf-task/digiwf-task-api/src/main/java/de/muenchen/oss/digiwf/task/TaskVariables.java
Labels: digiwf-engine, digiwf-task

#645 bugfix(#643): fixing security for service accounts in local development
  digiwf-connector/digiwf-camunda-connector-service/pom.xml
  digiwf-connector/digiwf-camunda-connector-service/src/main/java/de/muenchen/oss/digiwf/connector/CamundaSecurityConfig.java
  digiwf-connector/digiwf-camunda-connector-service/src/main/resources/application-local.properties
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/user/domain/service/MockUserServiceImpl.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/configuration/camunda/CamundaUserAuthenticationFilter.java
  stack/local-docker.env
Labels: digiwf-connector, digiwf-engine, stack

#652 Feature/secure cockpit
  digiwf-engine/digiwf-engine-cockpit/src/main/java/de/muenchen/oss/digiwf/cockpit/security/camunda/CsrfDisablingConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application-local.yml
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/src/main/java/de/muenchen/oss/digiwf/spring/security/SecurityConfiguration.java
Labels: digiwf-engine, digiwf-libs

#653 example processes use task template
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/group-tasks/grouptask-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/user-tasks/usertask-process.bpmn
Labels: digiwf-engine

#651 refactor(#650): switch gateway port to localhost:8083
  digiwf-apps/packages/apps/digiwf-tasklist/.env.development
  digiwf-apps/packages/apps/digiwf-tasklist/vite.config.ts
  digiwf-apps/packages/components/digiwf-engine-api-internal/api/api-docs.json
  digiwf-cypress/cypress.config.js
  docs/src/documentation/components/frontend.md
  docs/src/documentation/guides/technical-setup/README.md
  stack/docker-compose.yml
  stack/keycloak/04_engine.yml
  stack/local-docker.env
Labels: digiwf-apps, docs, stack, digiwf-cypress, refactoring

#654 Bugfix(#649): fix ldap ou tree queries
  digiwf-engine/digiwf-engine-cockpit/src/main/java/de/muenchen/oss/digiwf/cockpit/security/authorization/DefaultAuthorizationInitializer.java
  digiwf-engine/digiwf-engine-cockpit/src/main/java/de/muenchen/oss/digiwf/cockpit/security/spring/CamundaWebAppsSecurityConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/user/external/client/LhmLdapClient.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/user/external/client/query/LdapQueryFactory.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/user/external/configuration/LdapTemplateConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/configuration/camunda/CamundaAuthenticationFilterConfiguration.java
Labels: bug, digiwf-engine

#570 bump mvn 0.18.1
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/streaming/MessageProcessor.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/java/de/muenchen/oss/digiwf/s3/integration/ServiceIntegrationTest.java
Labels: digiwf-connector, digiwf-schema-registry, digiwf-engine, digiwf-task, digiwf-libs, digiwf-process, digiwf-apps, digiwf-gateway, docs, digiwf-integrations, digiwf-coverage

#665 refactor: enable status document for example processes
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-input-fields-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-input-fields-process.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/group-tasks/grouptask-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/group-tasks/grouptask-process.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/user-tasks/usertask-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/user-tasks/usertask-process.processconfig.json
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/ExampleProcessExitTimerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/ProcessMock.java
Labels: digiwf-engine

#656 Bugfix/#640 add post and put endpoint to taskcontroller
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/api/resource/HumanTaskRestController.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/api/transport/CompleteTO.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/api/transport/SaveTO.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/service/HumanTaskDataService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/service/HumanTaskService.java
Labels: digiwf-engine

#605 docs: feature process email
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-example-V02/email-example-V02.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-example-V02/forms/email-example-V02_start.schema.json
  docs/src/.vuepress/config.js
  docs/src/documentation/featureprocesses/email/README.md
  docs/src/documentation/featureprocesses/email/Startformular.png
  docs/src/documentation/featureprocesses/email/email-feature-process.png
  docs/src/documentation/featureprocesses/email/fehlermeldung-pruefen.png
Labels: digiwf-engine, docs

#682 docs(#542): add docs to tag task feature
  docs/src/modeling/processes/modeling/README.md
Labels: docs

#686 remove indexes for process info and process auth
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V22__add_indexes_to_process_instance_tables.sql
Labels: digiwf-engine

#693 fix all fields example process status change typo
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-input-fields-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/S3TestProzess.bpmn
Labels: digiwf-engine

#680 Feature/task candidate changes from cockpit
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-engine/digiwf-engine-cockpit/pom.xml
  digiwf-engine/digiwf-engine-cockpit/src/main/java/de/muenchen/oss/digiwf/cockpit/security/authorization/AuthorizationHelper.java
  digiwf-engine/digiwf-engine-cockpit/src/main/java/de/muenchen/oss/digiwf/cockpit/security/authorization/DefaultAuthorizationInitializer.java
  digiwf-engine/digiwf-engine-cockpit/src/main/resources/application-webapps.yml
  digiwf-engine/digiwf-engine-cockpit/src/main/resources/static/app/admin/scripts/config.js
  digiwf-engine/digiwf-engine-cockpit/src/main/resources/static/app/cockpit/scripts/config.js
  digiwf-engine/digiwf-engine-cockpit/src/main/resources/static/app/welcome/scripts/config.js
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-engine/digiwf-engine-service/src/main/resources/application-local.yml
  digiwf-gateway/src/main/resources/application-docker.yml
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/de/muenchen/oss/digiwf/task/listener/AssignmentAssignTaskListener.java
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/de/muenchen/oss/digiwf/task/listener/AssignmentCreateTaskListener.java
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/de/muenchen/oss/digiwf/task/listener/TaskUtil.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/de/muenchen/oss/digiwf/task/listener/AssignmentAssignTaskListenerTest.java
  stack/keycloak/12_johndoe_camunda-admin.yml
Labels: digiwf-engine, digiwf-task, digiwf-apps, digiwf-gateway, stack, feature

#608 #571: add tests for date picker
  digiwf-apps/packages/components/digiwf-date-input/jest.config.js
  digiwf-apps/packages/components/digiwf-date-input/package-lock.json
  digiwf-apps/packages/components/digiwf-date-input/package.json
  digiwf-apps/packages/components/digiwf-date-input/src/components/DwfDateInput.vue
  digiwf-apps/packages/components/digiwf-date-input/src/validation/dateValidation.spec.ts
  digiwf-apps/packages/components/digiwf-date-input/src/validation/dateValidation.ts
  digiwf-apps/packages/components/digiwf-date-input/tsconfig.json
Labels: digiwf-apps, feature

#695 #694 fix candidate change listener for task creation
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/de/muenchen/oss/digiwf/task/listener/AssignmentAssignTaskListener.java
Labels: bug, digiwf-task

#696 release: apps v1.0.0
  .github/workflows/build-apps.yaml
  .github/workflows/workflow-bump-version.yaml
  .github/workflows/workflow-release-apps.yaml
  digiwf-apps/LICENSE.md
  digiwf-apps/lerna.json
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/components/digiwf-date-input/package-lock.json
  digiwf-apps/packages/components/digiwf-date-input/package.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package.json
  digiwf-apps/packages/components/digiwf-form-builder/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder/package.json
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package-lock.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
  digiwf-apps/packages/components/digiwf-task-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-task-api-internal/package.json
Labels: digiwf-apps

#687 feature(#681): add get processconfig api
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/infrastructure/EventEmitterConfiguration.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/process/service/StartProcessService.java
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/pom.xml
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/src/main/java/de/muenchen/oss/digiwf/spring/security/client/DigiwfFeignOauthClientConfig.java
  digiwf-process/digiwf-process-api/pom.xml
  digiwf-process/digiwf-process-api/src/main/java/de/muenchen/oss/digiwf/process/api/config/api/ProcessConfigApi.java
  digiwf-process/digiwf-process-api/src/main/java/de/muenchen/oss/digiwf/process/api/config/api/dto/ConfigEntryTO.java
  digiwf-process/digiwf-process-api/src/main/java/de/muenchen/oss/digiwf/process/api/config/api/dto/ProcessConfigTO.java
  digiwf-process/digiwf-process-api/src/main/java/de/muenchen/oss/digiwf/process/api/config/api/dto/StatusConfigTO.java
  digiwf-process/digiwf-process-api/src/main/java/de/muenchen/oss/digiwf/process/api/config/impl/ProcessConfigApiImpl.java
  digiwf-process/digiwf-process-api/src/main/java/de/muenchen/oss/digiwf/process/api/config/impl/ProcessConfigClient.java
  digiwf-process/digiwf-process-api/src/main/java/de/muenchen/oss/digiwf/process/api/start/StartProcess.java
  digiwf-process/digiwf-process-api/src/main/java/de/muenchen/oss/digiwf/process/api/start/StartProcessEvent.java
  digiwf-process/digiwf-process-api/src/test/java/de/muenchen/oss/digiwf/process/api/config/ProcessConfigApiImplTest.java
  digiwf-process/digiwf-process-example/pom.xml
  digiwf-process/digiwf-process-example/src/main/java/de/muenchen/oss/digiwf/DigiwfProcessExample.java
  digiwf-process/digiwf-process-example/src/main/java/de/muenchen/oss/digiwf/TestController.java
  digiwf-process/digiwf-process-example/src/main/resources/application.yml
  digiwf-process/digiwf-process-starter/pom.xml
  digiwf-process/digiwf-process-starter/src/main/java/de/muenchen/oss/digiwf/process/api/ProcessApiAutoConfiguration.java
  digiwf-process/digiwf-process-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-process/pom.xml
  docs/src/.vuepress/config.js
  docs/src/documentation/libs/digiwf-spring-security/README.md
Labels: digiwf-libs, digiwf-process, docs, feature

#700 fix: dev build
  digiwf-apps/pom.xml
  digiwf-process/digiwf-process-example/pom.xml
  digiwf-process/digiwf-process-starter/pom.xml
Labels: bug, digiwf-process, digiwf-apps

#705 #228 rm input empty string default value
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionDataService.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/schema/JsonSchemaValidationAdapter.java
Labels: digiwf-engine, digiwf-task, feature

#599 feat: DMS init branch
  .github/workflows/workflow-release-services.yaml
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/dms-integration-create-vorgang.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/element-templates/createProcedure.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/forms/dms-integration-create-vorgang_start.schema.json
  digiwf-integrations/digiwf-dms-integration/README.md
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CreateProcedureDto.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/DMSStatusCode.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftClientConfiguration.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftProperties.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/CreateProcedureUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/out/ProcedureRepository.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/CreateProcedureService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/domain/Procedure.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/service/CreateProcedureServiceTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft-api/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft-api/src/main/resources/binding.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft-api/src/main/resources/fabasoft.wsdl
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/Dockerfile
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/DigiwfDmsIntegrationApplication.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/logback-spring.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/java/de/muenchen/oss/digiwf/dms/integration/configuration/DmsAutoConfiguration.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/resources/META-INF/spring.factories
  digiwf-integrations/digiwf-dms-integration/pom.xml
  digiwf-integrations/pom.xml
  digiwf-libs/digiwf-message/digiwf-message-core/src/main/java/de/muenchen/oss/digiwf/message/infra/RoutingCallback.java
  docs/src/.vuepress/config.js
  docs/src/.vuepress/public/element-template/createProcedure.json
  docs/src/integrations/digiwf-dms-integration.md
  stack/docker-compose.yml
  stack/local-docker.env
Labels: digiwf-engine, digiwf-libs, docs, digiwf-integrations, stack, feature

#709 bugfix: configure security for s3-client in digiwf-engine
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/src/api/api.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/src/middleware/presignedUrls.ts
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/application.yml
Labels: bug, digiwf-engine, digiwf-apps, digiwf-integrations

#721 bugfix: fix multifile-input component
  digiwf-apps/packages/components/digiwf-engine-api-internal/src/api/api.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/src/middleware/presignedUrls.ts
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/application.yml
Labels: digiwf-engine, digiwf-apps, digiwf-integrations

#727 Revert "chore(deps): bump codecov/codecov-action from 3 to 4 (#704)"
  .github/workflows/build-services.yaml
Labels: bug

#729 refactoring(#276): improve mino dev setup
  dev.md
  stack/README.md
  stack/docker-compose.yml
  stack/local-docker.env
Labels: stack, refactoring

#730 feature(#639): fab egov integration upload document from s3
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration-upload-s3/dms-integration-create-document.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration-upload-s3/dms-integration-s3.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration-upload-s3/element-templates/createDocument.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration-upload-s3/forms/dms-integration-create-document_start.schema.json
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CreateDocumentDto.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/DMSErrorHandler.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftClientConfiguration.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/s3/S3Adapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/CreateDocumentUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/out/LoadFilePort.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/out/ProcedureRepository.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/CreateDocumentService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/domain/Content.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/domain/Document.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/domain/DocumentType.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/DMSErrorHandlerTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/s3/S3AdapterTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/service/CreateDocumentServiceTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/resources/files/fail/test-html.html
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/resources/files/test/digiwf_logo.png
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/resources/files/test/test-pdf.pdf
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/resources/files/test/test-word.docx
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/java/de/muenchen/oss/digiwf/dms/integration/configuration/DmsAutoConfiguration.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/java/de/muenchen/oss/digiwf/dms/integration/configuration/DmsProperties.java
  digiwf-process/digiwf-process-api/src/main/java/de/muenchen/oss/digiwf/process/api/config/ProcessConfigConstants.java
  digiwf-process/digiwf-process-starter/src/main/java/de/muenchen/oss/digiwf/process/api/ProcessApiAutoConfiguration.java
  docs/src/.vuepress/public/element-template/createDocument.json
  docs/src/integrations/digiwf-dms-integration.md
  stack/local-docker.env
Labels: digiwf-engine, digiwf-process, docs, digiwf-integrations, stack, feature

#736 #717 fix apps tasklist html language
  digiwf-apps/packages/apps/digiwf-tasklist/index.html
Labels: digiwf-apps

#723 #701: remove unnecessary input listener for native input element
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/VMultiUserInput.vue
Labels: bug, digiwf-apps

#707 Test/cypress/tl 5 current tasks
  digiwf-cypress/cypress/e2e/TL-5-Vorgaege-Anzeigen.cy.js
  digiwf-cypress/cypress/pages/aktuelleVorgaenge.js
  digiwf-cypress/cypress/pages/page.js
  digiwf-cypress/cypress/pages/vorgangStarten.js
  digiwf-cypress/cypress/pages/workflowUserTask.js
Labels: digiwf-cypress

#728 Bugfix/726 cleanup
  .github/dependabot.yml
  digiwf-coverage/pom.xml
  digiwf-engine/digiwf-engine-service/src/test/resources/application-test.yml
  digiwf-gateway/src/test/resources/application-test.yml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/adapter/out/S3Adapter.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/test/resources/logback-test.xml
  digiwf-integrations/digiwf-dms-integration/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/out/S3Adapter.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/resources/logback-test.xml
  digiwf-integrations/digiwf-email-integration/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/java/de/muenchen/oss/digiwf/s3/integration/ServiceIntegrationTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/resources/application-itest.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/resources/logback-test.xml
  digiwf-schema-registry/digiwf-schema-registry-service/pom.xml
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/application/usecase/WorkOnTaskFileUseCase.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/adapter/in/rest/FileOperationsIT.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/adapter/in/rest/RetrieveTasksIT.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/adapter/in/rest/TaskOperationsIT.java
  digiwf-task/digiwf-tasklist-service/src/test/resources/application-itest.yml
  pom.xml
Labels: bug, digiwf-schema-registry, digiwf-engine, digiwf-task, digiwf-gateway, digiwf-integrations, digiwf-coverage

#790 docs(#510): formserver test process
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/formserver-example/formserver-example.config.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/formserver-example/formserver-test.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/formserver-example/start.schema.json
Labels: digiwf-engine

#772 bugfix(#771): outree causes server error
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/user/external/client/LhmLdapClient.java
Labels: bug, digiwf-engine
