Repository it-at-m/digiwf-core, pull requests merged in 2023-03, with the labels that each got.

#187 chore: update auto generated ressources
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/.openapi-generator/VERSION
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/io/muenchendigital/digiwf/cosys/integration/gen/api/DatapoolApi.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/io/muenchendigital/digiwf/cosys/integration/gen/api/DataproviderApi.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/io/muenchendigital/digiwf/cosys/integration/gen/api/DefaultApi.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/io/muenchendigital/digiwf/cosys/integration/gen/api/GenerationApi.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/io/muenchendigital/digiwf/cosys/integration/gen/api/WebformApi.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/.openapi-generator/VERSION
  digiwf-schema-registry/digiwf-schema-registry-client/.openapi-generator/VERSION
Labels: digiwf-schema-registry, digiwf-integrations

#198 Feature/#487 date input via keyboard
  digiwf-apps/lerna.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-forms-example/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/AppJsonForm.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/AppJsonRenderer.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/main.ts
  digiwf-apps/packages/components/digiwf-date-input/components.d.ts
  digiwf-apps/packages/components/digiwf-date-input/package-lock.json
  digiwf-apps/packages/components/digiwf-date-input/package.json
  digiwf-apps/packages/components/digiwf-date-input/shims-tsx.d.ts
  digiwf-apps/packages/components/digiwf-date-input/shims-vue.d.ts
  digiwf-apps/packages/components/digiwf-date-input/src/components/DwfDateInput.vue
  digiwf-apps/packages/components/digiwf-date-input/src/index.ts
  digiwf-apps/packages/components/digiwf-date-input/tsconfig.json
  digiwf-apps/packages/components/digiwf-date-input/types/index.d.ts
  digiwf-apps/packages/components/digiwf-date-input/vite.config.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/ModelerPalette.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/ModelerPalette.ts
  digiwf-apps/packages/components/digiwf-form-renderer/src/components/DwfFormRenderer.vue
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-inputs.schema.json
  stack/.gitignore
Labels: digiwf-engine, digiwf-apps, stack

#217 docs: use digiwf logo
  docs/src/.vuepress/public/digiwf_logo.png
  docs/src/index.md
Labels: docs

#206 chore: clean up properties
  digiwf-engine/digiwf-engine-service/src/main/resources/application-streaming.yml
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application.yml
Labels: digiwf-engine, digiwf-integrations

#172 Feature/local development
  .github/workflows/release.yaml
  digiwf-apps/packages/apps/digiwf-tasklist/.env.development
  digiwf-apps/packages/apps/digiwf-tasklist/.env.production
  digiwf-apps/packages/apps/digiwf-tasklist/vite.config.ts
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/legacy/user/domain/service/MockUserServiceImpl.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/CachingConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/CamundaAuthenticationFilterConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/CustomUserInfoTokenServices.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/NoSecurityCamundaAuthenticationFilterConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/NoSecurityCamundaConfig.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/NoSecurityConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/SecurityCamundaConfig.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/SecurityConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/SwaggerConfig.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/security/AppAuthenticationProvider.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/security/CamundaUserAuthenticationFilter.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/security/NoSecurityCamundaUserAuthenticationFilter.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/security/NoSecurityUserAuthenticationProvider.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/security/RequestResponseLoggingFilter.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/security/UserAuthenticationProviderImpl.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-gateway/pom.xml
  digiwf-gateway/src/main/java/io/muenchendigital/digiwf/gateway/ApiGatewayApplication.java
  digiwf-gateway/src/main/resources/application-docker.yml
  digiwf-gateway/src/main/resources/application-local-docker.yml
  digiwf-gateway/src/main/resources/application-local.yml
  digiwf-gateway/src/main/resources/application-test.yml
  digiwf-gateway/src/main/resources/application.yml
  digiwf-gateway/src/main/resources/banner.txt
  docs/package-lock.json
  docs/package.json
  docs/src/documentation/guides/technical-setup/README.md
  docs/src/guides/custom-integration-service/README.md
  docs/src/guides/technical-setup/README.md
  docs/src/images/platform/guides/technical-setup/docker-ps-output.png
  docs/src/images/platform/guides/technical-setup/docker-setup.drawio
  docs/src/images/platform/guides/technical-setup/docker-setup.png
  stack/README.md
  stack/docker-compose.yml
  stack/keycloak/01_initial-realm.yml
  stack/keycloak/02_johndoe.yml
  stack/keycloak/03_task-management.yml
  stack/keycloak/04_engine.yml
  stack/keycloak/05_engine_protocol_mapper.yml
  stack/keycloak/keycloak-changelog.yml
  stack/local-docker.env
  stack/nginx.conf
Labels: digiwf-engine, digiwf-apps, digiwf-gateway, docs, stack

#232 fix(local-env): minor fixes
  stack/README.md
  stack/docker-compose.yml
  stack/local-docker.env
Labels: stack

#238 fix/configurations
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
Labels: digiwf-engine

#231 Bugfix/#439 default value in option content
  digiwf-apps/packages/components/digiwf-form-builder/components.d.ts
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalFieldsContainer.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalItem.vue
  digiwf-apps/packages/components/digiwf-form-builder/src/components/DwfFormOptionalObjectContainer.vue
Labels: digiwf-apps

#250 fix(local-setup): docker compose wait for init-keycloak to finish before starting digiwf-gateway
  stack/docker-compose.yml
Labels: stack

#256 HOTFIX: add user info mapper
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/JwtUserInfoAuthenticationConverter.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/SecurityConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/UserInfoAuthoritiesService.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
Labels: digiwf-engine
