Repository it-at-m/digiwf-core, pull requests merged in 2023-11, with the labels that each got.

#913 Add relative Path
  docs/src/modeling/plattform/artefact/README.md
Labels: docs

#892 feature: migrate digiwf-libs to spring-boot 3
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-core/pom.xml
  digiwf-integrations/digiwf-integration-parent/pom.xml
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/java/de/muenchen/oss/digiwf/camunda/prometheus/CamundaPrometheusAutoConfiguration.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-libs/digiwf-camunda-prometheus/pom.xml
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-starter/src/main/resources/META-INF/spring.factories
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-libs/digiwf-json-serialization/example-json-serialization/example-requests/deserialize-example-requests.http
  digiwf-libs/digiwf-json-serialization/example-json-serialization/example-requests/serialize-example-requests.http
  digiwf-libs/digiwf-json-serialization/example-json-serialization/src/main/resources/application.yml
  digiwf-libs/digiwf-message/digiwf-message-core/src/main/java/de/muenchen/oss/digiwf/message/infra/RoutingCallback.java
  digiwf-libs/digiwf-message/digiwf-message-core/src/test/java/de/muenchen/oss/digiwf/message/core/impl/MessageApiImplTest.java
  digiwf-libs/digiwf-message/digiwf-message-core/src/test/java/de/muenchen/oss/digiwf/message/process/impl/ErrorApiImplTest.java
  digiwf-libs/digiwf-message/digiwf-message-core/src/test/java/de/muenchen/oss/digiwf/message/process/impl/ProcessApiImplTest.java
  digiwf-libs/digiwf-message/digiwf-message-example/src/main/java/de/muenchen/oss/digiwf/message/example/message/service/MessageService.java
  digiwf-libs/digiwf-message/digiwf-message-example/src/main/resources/application-streaming.yml
  digiwf-libs/digiwf-message/digiwf-message-example/src/main/resources/application.yml
  digiwf-libs/digiwf-message/digiwf-message-example/src/main/resources/message.http
  digiwf-libs/digiwf-message/digiwf-message-example/src/main/resources/process.http
  digiwf-libs/digiwf-message/digiwf-message-starter/pom.xml
  digiwf-libs/digiwf-message/digiwf-message-starter/src/main/java/de/muenchen/oss/digiwf/message/configuration/DigiwfMessageAutoConfiguration.java
  digiwf-libs/digiwf-message/digiwf-message-starter/src/main/java/de/muenchen/oss/digiwf/message/properties/DigiwfMessageProperties.java
  digiwf-libs/digiwf-message/digiwf-message-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-libs/digiwf-message/pom.xml
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/src/main/java/de/muenchen/oss/digiwf/spring/security/SecurityConfiguration.java
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/src/main/java/de/muenchen/oss/digiwf/spring/security/TokenBasedAuthoritiesConverter.java
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/src/main/java/de/muenchen/oss/digiwf/spring/security/authentication/RequestResponseLoggingFilter.java
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/src/main/java/de/muenchen/oss/digiwf/spring/security/client/OAuth2AccessTokenSupplier.java
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-starter/src/main/java/de/muenchen/oss/digiwf/spring/security/postprocessor/DefaultPropertiesEnvironmentPostProcessor.java
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-starter/src/main/resources/META-INF/spring.factories
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-libs/pom.xml
  digiwf-parent/pom.xml
  docs/src/integrations/guides/custom-integration-service.md
Labels: digiwf-libs, docs, digiwf-integrations, feature, digiwf-parent

#904 Feature/#763 upgrade gateway to spring 3
  digiwf-gateway/pom.xml
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/configuration/NoSecurityConfiguration.java
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/configuration/SecurityConfiguration.java
  digiwf-gateway/src/test/java/de/muenchen/oss/digiwf/gateway/annotations/ApiGatewayTest.java
  digiwf-gateway/src/test/java/de/muenchen/oss/digiwf/gateway/controller/ActuatorInfoEndpointTest.java
  digiwf-gateway/src/test/java/de/muenchen/oss/digiwf/gateway/controller/PingControllerTest.java
  digiwf-gateway/src/test/java/de/muenchen/oss/digiwf/gateway/filter/CsrfTokenAppendingHelperFilterTest.java
  digiwf-gateway/src/test/java/de/muenchen/oss/digiwf/gateway/filter/GlobalAuthenticationErrorFilterTest.java
  digiwf-gateway/src/test/java/de/muenchen/oss/digiwf/gateway/filter/GlobalBackendErrorFilterTest.java
  digiwf-gateway/src/test/java/de/muenchen/oss/digiwf/gateway/filter/GlobalRequestParameterPollutionFilterTest.java
  digiwf-gateway/src/test/java/de/muenchen/oss/digiwf/gateway/route/BackendRouteTest.java
Labels: digiwf-gateway, feature

#863 Feature/#716 increase contrast
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/ContrastModeSelection.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/icons/HighContrastIcon.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/common/DwfButton.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/AppJsonForm.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/TaskList.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/plugins/vuetify.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/index.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/accessibility.spec.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/accessibility.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/filters.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/ProcessDefinitions.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/ProcessInstances.vue
Labels: digiwf-apps, feature

#889 Feature/#718 tastaturbedienung taskliste
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/help/AppKeyBindingsDialog.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/help/KeyBindingLine.vue
  docs/src/.vuepress/config.js
  docs/src/modeling/forms/accessibility/README.md
Labels: digiwf-apps, docs, feature

#917 Chore: improve deps
  digiwf-engine/digiwf-engine-cockpit/pom.xml
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-engine/pom.xml
  digiwf-task/digiwf-task-itest/pom.xml
  digiwf-task/digiwf-tasklist-service/pom.xml
  pom.xml
Labels: digiwf-engine, digiwf-task, feature

#909 fix: rename dms element templates
  docs/src/.vuepress/public/element-template/createDocument.json
  docs/src/.vuepress/public/element-template/createProcedure.json
  docs/src/.vuepress/public/element-template/readContent.json
  docs/src/.vuepress/public/element-template/updateDocument.json
Labels: bug, docs

#929 Migrate task service to Spring Boot 3
  digiwf-connector/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-starter/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/configuration/S3IntegrationClientAutoConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/api/.openapi-generator-ignore
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/api/api-docs.json
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/repository/DocumentStorageFileRepository.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/repository/DocumentStorageFolderRepository.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/repository/presignedurl/PresignedUrlRepository.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/service/ApiClientFactory.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/gen/ApiClient.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/gen/JavaTimeFormatter.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/gen/RFC3339DateFormat.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/gen/api/FileApiApi.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/gen/api/FolderApiApi.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/gen/auth/ApiKeyAuth.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/gen/auth/Authentication.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/gen/auth/HttpBasicAuth.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/gen/auth/HttpBearerAuth.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/gen/model/FileDataDto.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/gen/model/FilesInFolderDto.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/gen/model/PresignedUrlDto.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/test/java/de/muenchen/oss/digiwf/s3/integration/client/repository/DocumentStorageFileRepositoryTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/test/java/de/muenchen/oss/digiwf/s3/integration/client/repository/DocumentStorageFolderRepositoryTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/test/java/de/muenchen/oss/digiwf/s3/integration/client/repository/presignedurl/PresignedUrlRepositoryTest.java
  digiwf-integrations/digiwf-s3-integration/pom.xml
  digiwf-libs/digiwf-logging-and-tracing/pom.xml
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/src/main/java/de/muenchen/oss/digiwf/spring/security/SecurityConfiguration.java
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-starter/src/main/java/de/muenchen/oss/digiwf/spring/security/autoconfiguration/SpringSecurityAutoConfiguration.java
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-starter/src/main/java/de/muenchen/oss/digiwf/spring/security/postprocessor/DefaultPropertiesEnvironmentPostProcessor.java
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-starter/src/main/resources/META-INF/spring.factories
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-starter/src/main/resources/application.yaml
  digiwf-libs/pom.xml
  digiwf-task/digiwf-polyflow-connector-starter/pom.xml
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/de/muenchen/oss/digiwf/task/listener/AssignmentCreateTaskListener.java
  digiwf-task/digiwf-task-api/pom.xml
  digiwf-task/digiwf-task-itest/pom.xml
  digiwf-task/digiwf-tasklist-service/pom.xml
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/auth/CurrentUserSpringSecurityAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/engine/LegacyTaskClient.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/engine/RemoteLegacyPayloadTaskAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/file/S3Properties.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/polyflow/PolyflowTaskQueryAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/schema/EngineDataMapper.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/schema/RemoteJsonSchemaAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/domain/legacy/Form.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/infra/persistence/NoToastPostgresSQLDialect.java
  digiwf-task/digiwf-tasklist-service/src/main/resources/db/migration/postgresql/V05__axon_sequences_per_table.sql
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/adapter/out/user/UserGroupResolverIntegrationTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/infra/security/SecurityTestConfiguration.java
  digiwf-task/digiwf-tasklist-service/src/test/resources/db/migration/h2/V05__axon_sequences_per_table.sql
  digiwf-task/pom.xml
  pom.xml
Labels: digiwf-connector, digiwf-task, digiwf-libs, digiwf-integrations, feature

#938 Implement new way of property supply using property source
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-starter/pom.xml
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-starter/src/main/java/de/muenchen/oss/digiwf/spring/security/autoconfiguration/SpringSecurityAutoConfiguration.java
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-starter/src/main/java/de/muenchen/oss/digiwf/spring/security/factory/YamlPropertySourceFactory.java
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-starter/src/main/java/de/muenchen/oss/digiwf/spring/security/postprocessor/DefaultPropertiesEnvironmentPostProcessor.java
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-starter/src/main/resources/digiwf-security-application.yaml
Labels: digiwf-libs

#930 Feature/#660 fab egov integration create sachakte
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/create-file/dms-integration-create-file.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/create-file/forms/dms-integration-create-file_start.schema.json
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CreateFileDto.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/CreateFileUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/out/CreateFilePort.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/CreateFileService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/domain/File.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CreateFileMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessorTestBase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapterTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/service/CreateFileServiceTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/CreateFileCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/java/de/muenchen/oss/digiwf/dms/integration/configuration/DmsAutoConfiguration.java
  docs/src/.vuepress/public/element-template/createFile.json
  docs/src/integrations/digiwf-dms-integration.md
Labels: digiwf-engine, docs, digiwf-integrations, feature

#940 feature(#768): S3 goes Spring Boot 3
  digiwf-integrations/digiwf-integration-parent/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/java/de/muenchen/oss/digiwf/s3/integration/example/client/configuration/RestTemplateConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/java/de/muenchen/oss/digiwf/s3/integration/example/client/streaming/events/CorrelateMessageTOV01.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/.openapi-generator/FILES
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/.openapi-generator/VERSION
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/.openapi-generator/api-docs.json-document-storage-api.sha256
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/api/.openapi-generator-ignore
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/rest/FileController.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/rest/FolderController.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/rest/dto/FileDataDto.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/rest/validation/FolderInFilePath.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/rest/validation/FolderInFilePathValidator.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/streaming/CreatePresignedUrlEvent.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/streaming/MessageProcessor.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/out/persistence/BaseEntity.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/out/persistence/File.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/out/persistence/FileRepository.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/out/persistence/UuidConverter.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/CreatePresignedUrlsUseCase.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/port/in/CreatePresignedUrlsInPort.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/infrastructure/dialect/NoToastPostgresSQLDialect.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/test/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/rest/FolderInFilePathValidatorTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/test/java/de/muenchen/oss/digiwf/s3/integration/application/CleanUpDatabaseFilesWithoutCorrespondingS3FolderUseCaseTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/test/java/de/muenchen/oss/digiwf/s3/integration/application/FileOperationsUseCaseTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/test/java/de/muenchen/oss/digiwf/s3/integration/application/FolderOperationsUseCaseTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/de/muenchen/oss/digiwf/s3/integration/configuration/CacheControlConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/de/muenchen/oss/digiwf/s3/integration/configuration/nfcconverter/NfcHelper.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/de/muenchen/oss/digiwf/s3/integration/configuration/nfcconverter/NfcRequest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/de/muenchen/oss/digiwf/s3/integration/configuration/nfcconverter/NfcRequestFilter.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/de/muenchen/oss/digiwf/s3/integration/configuration/nfcconverter/NfcServletInputStream.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/java/de/muenchen/oss/digiwf/s3/integration/ServiceIntegrationITest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/java/de/muenchen/oss/digiwf/s3/integration/configuration/nfcconverter/NfcConverterTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/java/de/muenchen/oss/digiwf/s3/integration/configuration/nfcconverter/NfcHelperTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-starter/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-starter/src/main/java/de/muenchen/oss/digiwf/s3/integration/properties/S3IntegrationProperties.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-integrations/digiwf-s3-integration/pom.xml
  digiwf-integrations/pom.xml
  digiwf-libs/digiwf-message/digiwf-message-core/pom.xml
  digiwf-libs/digiwf-message/digiwf-message-example/pom.xml
  digiwf-libs/digiwf-message/digiwf-message-starter/pom.xml
  digiwf-libs/pom.xml
  digiwf-parent/pom.xml
  digiwf-task/digiwf-tasklist-service/pom.xml
Labels: digiwf-engine, digiwf-task, digiwf-libs, digiwf-integrations, digiwf-parent

#950 Feature/#764 migrate digiwf process to spring boot 3
  digiwf-process/digiwf-process-api/pom.xml
  digiwf-process/digiwf-process-api/src/main/java/de/muenchen/oss/digiwf/process/api/config/api/dto/ConfigEntryTO.java
  digiwf-process/digiwf-process-api/src/main/java/de/muenchen/oss/digiwf/process/api/config/api/dto/ProcessConfigTO.java
  digiwf-process/digiwf-process-api/src/main/java/de/muenchen/oss/digiwf/process/api/config/api/dto/StatusConfigTO.java
  digiwf-process/digiwf-process-api/src/main/java/de/muenchen/oss/digiwf/process/api/start/StartProcessEvent.java
  digiwf-process/digiwf-process-example/src/main/java/de/muenchen/oss/digiwf/DigiwfProcessExample.java
  digiwf-process/pom.xml
Labels: digiwf-process, feature

#959 Feature/#768 upgrade spring boot in integrations email integration
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/out/S3Adapter.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/in/SendMail.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/usecase/SendMailUseCase.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/model/FileAttachment.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/model/Mail.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/model/PresignedUrl.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/in/MessageProcessorTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/application/usecase/SendMailUseCaseTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/java/de/muenchen/oss/digiwf/email/integration/model/Mail.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/java/de/muenchen/oss/digiwf/email/integration/model/PresignedUrl.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-starter/src/main/java/de/muenchen/oss/digiwf/email/integration/configuration/CustomMailProperties.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-starter/src/main/java/de/muenchen/oss/digiwf/email/integration/configuration/MailAutoConfiguration.java
  digiwf-integrations/digiwf-email-integration/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/application.yml
Labels: digiwf-integrations, feature

#1005 fix: maven pom errors
  digiwf-connector/pom.xml
  digiwf-engine/digiwf-engine-cockpit/pom.xml
  digiwf-engine/pom.xml
  digiwf-integrations/pom.xml
  digiwf-parent/pom.xml
Labels: bug, digiwf-connector, digiwf-engine, digiwf-integrations, digiwf-parent

#1008 #768: migrate alw migration to spring boot 3
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/adapter/in/streaming/AlwMessageProcessor.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/adapter/out/alw/AlwResponsibilityEmulationAdapter.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/application/GetResponsibilityUseCase.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/application/PingAlwServiceUseCase.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/application/port/in/GetResponsibilityInPort.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/domain/exception/AlwException.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/domain/model/Responsibility.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/domain/model/validation/AzrNumber.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/infrastructure/SachbearbeitungMapperConfig.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/test/java/de/muenchen/oss/digiwf/alw/integration/domain/model/ResponsibilityRequestValidationTest.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/pom.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/java/de/muenchen/oss/digiwf/alw/integration/api/controller/ExampleController.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/test/java/de/muenchen/oss/digiwf/alw/integration/api/controller/ExampleControllerITest.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/test/java/de/muenchen/oss/digiwf/alw/integration/infrastructure/AlwServiceMockConfiguration.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/test/java/de/muenchen/oss/digiwf/alw/integration/infrastructure/SecurityITestConfiguration.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-starter/src/main/java/de/muenchen/oss/digiwf/alw/integration/configuration/AlwAutoConfiguration.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-integrations/digiwf-alw-integration/pom.xml
Labels: digiwf-integrations, feature

#937 feature(#768): migrate address integration to spring boot 3
  digiwf-gateway/pom.xml
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/configuration/SecurityConfiguration.java
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-client/pom.xml
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-client/src/main/java/de/muenchen/oss/digiwf/address/integration/client/impl/AddressGermanyImpl.java
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-client/src/main/java/de/muenchen/oss/digiwf/address/integration/client/impl/AddressesMunichImpl.java
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-client/src/main/java/de/muenchen/oss/digiwf/address/integration/client/impl/StreetsMunichImpl.java
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-client/src/test/java/de/muenchen/oss/digiwf/address/integration/client/impl/AddressGermanyImplTest.java
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-client/src/test/java/de/muenchen/oss/digiwf/address/integration/client/impl/AddressMunichImplTest.java
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-client/src/test/java/de/muenchen/oss/digiwf/address/integration/client/impl/StreetsMunichImplTest.java
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-core/pom.xml
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-service/pom.xml
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-service/src/test/java/de/muenchen/oss/digiwf/address/integration/AddressIntegrationE2eTest.java
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-service/src/test/java/de/muenchen/oss/digiwf/address/integration/TestMessageConsumer.java
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-service/src/test/resources/application.yml
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-starter/src/main/java/de/muenchen/oss/digiwf/address/integration/configuration/AddressServiceIntegrationAutoConfiguration.java
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-starter/src/main/java/de/muenchen/oss/digiwf/address/integration/properties/AddressServiceIntegrationProperties.java
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-integrations/digiwf-address-integration/pom.xml
  digiwf-integrations/digiwf-integration-parent/pom.xml
  digiwf-parent/pom.xml
  digiwf-process/digiwf-process-api/pom.xml
Labels: digiwf-libs, digiwf-process, digiwf-gateway, digiwf-integrations, feature, digiwf-parent

#1013 gateway csrf return to spring 5.8 default
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/configuration/SecurityConfiguration.java
Labels: digiwf-gateway

#1010 Exclude old annotation support causing NoClassDefinitionFound exception
  digiwf-task/digiwf-tasklist-service/pom.xml
Labels: bug, digiwf-task

#1016 Feature/#768 upgrade spring boot in integrations cosys integration
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/.openapi-generator/api-docs.json-cosys-api.sha256
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/api/api-docs.json
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/ApiClient.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/JavaTimeFormatter.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/RFC3339DateFormat.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/api/DatapoolApi.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/api/DataproviderApi.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/api/DefaultApi.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/api/GenerationApi.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/api/PdfApi.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/api/WebformApi.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/auth/ApiKeyAuth.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/auth/Authentication.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/auth/HttpBasicAuth.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/auth/HttpBearerAuth.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/auth/OAuth.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/model/CosysUrlParameter.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/model/DataProviderInput.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/model/Field.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/model/Generator.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/model/ReadPdfFieldsOutput.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/model/SearchResult.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/model/WebformResponse.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/adapter/out/CosysAdapter.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/application/port/in/CreateDocument.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/application/usecase/CreateDocumentUseCase.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/model/DocumentStorageUrl.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/model/GenerateDocument.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/test/java/de/muenchen/oss/digiwf/cosys/integration/adapter/in/MessageProcessorTest.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/test/java/de/muenchen/oss/digiwf/cosys/integration/domain/model/GenerateDocumentTest.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/java/de/muenchen/oss/digiwf/cosys/integration/example/NoSecurityConfiguration.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application-streaming.yml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/src/main/java/de/muenchen/oss/digiwf/cosys/integration/configuration/CosysAutoConfiguration.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/src/main/java/de/muenchen/oss/digiwf/cosys/integration/configuration/CosysProperties.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-integrations/digiwf-cosys-integration/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: digiwf-integrations, feature

#1021 Feat/662 search sachakte
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/search-file/dms-integration-search-file.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/search-file/forms/dms-integration-search-file_check.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/search-file/forms/dms-integration-search-file_start.schema.json
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/SearchObjectDto.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/DMSObjectClass.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/SearchFileUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/SearchSubjectAreaUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/out/ReadContentPort.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/out/SearchFilePort.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/out/SearchSubjectAreaPort.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/ReadContentService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/SearchFileService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/SearchSubjectAreaService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/domain/File.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessorTestBase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/SearchFileMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/SearchSubjectAreaMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapterTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/service/ReadContentServiceTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/service/SearchFileServiceTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/service/SearchSubjectAreaServiceTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/CreateIncomingDocumentCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/CreateInternalDocumentCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/CreateOutgoingDocumentCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/DMSObjectClass.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/SearchFileCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/SearchSubjectAreaCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/UpdateIncomingDocumentCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/UpdateInternalDocumentCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/UpdateOutgoingDocumentCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/java/de/muenchen/oss/digiwf/dms/integration/configuration/DmsAutoConfiguration.java
  docs/src/.vuepress/public/element-template/searchFile.json
  docs/src/.vuepress/public/element-template/searchSubjectArea.json
  docs/src/integrations/digiwf-dms-integration.md
Labels: digiwf-engine, docs, digiwf-integrations, feature

#1027 getFrontendUrl-Public
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/engine/basis/process/DigitalWFFunctions.java
Labels: digiwf-engine

#1033 bugfix(#771): ou tree must not contain null values
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/user/external/client/LhmLdapClient.java
Labels: bug, digiwf-engine

#1039 gateway add oauth client routes
  digiwf-gateway/pom.xml
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/configuration/SecurityConfiguration.java
  digiwf-gateway/src/main/resources/application-local.yml
  digiwf-gateway/src/main/resources/application.yml
Labels: digiwf-gateway, feature

#1036 bugfix(#942): fix form builder settings to overwrite error messages
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/FormFields.ts
Labels: bug, digiwf-apps

#1029 feature: adjust engine local config to test digiwf-cocreation deployments
  digiwf-engine/digiwf-engine-service/src/main/resources/application-local.yml
Labels: digiwf-engine, feature

#1018 Feature/#768 ugrade example migration to sb3
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/test/java/de/muenchen/oss/digiwf/alw/integration/api/controller/ExampleControllerITest.java
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-service/pom.xml
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-service/src/test/java/de/muenchen/oss/digiwf/example/integration/ExampleIntegrationServiceApplicationTest.java
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-integrations/digiwf-example-integration/pom.xml
Labels: digiwf-integrations, feature

#1019 #768: remove verification integration
  digiwf-coverage/pom.xml
  digiwf-integrations/digiwf-verification-integration/README.md
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/pom.xml
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/de/muenchen/oss/digiwf/verification/integration/registration/api/MessageProcessor.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/de/muenchen/oss/digiwf/verification/integration/registration/domain/exception/RegistrationException.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/de/muenchen/oss/digiwf/verification/integration/registration/domain/model/Registration.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/de/muenchen/oss/digiwf/verification/integration/registration/domain/service/LinkService.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/de/muenchen/oss/digiwf/verification/integration/registration/domain/service/RegistrationService.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/de/muenchen/oss/digiwf/verification/integration/shared/StreamingConstants.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/de/muenchen/oss/digiwf/verification/integration/shared/domain/entity/VerificationEntity.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/de/muenchen/oss/digiwf/verification/integration/shared/repository/VerificationRepository.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/de/muenchen/oss/digiwf/verification/integration/verification/api/resource/VerificationController.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/de/muenchen/oss/digiwf/verification/integration/verification/domain/exception/CorrelationException.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/de/muenchen/oss/digiwf/verification/integration/verification/domain/exception/VerificationExpiredException.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/de/muenchen/oss/digiwf/verification/integration/verification/domain/exception/VerificationTokenNotFoundException.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/java/de/muenchen/oss/digiwf/verification/integration/verification/domain/service/VerificationService.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/resources/db/migration/V1__Initial.sql
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/src/main/resources/templates/result.html
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-service/Dockerfile
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-service/pom.xml
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-service/src/main/java/de/muenchen/oss/digiwf/verification/integration/DigiwfVerificationApplication.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-service/src/main/java/de/muenchen/oss/digiwf/verification/integration/registration/api/controller/ExampleController.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-service/src/main/resources/application-streaming.properties
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-service/src/main/resources/application.properties
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-starter/pom.xml
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-starter/src/main/java/de/muenchen/oss/digiwf/verification/integration/configuration/VerificationConfiguration.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-starter/src/main/java/de/muenchen/oss/digiwf/verification/integration/configuration/VerificationProperties.java
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-starter/src/main/resources/META-INF/spring.factories
  digiwf-integrations/digiwf-verification-integration/pom.xml
  digiwf-integrations/pom.xml
Labels: digiwf-integrations, digiwf-coverage, feature

#1042 Feature/#768 upgrade spring boot in integrations dms integration
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftClientConfiguration.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftProperties.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/CancelObjectUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/CreateFileUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/CreateProcedureUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/DepositObjectUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/ReadContentUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/CancelObjectService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/CreateFileService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/CreateProcedureService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/DepositObjectService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/ReadContentService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CancelObjectMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CreateDocumentMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CreateFileMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CreateProcedureMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/DepositObjectMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/UpdateDocumentMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-api/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-api/src/main/resources/binding.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/MockInitializer.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/FabasoftClienFactory.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/MockUtils.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/java/de/muenchen/oss/digiwf/dms/integration/configuration/DmsAutoConfiguration.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/java/de/muenchen/oss/digiwf/dms/integration/configuration/DmsProperties.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-integrations/digiwf-dms-integration/pom.xml
Labels: digiwf-integrations, feature

#1045 example process all-inputs fix file upload
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-input-fields-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-input-fields-process.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-inputs.schema.json
Labels: digiwf-engine

#1028 feat: update connector to spring boot 3
  digiwf-connector/digiwf-camunda-connector-service/pom.xml
  digiwf-connector/digiwf-camunda-connector-service/src/main/java/de/muenchen/oss/digiwf/connector/CamundaSecurityConfig.java
  digiwf-connector/digiwf-camunda-connector-starter/pom.xml
  digiwf-connector/digiwf-camunda-connector-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-connector/digiwf-camunda-connector/pom.xml
  digiwf-connector/digiwf-connector-api/pom.xml
  digiwf-connector/digiwf-connector-api/src/main/java/de/muenchen/oss/digiwf/connector/api/bpmnerror/BpmnErrorEvent.java
  digiwf-connector/digiwf-connector-api/src/main/java/de/muenchen/oss/digiwf/connector/api/message/CorrelateMessageEvent.java
  digiwf-connector/digiwf-connector-core/pom.xml
  digiwf-connector/digiwf-connector-starter-rest/pom.xml
  digiwf-connector/digiwf-connector-starter-rest/src/main/java/de/muenchen/oss/digiwf/connector/rest/bpmnerror/BpmnErrorRestController.java
  digiwf-connector/digiwf-connector-starter-rest/src/main/java/de/muenchen/oss/digiwf/connector/rest/incident/IncidentRestController.java
  digiwf-connector/digiwf-connector-starter-rest/src/main/java/de/muenchen/oss/digiwf/connector/rest/message/MessageRestController.java
  digiwf-connector/digiwf-connector-starter-rest/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-connector/digiwf-connector-starter/src/main/resources/META-INF/spring.factories
  digiwf-connector/digiwf-connector-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-connector/pom.xml
  digiwf-parent/pom.xml
Labels: digiwf-connector, feature, digiwf-parent

#1052 feat: add digiwf rest api
  .github/workflows/workflow-release-services.yaml
  digiwf-engine/digiwf-engine-rest-service/Dockerfile
  digiwf-engine/digiwf-engine-rest-service/pom.xml
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/EngineRestServiceApplication.java
  digiwf-engine/digiwf-engine-rest-service/src/main/resources/application.yml
  digiwf-engine/digiwf-engine-rest-service/src/main/resources/logback-spring.xml
  digiwf-engine/pom.xml
  stack/local-docker.env
Labels: digiwf-engine, stack, feature

#1053 bugfix: add missing @bean to polyflow connector starter
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/de/muenchen/oss/digiwf/task/PolyflowConnectorAutoConfiguration.java
Labels: bug, digiwf-task

#1007 Release 2023 November
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/user/external/client/LhmLdapClient.java
Labels: digiwf-connector, digiwf-engine, digiwf-task, digiwf-libs, digiwf-process, digiwf-apps, digiwf-gateway, docs, digiwf-integrations, digiwf-coverage, digiwf-parent

#1059 chore: move streaming templates to bausteine directory
  digiwf-engine/digiwf-engine-service/src/main/resources/bausteine/streaming/StreamingTemplateIntegrationV01.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/bausteine/streaming/StreamingTemplateV02.bpmn
Labels: digiwf-engine

#1065 fix entity scan and missing polyflow-kafka profile activation
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/configuration/JpaEngineConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/postgresql/V12__axon_framework_4.9.sql
  digiwf-engine/digiwf-engine-service/src/test/resources/application-test.yml
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/de/muenchen/oss/digiwf/task/PolyflowConnectorAutoConfiguration.java
Labels: bug, digiwf-engine, digiwf-task
