Repository it-at-m/digiwf-core, pull requests merged in 2023-01, with the labels that each got.

#99 feat: improve formbuilder development experience
  digiwf-apps/packages/apps/digiwf-forms-example/src/App.vue
  digiwf-apps/packages/apps/digiwf-forms-example/src/main.ts
Labels: digiwf-apps

#100 Mailadress timespan
  CODE_OF_CONDUCT.md
  docs/src/contact/README.md
  docs/src/documentation/README.md
Labels: docs

#104 digiwf apps version 0.21.4
  CHANGELOG.md
  digiwf-apps/lerna.json
  digiwf-apps/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package.json
  digiwf-apps/packages/components/digiwf-form-builder/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder/package.json
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package-lock.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
Labels: digiwf-apps

#103 Hyperlinks: 404, linktexts, inhaltlich links
  docs/src/documentation/README.md
  docs/src/documentation/roadmap.md
  docs/src/integrations/README.md
  docs/src/integrations/digiwf-alw-integration/README.md
  docs/src/integrations/digiwf-cosys-integration/README.md
  docs/src/integrations/digiwf-mail-integration/README.md
  docs/src/integrations/digiwf-s3-integration/README.md
  docs/src/integrations/digiwf-verification-integration/README.md
Labels: docs

#98 bugfix: objectlist margin
  digiwf-apps/packages/components/digiwf-form-renderer/src/components/DwfFormRenderer.vue
Labels: digiwf-apps

#102 Bugfix/641 option in select is not selectable
  .github/workflows/build-apps.yaml
  digiwf-apps/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/jest.config.js
  digiwf-apps/packages/components/digiwf-form-builder-settings/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/Container.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/ModelerPalette.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/Section.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/Container.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/IconMap.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/ModelerPalette.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/Section.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/index.spec.ts
Labels: digiwf-apps

#121 separate compliance check from build
  .github/workflows/build-apps.yaml
  .github/workflows/build-services.yaml
  .github/workflows/check-compliance.yaml
  .github/workflows/release.yaml
  .java-version
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/pom.xml
  digiwf-apps/readme.md
Labels: digiwf-apps

#131 Fix/dev env
  dev.md
  stack/.gitignore
  stack/README.md
  stack/docker-compose.yml
  stack/nginx.conf
Labels: stack

#140 Fix/instanzdaten
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/engine/mapper/EngineDataMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/service/instance/domain/service/ServiceInstanceDataService.java
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/Test/test-with-instance-data/InstanceData.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/Test/test-with-instance-data/Instanzdaten_formular.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/Test/test-with-instance-data/ProzessMitInstanzdaten.bpmn
Labels: digiwf-engine
