Repository it-at-m/digiwf-core, pull requests merged in 2023-05, with the labels that each got.

#323 fix: db scripts
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V19__IncreaseInfoDescriptionSize.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V20__change_form.sql
Labels: digiwf-engine

#319 #289: add error handling for session heart beat
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/sessionReloadHandler.ts
Labels: digiwf-apps

#330 Feature/variable based assignment
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/humantask/process/listener/NoSecurityUserTaskListener.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/humantask/process/listener/S3VariableTaskCreateListener.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/humantask/process/listener/UserTaskInfoListener.java
  digiwf-task/digiwf-polyflow-connector-starter/pom.xml
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/io/muenchendigital/digiwf/task/PolyflowConnectorAutoConfiguration.java
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/io/muenchendigital/digiwf/task/TaskManagementProperties.java
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/io/muenchendigital/digiwf/task/listener/AssignmentAssignTaskListener.java
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/io/muenchendigital/digiwf/task/listener/AssignmentCreateTaskListener.java
  digiwf-task/digiwf-polyflow-connector-starter/src/main/resources/application-polyflow-starter.yml
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/listener/AssignmentAssignTaskListenerTest.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/listener/AssignmentCreateTaskListenerTest.java
  digiwf-task/digiwf-task-api/src/main/java/io/muenchendigital/digiwf/task/TaskVariables.java
  digiwf-task/digiwf-tasklist-service/src/test/resources/application-embedded-kafka.yml
  digiwf-task/pom.xml
Labels: digiwf-engine, digiwf-task

#335 feat: add oracle polyflow script
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V21__polyflow_core.sql
Labels: digiwf-engine

#333 Bugfix/#227 default number is string
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/main/java/io/muenchendigital/digiwf/json/validation/JsonSchemaValidator.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/test/java/io/muenchendigital/digiwf/json/validation/JsonValidatorTest.java
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/src/test/resources/schema/validation/simpleNumberSchema.json
Labels: digiwf-libs

#349 fix: task listener bug
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/humantask/process/listener/S3VariableTaskCreateListener.java
Labels: digiwf-engine

#350 fix: no security engine setup
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/NoSecurityCamundaAuthenticationFilterConfiguration.java
Labels: digiwf-engine

#336 Feature/cancel tasks
  digiwf-task/digiwf-polyflow-connector-starter/pom.xml
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/io/muenchendigital/digiwf/task/listener/CancelableTaskStatusCreateTaskListener.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/listener/CancelableTaskStatusCreateTaskListenerTest.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/resources/process_cancelable_user_task.bpmn
  digiwf-task/digiwf-polyflow-connector-starter/src/test/resources/process_cancelable_user_task_default_error_code.bpmn
  digiwf-task/digiwf-polyflow-connector-starter/src/test/resources/process_non_cancelable_user_task.bpmn
  digiwf-task/digiwf-polyflow-connector-starter/src/test/resources/process_non_cancelable_user_task_other_error_code.bpmn
  digiwf-task/digiwf-task-api/src/main/java/io/muenchendigital/digiwf/task/BpmnErrors.java
  digiwf-task/digiwf-task-api/src/main/java/io/muenchendigital/digiwf/task/TaskVariables.java
  digiwf-task/digiwf-tasklist-service/src/main/api/openapi.yml
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/in/rest/impl/TaskApiDelegateImpl.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/in/rest/mapper/TaskMapper.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/cancellation/VariableTaskCancellationFlagAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/engine/RemoteTaskCommandRestAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/port/in/WorkOnUserTask.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/port/out/cancellation/CancellationFlagOutPort.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/port/out/engine/TaskCommandPort.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/usecase/RetrieveTasksForUserUseCase.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/usecase/WorkOnUserTaskUseCase.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/domain/TaskWithSchema.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/domain/TaskWithSchemaRef.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/in/rest/RetrieveTasksIT.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/in/rest/TaskOperationsIT.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/cancellation/VariableTaskCancellationFlagAdapterTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/engine/RemoteTaskCommandRestAdapterTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/application/usecase/RetrieveTasksForUserUseCaseTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/application/usecase/TestFixtures.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/application/usecase/WorkOnUserTaskUseCaseTest.java
Labels: digiwf-task

#344 Feature/#283 run tasklist service parallel in frontend
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/featureToggles.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
  digiwf-gateway/src/main/resources/application-local.yml
  docs/src/.vuepress/config.js
  docs/src/documentation/guides/taskservice-integration/README.md
  docs/src/images/platform/guides/taskservice-integration/overview.drawio
  docs/src/images/platform/guides/taskservice-integration/overview.png
  stack/local-docker.env
Labels: digiwf-engine, digiwf-task, digiwf-apps, digiwf-gateway, docs, digiwf-integrations, stack

#366 feat/alt schema migration filtering
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/in/rest/mapper/TaskMapper.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/engine/LegacyFormValidationAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/engine/RemoteLegacyPayloadTaskAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/schema/JsonSchemaValidationAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/schema/RemoteJsonSchemaAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/port/out/engine/LegacyFormValidationPort.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/port/out/engine/LegacyPayloadTaskCommandPort.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/port/out/schema/JsonSchemaPort.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/port/out/schema/JsonSchemaValidationPort.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/usecase/WorkOnUserTaskUseCase.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/domain/TaskWithSchema.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/domain/legacy/Form.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/in/rest/TaskOperationsIT.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/engine/LegacyFormValidationAdapterTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/application/usecase/TestFixtures.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/application/usecase/WorkOnUserTaskUseCaseTest.java
Labels: digiwf-task

#365 feature(#342): use ldap ou tree endpoint to retrieve user groups
  CHANGELOG.md
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/user/LdapUserGroupResolverAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/user/MockUserGroupResolverAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/user/MockUserProfileAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/user/easyldap/EasyLdapClient.java
  digiwf-task/digiwf-tasklist-service/src/main/resources/application.yml
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/in/rest/RetrieveTasksIT.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/in/rest/TaskOperationsIT.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/user/LdapUserGroupResolverAdapterTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/user/UserGroupResolverIntegrationTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/infra/security/WithKeycloakUser.java
  digiwf-task/digiwf-tasklist-service/src/test/resources/application-itest.yml
  stack/local-docker.env
Labels: digiwf-task, stack

#343 Feature/cancel task frontend
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/ApiConfig.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/tasks/tasksApiCalls.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/paginationData.spec.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMapper.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/tasksModels.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
  digiwf-apps/packages/components/digiwf-task-api-internal/src/api/api.ts
Labels: digiwf-engine, digiwf-task, digiwf-apps, digiwf-gateway, digiwf-integrations, stack

#362 #324 workaround camunda rest cannot parse full iso8601 dates
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/shared/configuration/CamundaJacksonConfiguration.java
Labels: digiwf-engine

#310 Test/cypress/was ist digiwf
  digiwf-cypress/cypress.config.js
  digiwf-cypress/cypress/e2e/was_ist_digiwf.cy.js
  digiwf-cypress/cypress/pages/aktuellDigiWFErleben.js
  digiwf-cypress/cypress/pages/aktuelleVorgaenge.js
  digiwf-cypress/cypress/pages/aufgabeWasIstDigiWF.js
  digiwf-cypress/cypress/pages/meineAufgaben.js
  digiwf-cypress/cypress/pages/page.js
  digiwf-cypress/cypress/pages/startDigiWFErleben.js
  digiwf-cypress/cypress/pages/vorgangStarten.js
  digiwf-cypress/cypress/support/commands.js
  digiwf-cypress/cypress/support/e2e.js
  digiwf-cypress/package-lock.json
  digiwf-cypress/package.json
  digiwf-cypress/tsconfig.json
Labels: digiwf-cypress

#361 #360 fix defer date using dueDate instead of followUpDate
  digiwf-task/digiwf-tasklist-service/pom.xml
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/engine/RemoteTaskCommandRestAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/usecase/WorkOnUserTaskUseCase.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/engine/RemoteTaskCommandRestAdapterTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/application/usecase/WorkOnUserTaskUseCaseTest.java
Labels: digiwf-task
