Repository it-at-m/digiwf-core, pull requests merged in 2023-12, with the labels that each got.

#1067 docs: update formular field modeling documentation
  docs/src/modeling/forms/fields/README.md
Labels: docs

#1069 chore: fix docs build
  .github/workflows/workflow-release-docs.yaml
  docs/package.json
Labels: docs

#1041 feature(#1023): use digiwf-email lib to send emails
  .gitignore
  digiwf-coverage/pom.xml
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/engine/incidents/IncidentNotifierHandler.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListener.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/domain/configuration/MailConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/domain/configuration/MailConfigurationHandler.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/domain/model/Attachment.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/domain/model/Mail.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/domain/model/MailTemplate.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/domain/service/MailTemplateService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/domain/service/MailingService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/process/SendMailDelegate.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/process/SendMailTemplateDelegate.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/process/SendMailTemplateWithLinkDelegate.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/properties/MailProperties.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/engine/incidents/IncidentNotifierHandlerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/BaseUserTaskNotificationListenerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListenerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListenerV02Test.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/out/MailAdapter.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/out/S3Adapter.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/out/LoadMailAttachmentPort.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/out/MailPort.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/usecase/SendMailUseCase.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/in/MessageProcessorTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/out/MailAdapterTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/out/S3AdapterTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/application/usecase/SendMailUseCaseTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/resources/rest-api-client/example.http
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-starter/src/main/java/de/muenchen/oss/digiwf/email/integration/configuration/MailAutoConfiguration.java
  digiwf-integrations/digiwf-email-integration/pom.xml
  digiwf-libs/digiwf-email/digiwf-email-api/pom.xml
  digiwf-libs/digiwf-email/digiwf-email-api/src/main/java/de/muenchen/oss/digiwf/email/api/DigiwfEmailApi.java
  digiwf-libs/digiwf-email/digiwf-email-api/src/main/java/de/muenchen/oss/digiwf/email/impl/DigiwfEmailApiImpl.java
  digiwf-libs/digiwf-email/digiwf-email-api/src/main/java/de/muenchen/oss/digiwf/email/model/FileAttachment.java
  digiwf-libs/digiwf-email/digiwf-email-api/src/main/java/de/muenchen/oss/digiwf/email/model/Mail.java
  digiwf-libs/digiwf-email/digiwf-email-api/src/test/java/de/muenchen/oss/digiwf/email/DigiwfEmailApiImplTest.java
  digiwf-libs/digiwf-email/digiwf-email-starter/pom.xml
  digiwf-libs/digiwf-email/digiwf-email-starter/src/main/java/de/muenchen/oss/digiwf/email/configuration/DigiwfEmailAutoConfiguration.java
  digiwf-libs/digiwf-email/digiwf-email-starter/src/main/java/de/muenchen/oss/digiwf/email/properties/CustomMailProperties.java
  digiwf-libs/digiwf-email/digiwf-email-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  digiwf-libs/digiwf-email/pom.xml
  digiwf-libs/pom.xml
  docs/src/.vuepress/config.js
  docs/src/documentation/libs/digiwf-email/README.md
Labels: digiwf-engine, digiwf-libs, docs, digiwf-integrations, digiwf-coverage, feature

#1081 bugfix(#534): on display number change reset to the first page
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/paginationData.ts
Labels: bug, digiwf-apps

#1073 test: fix digiwf-message tests
  digiwf-libs/digiwf-message/digiwf-message-core/src/test/java/de/muenchen/oss/digiwf/message/core/impl/MessageApiImplTest.java
  digiwf-libs/digiwf-message/digiwf-message-core/src/test/java/de/muenchen/oss/digiwf/message/process/impl/ErrorApiImplTest.java
  digiwf-libs/digiwf-message/digiwf-message-core/src/test/java/de/muenchen/oss/digiwf/message/process/impl/ProcessApiImplTest.java
Labels: digiwf-libs, refactoring

#1070 #716: set primary color to black if high contrast mode is enabled
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/plugins/vuetify.ts
Labels: digiwf-apps, feature

#1082 bugfix(#48): fix access handling in ServiceInstanceAuthService
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/instance/domain/service/ServiceInstanceAuthService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/instance/infrastructure/repository/ProcessInstanceAuthorizationRepository.java
Labels: bug, digiwf-engine

#1057 add ADRs
  docs/src/documentation/architecture/adr/adr002-use-webclient.md
  docs/src/documentation/architecture/adr/adr003-use-hexagonal-architecture.md
  docs/src/documentation/architecture/adr/adr004-hexagonal-architecture-packages.md
  docs/src/documentation/architecture/adrs.md
Labels: docs, feature

#1090 Revert "Revert "#228 rm input empty string default value (#705)" (#837)"
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionDataService.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/schema/JsonSchemaValidationAdapter.java
Labels: digiwf-engine, digiwf-task, feature

#1091 #1089: update oracle driver
  digiwf-engine/digiwf-engine-service/pom.xml
Labels: digiwf-engine

#1098 digiwf-engine fix oracle missing axon migration
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V24__axon_framework_4.9.sql
Labels: bug, digiwf-engine

#1097 digiwf-engine fix oracle missing axon migration
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V24__axon_framework_4.9.sql
Labels: bug, digiwf-engine

#1092 #1089: update oracle driver
  digiwf-engine/digiwf-engine-service/pom.xml
Labels: digiwf-engine

#1104 cockpit ee build enforce profiles
  .github/workflows/workflow-release-services.yaml
Labels: bug, digiwf-engine

#1105 cockpit ee build enforce profiles
  .github/workflows/workflow-release-services.yaml
Labels: bug, digiwf-engine

#1095 Revert "Revert "#228 rm input empty string default value (#705)" (#837)"
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionDataService.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/schema/JsonSchemaValidationAdapter.java
Labels: digiwf-engine, digiwf-task, feature

#1107 bugfix: fix spring cloud stream configuration after engine migration
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/configuration/StreamingProperties.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application-streaming.yml
Labels: bug, digiwf-engine

#1108 bugfix: fix spring cloud stream configuration after engine migration
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/configuration/StreamingProperties.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application-streaming.yml
Labels: bug, digiwf-engine

#1086 feature(#999): show stage info in digiwf-tasklist
  digiwf-apps/packages/apps/digiwf-tasklist/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/StageInfoService.ts
  digiwf-apps/packages/apps/digiwf-tasklist/vite.config.ts
  digiwf-gateway/src/main/resources/application.yml
  stack/local-docker.env
Labels: digiwf-apps, digiwf-gateway, stack, feature

#1071 #1061: add 404 message when loading non existing task
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/defaultErrorHandler.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/tasks/tasksApiCalls.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/application/port/out/polyflow/TaskNotFoundException.java
Labels: digiwf-task, digiwf-apps, feature

#828 Test/cypress/update tests
  digiwf-cypress/.gitignore
  digiwf-cypress/cypress/e2e/TL-1-Anzeigen-Vorgaenge.cy.js
  digiwf-cypress/cypress/e2e/TL-2-Anzeigen-Meine-Aufgaben.cy.js
  digiwf-cypress/cypress/e2e/TL-3-Offene-Gruppen-Tasks.cy.js
  digiwf-cypress/cypress/e2e/TL-4-Zugewiesene-Gruppen-Tasks.cy.js
  digiwf-cypress/cypress/e2e/TL-5-Vorgaege-Anzeigen.cy.js
  digiwf-cypress/cypress/pages/groupUserTask.js
  digiwf-cypress/cypress/pages/vorgangStarten.js
Labels: digiwf-apps, digiwf-cypress

#1110 bugfix: send html emails in legacy features
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/process/SendMailTemplateDelegate.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/process/SendMailTemplateWithLinkDelegate.java
  digiwf-libs/digiwf-email/digiwf-email-api/src/main/java/de/muenchen/oss/digiwf/email/impl/DigiwfEmailApiImpl.java
Labels: bug, digiwf-engine, digiwf-libs

#1111 bugfix: send html emails in legacy features
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/process/SendMailTemplateDelegate.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/mailing/process/SendMailTemplateWithLinkDelegate.java
  digiwf-libs/digiwf-email/digiwf-email-api/src/main/java/de/muenchen/oss/digiwf/email/impl/DigiwfEmailApiImpl.java
Labels: bug, digiwf-engine, digiwf-libs

#1117 hotfix(#1114): switch to camunda rest client feign
  digiwf-connector/digiwf-camunda-connector-service/pom.xml
  digiwf-connector/digiwf-camunda-connector-service/src/main/java/de/muenchen/oss/digiwf/connector/CamundaSecurityConfig.java
  digiwf-connector/digiwf-camunda-connector-service/src/main/java/de/muenchen/oss/digiwf/connector/DigiWFConnectorApplication.java
  digiwf-connector/digiwf-camunda-connector-service/src/main/resources/application.properties
  digiwf-connector/digiwf-camunda-connector-starter/pom.xml
  digiwf-connector/digiwf-camunda-connector-starter/src/main/java/de/muenchen/oss/digiwf/camunda/connector/configuration/DigiWFCamundaConnectorAutoConfiguration.java
  digiwf-connector/digiwf-camunda-connector/pom.xml
  digiwf-connector/digiwf-camunda-connector/src/main/java/de/muenchen/oss/digiwf/camunda/connector/bpmnerror/BpmnErrorServiceImpl.java
  digiwf-connector/digiwf-camunda-connector/src/main/java/de/muenchen/oss/digiwf/camunda/connector/data/EngineDataSerializer.java
  digiwf-connector/digiwf-camunda-connector/src/main/java/de/muenchen/oss/digiwf/camunda/connector/incident/IncidentServiceImpl.java
  digiwf-connector/digiwf-camunda-connector/src/main/java/de/muenchen/oss/digiwf/camunda/connector/message/MessageServiceImpl.java
  digiwf-connector/digiwf-camunda-connector/src/test/java/de/muenchen/oss/digiwf/connector/BaseSpringTest.java
  digiwf-connector/digiwf-camunda-connector/src/test/java/de/muenchen/oss/digiwf/connector/bpmnerror/BpmnErrorServiceTest.java
  digiwf-connector/digiwf-camunda-connector/src/test/java/de/muenchen/oss/digiwf/connector/incident/IncidentServiceTest.java
  digiwf-connector/digiwf-camunda-connector/src/test/java/de/muenchen/oss/digiwf/connector/message/MessageServiceTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/resources/rest-api-client/example.http
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application.yml
Labels: digiwf-connector, digiwf-integrations, refactoring

#1118 refactoring(#1114): switch to camunda rest client feign
  digiwf-connector/digiwf-camunda-connector-service/pom.xml
  digiwf-connector/digiwf-camunda-connector-service/src/main/java/de/muenchen/oss/digiwf/connector/CamundaSecurityConfig.java
  digiwf-connector/digiwf-camunda-connector-service/src/main/java/de/muenchen/oss/digiwf/connector/DigiWFConnectorApplication.java
  digiwf-connector/digiwf-camunda-connector-service/src/main/resources/application.properties
  digiwf-connector/digiwf-camunda-connector-starter/pom.xml
  digiwf-connector/digiwf-camunda-connector-starter/src/main/java/de/muenchen/oss/digiwf/camunda/connector/configuration/DigiWFCamundaConnectorAutoConfiguration.java
  digiwf-connector/digiwf-camunda-connector/pom.xml
  digiwf-connector/digiwf-camunda-connector/src/main/java/de/muenchen/oss/digiwf/camunda/connector/bpmnerror/BpmnErrorServiceImpl.java
  digiwf-connector/digiwf-camunda-connector/src/main/java/de/muenchen/oss/digiwf/camunda/connector/data/EngineDataSerializer.java
  digiwf-connector/digiwf-camunda-connector/src/main/java/de/muenchen/oss/digiwf/camunda/connector/incident/IncidentServiceImpl.java
  digiwf-connector/digiwf-camunda-connector/src/main/java/de/muenchen/oss/digiwf/camunda/connector/message/MessageServiceImpl.java
  digiwf-connector/digiwf-camunda-connector/src/test/java/de/muenchen/oss/digiwf/connector/BaseSpringTest.java
  digiwf-connector/digiwf-camunda-connector/src/test/java/de/muenchen/oss/digiwf/connector/bpmnerror/BpmnErrorServiceTest.java
  digiwf-connector/digiwf-camunda-connector/src/test/java/de/muenchen/oss/digiwf/connector/incident/IncidentServiceTest.java
  digiwf-connector/digiwf-camunda-connector/src/test/java/de/muenchen/oss/digiwf/connector/message/MessageServiceTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/resources/rest-api-client/example.http
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application.yml
Labels: digiwf-connector, digiwf-integrations, refactoring

#1124 Update FileUpload Documentation
  docs/src/modeling/forms/fields/README.md
Labels: docs

#1127 bugfix(#328): send usertask notifications on assignment
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListener.java
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/Test/usertask-notifications/usertask-notifications.bpmn
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/BaseUserTaskNotificationListenerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListenerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListenerV02Test.java
Labels: bug, digiwf-engine

#1125 chore(#965): fix compiler warnings
  digiwf-coverage/pom.xml
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/filters/api/mapper/FilterApiMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/api/resource/HumanTaskRestController.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/service/HumanTaskService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/dms/muc/domain/model/Dokument.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/dms/muc/domain/model/Vorgang.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/instance/domain/mapper/ServiceInstanceMapper.java
  digiwf-libs/digiwf-email/digiwf-email-api/src/main/java/de/muenchen/oss/digiwf/email/model/Mail.java
  digiwf-libs/digiwf-spring-logging-and-tracing/src/main/resources/.gitkeep
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/src/main/java/de/muenchen/oss/digiwf/spring/security/SecurityConfiguration.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/application/port/out/engine/TaskCommandPort.java
Labels: bug, digiwf-engine, digiwf-task, digiwf-libs, digiwf-coverage

#1129 bugfix: email integration config
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application.yml
Labels: bug, digiwf-integrations

#1136 connector fix feign client exception handling
  digiwf-connector/digiwf-camunda-connector-service/pom.xml
Labels: bug, digiwf-connector

#1130 Add files via upload
  docs/src/modeling/forms/fields/date-form.PNG
  docs/src/modeling/forms/fields/date.PNG
Labels: docs

#1123 Migrate to OpenAPI Generator 7.1
  digiwf-apps/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/tasks/tasksApiCalls.ts
  digiwf-apps/packages/components/digiwf-engine-api-internal/src/api/api.ts
  digiwf-apps/packages/components/digiwf-task-api-internal/src/api/api.ts
  digiwf-apps/pom.xml
  digiwf-task/digiwf-tasklist-service/pom.xml
  digiwf-task/digiwf-tasklist-service/src/main/api/openapi.yml
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/in/rest/impl/TaskApiDelegateImpl.java
  pom.xml
Labels: digiwf-task, digiwf-apps

#1135 Feature/#1040 barrierefreiheitserklaerung in der tasklist
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/ContrastModeSelection.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/help/AppHelpMenu.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/help/KeyBindingLine.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/icons/HelpIcon.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/icons/KeyboardAccessibilityIcon.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/icons/StatementIcon.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/router.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/AccessibilityStatement.vue
  docs/src/.vuepress/public/element-template/searchSubjectArea.json
Labels: digiwf-apps, docs, feature

#597 Update Arch-Documentation Pics
  docs/src/images/platform/architecture/Microfrontends.png
  docs/src/images/platform/architecture/api_versioning.png
  docs/src/images/platform/architecture/digiwf-integrations.png
  docs/src/images/platform/architecture/digiwf_architecture_overview.png
  docs/src/images/platform/architecture/digiwf_core_services.png
  docs/src/images/platform/architecture/digiwf_how_to_integrate_your_app.png
Labels: docs

#1152 #1139: remove unnecessary function definitions from streaming
  digiwf-engine/digiwf-engine-service/src/main/resources/application-streaming.yml
Labels: bug, digiwf-engine

#1146 fix: incident ports
  digiwf-connector/digiwf-camunda-rest-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/adapter/camunda/rest/out/IncidentAdapter.java
  digiwf-connector/digiwf-camunda-rest-connector-starter/src/test/java/de/muenchen/oss/digiwf/connector/adapter/ArchitectureTest.java
  digiwf-libs/digiwf-testing/digiwf-unit-test/pom.xml
  digiwf-libs/digiwf-testing/digiwf-unit-test/src/main/java/de/muenchen/oss/digiwf/archunit/Adapters.java
  digiwf-libs/digiwf-testing/digiwf-unit-test/src/main/java/de/muenchen/oss/digiwf/archunit/ApplicationLayer.java
  digiwf-libs/digiwf-testing/digiwf-unit-test/src/main/java/de/muenchen/oss/digiwf/archunit/ArchitectureElement.java
  digiwf-libs/digiwf-testing/digiwf-unit-test/src/main/java/de/muenchen/oss/digiwf/archunit/HexagonalArchitecture.java
  digiwf-parent/pom.xml
  digiwf-task/digiwf-tasklist-service/pom.xml
Labels: bug, digiwf-connector, digiwf-task, digiwf-libs, digiwf-parent

#1155 Feature/#1128 multi file input dateianzahl konfigurierbar
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/FormFields.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfMultiFileInput.vue
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-inputs.schema.json
Labels: digiwf-engine, digiwf-apps, feature
