Repository it-at-m/digiwf-core, pull requests merged in 2023-07, with the labels that each got.

#501 use current timezone, fix #446
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/in/rest/mapper/DateMapper.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/in/rest/mapper/DateMapperTest.java
Labels: digiwf-task

#494 Test/cypress/enable local run
  digiwf-cypress/cypress.config.js
  digiwf-cypress/cypress/e2e/TL-1-Anzeigen-Vorgaenge.cy.js
  digiwf-cypress/cypress/e2e/dummyTest.cy.js
  digiwf-cypress/cypress/e2e/was_ist_digiwf.cy.js
  digiwf-cypress/cypress/support/commands.js
Labels: digiwf-cypress

#500 fix: add itemtext and value to formfield
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/domain/legacy/Form.java
Labels: digiwf-task

#449 Feature/#501 auto version bump
  .github/workflows/release.yaml
  utils/README.md
  utils/bump-version.sh
Labels: utils

#505 Docs: Axon Basics in Task-Sync
  docs/src/documentation/components/tasks.md
Labels: docs

#367 cancelable user task
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/cancelable-user-task/cancelable_user_task.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/cancelable-user-task/form_cancel_user_task.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/cancelable-user-task/start-form-cancelable-usertask.schema.json
Labels: digiwf-engine

#499 create foundation for task polyflow connector itest
  digiwf-task/digiwf-task-itest/pom.xml
  digiwf-task/digiwf-task-itest/src/main/java/io/muenchendigital/digiwf/task/TaskIntegrationApplication.java
  digiwf-task/digiwf-task-itest/src/main/resources/application.yml
  digiwf-task/digiwf-task-itest/src/main/resources/banner.txt
  digiwf-task/digiwf-task-itest/src/main/resources/db/migration/h2/V10__polyflow_core.sql
  digiwf-task/digiwf-task-itest/src/main/resources/db/migration/h2/V1__engine_7.18.0.sql
  digiwf-task/digiwf-task-itest/src/main/resources/db/migration/h2/V2__identity_7.18.0.sql
  digiwf-task/pom.xml
Labels: digiwf-task

#523 refactor: remove unused s3 example module
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-example/pom.xml
Labels: digiwf-integrations

#525 #526 engine fix task assign notification
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/humantask/process/listener/UserTaskNotificationListener.java
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/humantask/process/listener/UserTaskNotificationListenerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/humantask/process/listener/UserTaskNotificationListenerV02Test.java
Labels: digiwf-engine

#520 #506 tasklist fix missing download btn
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/legacy/document/domain/DocumentService.java
Labels: digiwf-engine, digiwf-apps

#507 #327 update example processes
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-input-fields-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-inputs.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/start-form-all-inputs-usertask.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/cosys-integration/CosysGenerateDocumentTestV02.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-integration.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/forms/email-integration_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/KontrollFormular.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/S3TestProzess.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/StartFormular.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/domain-specific-s3-storage-config.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/lm-test-config.json
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/process/ExampleProcessExitTimerTest.java
Labels: digiwf-engine

#448 feature(#398): support method put for file upload
  CHANGELOG.md
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/file/PresignedUrlAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/port/in/WorkOnTaskFile.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/application/usecase/WorkOnTaskFileUseCase.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/file/PresignedUrlAdapterTest.java
Labels: digiwf-task, digiwf-coverage

#521 Hotfix/#506,#509, #526 hotfix description, report, task notification
  digiwf-task/digiwf-polyflow-connector-starter/pom.xml
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/io/muenchendigital/digiwf/task/importer/TaskEnrichBatchJobHandler.java
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/io/muenchendigital/digiwf/task/importer/TaskImporterService.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/importer/TaskImporterServiceDeletionTest.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/importer/TaskImporterServiceTest.java
  digiwf-task/digiwf-polyflow-connector-starter/src/test/java/io/muenchendigital/digiwf/task/listener/AssignmentCreateTaskListenerTest.java
  digiwf-task/digiwf-task-itest/src/test/java/io/muenchendigital/digiwf/task/TaskDescriptionITest.java
Labels: digiwf-task

#538 refactor: add example for the s3 clients sync apis usage
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/java/io/muenchendigital/digiwf/s3/integration/example/client/controller/PresignedUrlController.java
Labels: digiwf-integrations

#532 #509 mv task enrichment to camunda batch jobs
  digiwf-task/digiwf-task-itest/src/test/java/io/muenchendigital/digiwf/task/TaskDescriptionITest.java
Labels: digiwf-task

#522 chore: lerna version bump to v0.21.11
  digiwf-apps/lerna.json
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/components/digiwf-date-input/package-lock.json
  digiwf-apps/packages/components/digiwf-date-input/package.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package.json
  digiwf-apps/packages/components/digiwf-form-builder/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder/package.json
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package-lock.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
  digiwf-apps/packages/components/digiwf-task-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-task-api-internal/package.json
Labels: digiwf-apps

#556 docs(#496): add formserver filehandling docs
  docs/src/.vuepress/config.js
  docs/src/integrations/digiwf-formserver-integration.md
Labels: docs
