Repository it-at-m/digiwf-core, pull requests merged in 2023-10, with the labels that each got.

#737 fix: init fabasoft testing
  digiwf-integrations/digiwf-dms-integration/README.md
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftClientConfiguration.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftProperties.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapterTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-api/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-api/src/main/resources/binding.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-api/src/main/resources/fabasoft.wsdl
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/FabasoftMockApplication.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/CreateProcedureCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/MockCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/MockInitializer.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/test/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/ExampleTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/FabasoftClienFactory.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/MockUtils.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/SoapObjectMatcher.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock/src/test/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/ExampleTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/pom.xml
  docs/src/integrations/digiwf-dms-integration.md
  stack/local-docker.env
Labels: docs, digiwf-integrations, stack, feature

#801 fix release ci dms typo
  .github/workflows/workflow-release-services.yaml
Labels: bug

#613 feature: add okewo integration
  .github/workflows/workflow-release-services.yaml
  digiwf-integrations/README.md
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/.openapi-generator/api-docs.json-cosys-api.sha256
  digiwf-integrations/digiwf-okewo-integration/README.md
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/.openapi-generator/FILES
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/.openapi-generator/VERSION
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/.openapi-generator/api-docs.json-generate-server-stubs.sha256
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/pom.xml
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/main/api/api-docs.json
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/main/java/de/muenchen/oss/digiwf/okewo/integration/exception/OkEwoIntegrationClientErrorException.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/main/java/de/muenchen/oss/digiwf/okewo/integration/exception/OkEwoIntegrationException.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/main/java/de/muenchen/oss/digiwf/okewo/integration/exception/OkEwoIntegrationServerErrorException.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/main/java/de/muenchen/oss/digiwf/okewo/integration/repository/OkEwoPersonErweitertRepository.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/main/java/de/muenchen/oss/digiwf/okewo/integration/repository/OkEwoPersonRepository.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/main/java/de/muenchen/oss/digiwf/okewo/integration/service/OkEwoPersonErweitertService.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/main/java/de/muenchen/oss/digiwf/okewo/integration/service/OkEwoPersonService.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/main/java/de/muenchen/oss/digiwf/okewo/integration/service/PropertiesServiceTemplate.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/test/java/de/muenchen/oss/digiwf/okewo/integration/repository/OkEwoPersonErweitertRepositoryTest.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/test/java/de/muenchen/oss/digiwf/okewo/integration/repository/OkEwoPersonRepositoryTest.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/test/java/de/muenchen/oss/digiwf/okewo/integration/service/OkEwoPersonErweitertServiceTest.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/test/java/de/muenchen/oss/digiwf/okewo/integration/service/OkEwoPersonServiceTest.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/src/test/java/de/muenchen/oss/digiwf/okewo/integration/service/PropertiesServiceTemplateTest.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/Dockerfile
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/pom.xml
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/java/de/muenchen/oss/digiwf/okewo/integration/api/OkEwoIntegrationApplication.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/java/de/muenchen/oss/digiwf/okewo/integration/api/configuration/OkEwoConfiguration.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/java/de/muenchen/oss/digiwf/okewo/integration/api/dto/request/AbstractRequestDto.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/java/de/muenchen/oss/digiwf/okewo/integration/api/dto/request/OkEwoEventDto.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/java/de/muenchen/oss/digiwf/okewo/integration/api/dto/request/OrdnungsmerkmalDto.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/java/de/muenchen/oss/digiwf/okewo/integration/api/dto/request/SearchPersonErweitertRequestDto.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/java/de/muenchen/oss/digiwf/okewo/integration/api/dto/request/SearchPersonRequestDto.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/java/de/muenchen/oss/digiwf/okewo/integration/api/dto/response/OkEwoErrorDto.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/java/de/muenchen/oss/digiwf/okewo/integration/api/streaming/OkEwoStreamingEventListener.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/resources/application-itest.yml
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/resources/application-local.yml
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/resources/banner.txt
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/test/java/de/muenchen/oss/digiwf/okewo/integration/api/OkEwoIntegrationApplicationTest.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/test/resources/application-itest.yml
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-starter/pom.xml
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-starter/src/main/java/de/muenchen/oss/digiwf/okewo/integration/configuration/OkEwoIntegrationAutoConfiguration.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-starter/src/main/java/de/muenchen/oss/digiwf/okewo/integration/properties/OkEwoIntegrationProperties.java
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-starter/src/main/resources/META-INF/spring.factories
  digiwf-integrations/digiwf-okewo-integration/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/.openapi-generator/api-docs.json-document-storage-api.sha256
  digiwf-integrations/pom.xml
  docs/src/.vuepress/public/element-template/okEwoIntegration.json
  docs/src/integrations/digiwf-ok.ewo-integration.md
  docs/src/modeling/templates/element-templates/index.md
Labels: docs, digiwf-integrations, feature

#812 #702: rename query key in process instances
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/processInstances/processInstancesMiddleware.ts
Labels: bug, digiwf-apps

#814 bugfix(#771): harden the ou tree ldap search
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/user/external/client/LhmLdapClient.java
Labels: bug, digiwf-engine

#818 #817 fix instances page missing col state
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/processInstances/processInstancesMiddleware.ts
Labels: digiwf-apps

#820 Fix sendMailV02.json
  docs/src/.vuepress/public/element-template/sendMailV02.json
Labels: docs

#789 Test/cypress/docu
  digiwf-cypress/readme.md
Labels: digiwf-cypress

#809 add aria labels, fix #715
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/AppPaginationFooter.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/common/SearchField.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/form/BaseLdapInput.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/process/ProcessDefinitionItem.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/process/ProcessInstanceItem.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/GroupTaskItem.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/TaskFollowUpDialog.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/TaskItem.vue
Labels: digiwf-apps, feature

#837 Revert "#228 rm input empty string default value (#705)"
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionDataService.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/schema/JsonSchemaValidationAdapter.java
Labels: digiwf-engine, digiwf-task

#825 Feat/663 cancle object
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/cancel-object/dms-integration-cancel-object.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/cancel-object/forms/dms-integration-cancel-object_start.schema.json
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CancelObjectDto.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/CancelObjectUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/out/CancelObjectPort.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/CancelObjectService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CancelObjectMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessorTestBase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapterTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/service/CancelObjectServiceTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/CancelObjectCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/java/de/muenchen/oss/digiwf/dms/integration/configuration/DmsAutoConfiguration.java
  docs/src/.vuepress/public/element-template/cancelObject.json
  docs/src/integrations/digiwf-dms-integration.md
Labels: digiwf-engine, docs, digiwf-integrations, feature

#853 Remove StaffNumber from Docs
  docs/src/modeling/expressions/functions/README.md
Labels: docs

#841 #833: add message payload to incident consumer
  digiwf-connector/digiwf-camunda-connector/src/main/java/de/muenchen/oss/digiwf/camunda/connector/incident/IncidentServiceImpl.java
  digiwf-connector/digiwf-camunda-connector/src/test/java/de/muenchen/oss/digiwf/connector/incident/IncidentServiceTest.java
  digiwf-connector/digiwf-connector-api/src/main/java/de/muenchen/oss/digiwf/connector/api/incident/IncidentService.java
  digiwf-connector/digiwf-connector-core/src/main/java/de/muenchen/oss/digiwf/connector/incident/internal/streaming/IncidentConsumer.java
  digiwf-connector/digiwf-connector-core/src/test/java/de/muenchen/oss/digiwf/connector/incident/internal/streaming/IncidentConsumerTest.java
  digiwf-connector/digiwf-connector-starter-rest/src/main/java/de/muenchen/oss/digiwf/connector/rest/incident/CreateIncidentDto.java
  digiwf-connector/digiwf-connector-starter-rest/src/main/java/de/muenchen/oss/digiwf/connector/rest/incident/IncidentRestController.java
Labels: bug, digiwf-connector

#836 Bugfix/#733 time input
  digiwf-apps/packages/apps/digiwf-forms-example/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/AppJsonForm.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/AppJsonRenderer.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/main.ts
  digiwf-apps/packages/components/digiwf-date-input/components.d.ts
  digiwf-apps/packages/components/digiwf-date-input/src/components/DwfTimeInput.vue
  digiwf-apps/packages/components/digiwf-date-input/src/index.ts
  digiwf-apps/packages/components/digiwf-date-input/src/transformation/transformNativeTimeValue.spec.ts
  digiwf-apps/packages/components/digiwf-date-input/src/transformation/transformNativeTimeValue.ts
  digiwf-apps/packages/components/digiwf-date-input/src/validation/dateValidation.spec.ts
  digiwf-apps/packages/components/digiwf-date-input/src/validation/dateValidation.ts
  digiwf-apps/packages/components/digiwf-date-input/src/validation/timeValidation.spec.ts
  digiwf-apps/packages/components/digiwf-date-input/src/validation/timeValidation.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/ModelerPalette.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/ModelerPalette.ts
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-inputs.schema.json
  docs/src/.vuepress/config.js
  docs/src/documentation/guides/custom-input-field/README.md
Labels: bug, digiwf-engine, digiwf-apps, docs

#855 Feature/#844 fab egov integration tests dokument erstellen
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/s3/S3Adapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CreateDocumentMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapterTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/s3/S3AdapterTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/CreateIncomingDocumentCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/CreateInternalDocumentCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/CreateOutgoingDocumentCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/java/de/muenchen/oss/digiwf/dms/integration/configuration/DmsProperties.java
Labels: digiwf-integrations, feature

#877 #824: set java version to 17 in release camunda ee action
  .github/workflows/workflow-release-services.yaml
Labels: bug

#865 chore(#766): remove digiwf-schema-registry
  .gitignore
  digiwf-coverage/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client-example/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client-example/src/main/java/de/muenchen/oss/digiwf/schema/registry/client/SchemaRegistryClientExampleApplication.java
  digiwf-schema-registry/digiwf-schema-registry-client-example/src/main/java/de/muenchen/oss/digiwf/schema/registry/client/configuration/RestTemplateConfiguration.java
  digiwf-schema-registry/digiwf-schema-registry-client-example/src/main/java/de/muenchen/oss/digiwf/schema/registry/client/controller/JsonSchemaRestController.java
  digiwf-schema-registry/digiwf-schema-registry-client-example/src/main/resources/application-local.properties
  digiwf-schema-registry/digiwf-schema-registry-client-example/src/main/resources/application.properties
  digiwf-schema-registry/digiwf-schema-registry-client-example/src/main/resources/files/cat.jpg
  digiwf-schema-registry/digiwf-schema-registry-client-example/src/main/resources/files/sunflower.jpg
  digiwf-schema-registry/digiwf-schema-registry-client-example/src/main/resources/logback-spring.xml
  digiwf-schema-registry/digiwf-schema-registry-client-example/src/test/resources/logback-test.xml
  digiwf-schema-registry/digiwf-schema-registry-client-starter/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client-starter/src/main/java/de/muenchen/oss/digiwf/schema/registry/client/configuration/SchemaRegistryClientAutoConfiguration.java
  digiwf-schema-registry/digiwf-schema-registry-client-starter/src/main/java/de/muenchen/oss/digiwf/schema/registry/client/properties/SchemaRegistryClientProperties.java
  digiwf-schema-registry/digiwf-schema-registry-client-starter/src/main/resources/META-INF/spring.factories
  digiwf-schema-registry/digiwf-schema-registry-client/.openapi-generator-ignore
  digiwf-schema-registry/digiwf-schema-registry-client/.openapi-generator/FILES
  digiwf-schema-registry/digiwf-schema-registry-client/.openapi-generator/VERSION
  digiwf-schema-registry/digiwf-schema-registry-client/.openapi-generator/api-docs.json-schema-registry-api.sha256
  digiwf-schema-registry/digiwf-schema-registry-client/.swagger-codegen-ignore
  digiwf-schema-registry/digiwf-schema-registry-client/apidoc/.openapi-generator-ignore
  digiwf-schema-registry/digiwf-schema-registry-client/apidoc/api-docs.json
  digiwf-schema-registry/digiwf-schema-registry-client/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client/src/main/java/de/muenchen/oss/digiwf/schema/registry/gen/ApiClient.java
  digiwf-schema-registry/digiwf-schema-registry-client/src/main/java/de/muenchen/oss/digiwf/schema/registry/gen/RFC3339DateFormat.java
  digiwf-schema-registry/digiwf-schema-registry-client/src/main/java/de/muenchen/oss/digiwf/schema/registry/gen/api/JsonSchemaApi.java
  digiwf-schema-registry/digiwf-schema-registry-client/src/main/java/de/muenchen/oss/digiwf/schema/registry/gen/auth/ApiKeyAuth.java
  digiwf-schema-registry/digiwf-schema-registry-client/src/main/java/de/muenchen/oss/digiwf/schema/registry/gen/auth/Authentication.java
  digiwf-schema-registry/digiwf-schema-registry-client/src/main/java/de/muenchen/oss/digiwf/schema/registry/gen/auth/HttpBasicAuth.java
  digiwf-schema-registry/digiwf-schema-registry-client/src/main/java/de/muenchen/oss/digiwf/schema/registry/gen/auth/OAuth.java
  digiwf-schema-registry/digiwf-schema-registry-client/src/main/java/de/muenchen/oss/digiwf/schema/registry/gen/model/JsonSchemaDto.java
  digiwf-schema-registry/digiwf-schema-registry-service/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/DigiWFSchemaRegistryApplication.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/api/DeploymentStatusModel.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/api/JsonSchema.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/api/JsonSchemaService.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/api/SchemaDeploymentEvent.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/internal/deployment/JsonSchemaAutodeployment.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/internal/impl/mapper/JsonSchemaMapper.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/internal/impl/model/JsonSchemaImpl.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/internal/impl/repository/JsonSchemaRepository.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/internal/impl/service/JsonSchemaServiceImpl.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/rest/JsonSchemaDto.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/rest/JsonSchemaRestController.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/rest/SchemaRestMapper.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/security/AuthoritiesEnum.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/java/de/muenchen/oss/digiwf/schema/registry/security/NoSecurityConfiguration.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/resources/application-local.properties
  digiwf-schema-registry/digiwf-schema-registry-service/src/main/resources/application.properties
  digiwf-schema-registry/digiwf-schema-registry-service/src/test/java/de/muenchen/oss/digiwf/schema/registry/BaseSpringEntityTest.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/test/java/de/muenchen/oss/digiwf/schema/registry/internal/JsonSchemaServiceTest.java
  digiwf-schema-registry/digiwf-schema-registry-service/src/test/java/de/muenchen/oss/digiwf/schema/registry/internal/JsonSchemaTestImpl.java
  digiwf-schema-registry/pom.xml
  pom.xml
Labels: digiwf-schema-registry, digiwf-coverage

#864 chore(#757): remove digiwf-spring-cloudstream-utils
  digiwf-coverage/pom.xml
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/pom.xml
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/pom.xml
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-starter/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/.gitignore
  digiwf-libs/digiwf-spring-cloudstream-utils/README.md
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/error/ErrorMessageDefaultListener.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/bpmnerror/service/BpmnErrorService.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/incident/service/IncidentService.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/infrastructure/EventEmitterConfiguration.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/infrastructure/RoutingCallback.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/infrastructure/StreamingHeaders.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/message/service/CorrelateMessageService.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/process/service/StartProcessService.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/service/PayloadSenderService.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-starter/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-starter/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/configuration/StreamingConfiguration.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-starter/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/configuration/StreamingProperties.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-starter/src/main/resources/META-INF/spring.factories
  digiwf-libs/digiwf-spring-cloudstream-utils/example-spring-cloudstream-utils/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/example-spring-cloudstream-utils/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/DigiwfCloudstreamApplication.java
  digiwf-libs/digiwf-spring-cloudstream-utils/example-spring-cloudstream-utils/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/api/controller/ExampleController.java
  digiwf-libs/digiwf-spring-cloudstream-utils/example-spring-cloudstream-utils/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/api/streaming/ProcessIncomingMessage.java
  digiwf-libs/digiwf-spring-cloudstream-utils/example-spring-cloudstream-utils/src/main/resources/DigiWF-Cloudstream-Utils.postman_collection.json
  digiwf-libs/digiwf-spring-cloudstream-utils/example-spring-cloudstream-utils/src/main/resources/application-local.properties
  digiwf-libs/digiwf-spring-cloudstream-utils/example-spring-cloudstream-utils/src/main/resources/application.properties
  digiwf-libs/digiwf-spring-cloudstream-utils/images/logo.png
  digiwf-libs/digiwf-spring-cloudstream-utils/policies/default.yml
  digiwf-libs/digiwf-spring-cloudstream-utils/pom.xml
  digiwf-libs/pom.xml
Labels: digiwf-libs, digiwf-integrations, digiwf-coverage

#862 chore(#647): remove digiwf-asyncapidocs
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/deployment/api/streaming/DeploymentEventEmitter.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/deployment/api/streaming/DeploymentEventListener.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/jsonschema/deployment/api/streaming/SchemaDeploymentEventListener.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/message/api/streaming/MessageEventListener.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/config/api/streaming/ConfigurationDeploymentEventListener.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/api/streaming/ProcessEventListener.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application-streaming.yml
  docs/src/documentation/guides/topics.md
Labels: digiwf-engine, docs

#878 fix: merge conflict
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-starter/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/example-spring-cloudstream-utils/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client-example/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client-starter/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-service/pom.xml
  digiwf-schema-registry/pom.xml
Labels: bug, digiwf-schema-registry, digiwf-libs

#891 Feature/#760 aggregations in integrations
  digiwf-integrations/digiwf-alw-integration/pom.xml
  digiwf-integrations/digiwf-cosys-integration/pom.xml
  digiwf-integrations/digiwf-dms-integration/pom.xml
  digiwf-integrations/digiwf-email-integration/pom.xml
  digiwf-integrations/digiwf-example-integration/pom.xml
  digiwf-integrations/digiwf-integration-parent/pom.xml
  digiwf-integrations/digiwf-okewo-integration/pom.xml
  digiwf-integrations/digiwf-s3-integration/pom.xml
  digiwf-integrations/digiwf-verification-integration/pom.xml
  digiwf-integrations/pom.xml
Labels: digiwf-integrations, feature

#860 Feat/664 read files
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/deposit-object/forms/dms-integration-deposit-object_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/read-content/dms-integration-read-content.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/read-content/forms/dms-integration-read-content_check.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/read-content/forms/dms-integration-read-content_start.schema.json
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/.openapi-generator/VERSION
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/.openapi-generator/api-docs.json-cosys-api.sha256
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/model/Generator.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/src/main/java/de/muenchen/oss/digiwf/cosys/integration/gen/model/ReadPdfFieldsOutput.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/ReadContentDto.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/s3/S3Adapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/ReadContentUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/out/ReadContent.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/out/TransferContentPort.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/ReadContentService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/UpdateDocumentService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/domain/Content.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessorTestBase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/ReadContentMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapterTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/s3/S3AdapterTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/service/ReadContentServiceTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/service/UpdateDocumentServiceTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/cases/ReadContentCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/main/resources/data/test.pdf
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/java/de/muenchen/oss/digiwf/dms/integration/configuration/DmsAutoConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/.openapi-generator/VERSION
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/.openapi-generator/api-docs.json-document-storage-api.sha256
  digiwf-task/digiwf-tasklist-service/src/main/resources/application.yml
  digiwf-task/digiwf-tasklist-service/src/test/resources/application-itest.yml
  docs/src/.vuepress/public/element-template/readContent.json
  docs/src/.vuepress/public/element-template/user-task-template.json
  docs/src/integrations/digiwf-dms-integration.md
  stack/local-docker.env
Labels: digiwf-engine, digiwf-task, digiwf-apps, docs, digiwf-integrations, stack, feature

#895 Doku CoSys Rollen
  docs/src/modeling/integrations/catalog/index.md
Labels: docs

#897 force github issue template
  .github/ISSUE_TEMPLATE/config.yml
Labels: feature

#907 Fix/management enpoints
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
Labels: bug, digiwf-integrations
