Repository it-at-m/digiwf-core, pull requests merged in 2023-04, with the labels that each got.

#264 fix: bpmn, dmn deployment permissions
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/deployment/api/resource/DeploymentController.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
Labels: digiwf-engine

#194 Feature/#514 semi automatic session refresh
  digiwf-apps/packages/apps/digiwf-tasklist/.env.development
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/public/loginsuccess.html
  digiwf-apps/packages/apps/digiwf-tasklist/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/EngineServiceApiConfig.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/UserService.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/persistentFilters/persistentFilterApiCalls.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/sessionReloadHandler.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/statusCodeHandling.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/tasks/tasksApiCalls.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/form/BaseAlwDocumentInput.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/form/BaseDocumentInput.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/form/BaseLdapInput.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/VMultiUserInput.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/VUserInput.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/main.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/router.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/index.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/info.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/processDefinitions.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/processInstances.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/user.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/envVariables.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/GroupTaskDetail.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/ProcessInstanceDetailView.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/ProcessInstances.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/StartProcess.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
  digiwf-apps/packages/apps/digiwf-tasklist/vite.config.ts
  digiwf-apps/packages/components/digiwf-engine-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/src/FetchUtils.ts
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/process/instance/domain/service/ServiceInstanceDataService.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/process/instance/domain/service/ServiceInstanceService.java
  digiwf-gateway/src/main/java/io/muenchendigital/digiwf/gateway/configuration/SecurityConfiguration.java
  digiwf-gateway/src/main/java/io/muenchendigital/digiwf/gateway/controller/SessionTimeoutController.java
  digiwf-gateway/src/main/resources/application.yml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/.openapi-generator/api-docs.json-cosys-api.sha256
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/.openapi-generator/api-docs.json-document-storage-api.sha256
  docs/src/.vuepress/config.js
  docs/src/documentation/components/frontend.md
  docs/src/documentation/guides/technical-setup/README.md
  docs/src/images/platform/components/frontend/.$session-timeoutapi-gateway-frontend.drawio.bkp
  docs/src/images/platform/components/frontend/session-mgmt-api-gateway-frontend.drawio
  docs/src/images/platform/components/frontend/session-mgmt-api-gateway-frontend.png
  docs/src/images/platform/components/frontend/session-timeoutapi-gateway-frontend.drawio
  docs/src/images/platform/components/frontend/session-timeoutapi-gateway-frontend.png
Labels: digiwf-engine, digiwf-apps, digiwf-gateway, docs, digiwf-integrations

#291 chore: restored hazelcast version
  digiwf-gateway/pom.xml
Labels: digiwf-gateway

#286 Feature/#557 taskservice ldap anbindung
  digiwf-task/digiwf-tasklist-service/pom.xml
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/auth/group/easyLdap/EasyLdapClient.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/auth/group/easyLdap/LdapUserGroupResolver.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/adapter/out/auth/group/easyLdap/model/UserInfoResponse.java
  digiwf-task/digiwf-tasklist-service/src/main/java/io/muenchendigital/digiwf/task/service/infra/auth/AuthConfiguration.java
  digiwf-task/digiwf-tasklist-service/src/main/resources/application.yml
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/auth/group/LdapUserGroupResolverTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/auth/group/easyLdap/EasyLdapClientTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/adapter/out/auth/group/easyLdap/EasyLdapMockConfig.java
  digiwf-task/digiwf-tasklist-service/src/test/java/io/muenchendigital/digiwf/task/service/infra/auth/AuthTestConfiguration.java
  digiwf-task/digiwf-tasklist-service/src/test/resources/application-itest.yml
  digiwf-task/digiwf-tasklist-service/src/test/resources/files/easy-ldap-response.json
  stack/local-docker.env
Labels: digiwf-task, stack

#299 chore: add docker build and release
  .github/workflows/release.yaml
  digiwf-task/digiwf-tasklist-service/Dockerfile
Labels: digiwf-task

#275 Feature/#59 migrate s3 integration service
  .github/workflows/release.yaml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-example/src/main/java/io/muenchendigital/digiwf/s3/integration/S3ExampleApplication.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-example/src/test/java/io/muenchendigital/digiwf/s3/integration/DocumentStorageApplicationIntegrationTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/Dockerfile
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/S3IntegrationApplication.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/CacheControlConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/CustomUserInfoTokenServices.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/ForwardedHeaderConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/GracefulShutdownConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/NoSecurityConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/SecurityConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/SpringRestConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/UnicodeConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/gracefulshutdown/GracefulShutdown.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/gracefulshutdown/GracefulShutdownHealthCheck.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/nfcconverter/NfcHelper.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/nfcconverter/NfcReader.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/nfcconverter/NfcRequest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/nfcconverter/NfcRequestFilter.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/nfcconverter/NfcServletInputStream.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/io/muenchendigital/digiwf/s3/integration/security/RequestResponseLoggingFilter.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/application-local.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/banner.txt
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/db/migration/V1__Initial.sql
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/logback-spring.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/s3/cors-config.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/java/io/muenchendigital/digiwf/s3/integration/TestConstants.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/java/io/muenchendigital/digiwf/s3/integration/configuration/gracefulshutdown/GracefulShutdownHealthCheckTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/java/io/muenchendigital/digiwf/s3/integration/configuration/nfcconverter/NfcConverterTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/java/io/muenchendigital/digiwf/s3/integration/configuration/nfcconverter/NfcHelperTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/resources/application-test.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-starter/src/main/java/io/muenchendigital/digiwf/s3/integration/configuration/S3IntegrationAutoConfiguration.java
  digiwf-integrations/digiwf-s3-integration/pom.xml
  stack/local-docker.env
Labels: digiwf-integrations, stack

#279 Feat/#440 add process name to incident notification
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/engine/incidents/IncidentNotifierHandler.java
  digiwf-engine/digiwf-engine-service/src/main/java/io/muenchendigital/digiwf/humantask/process/listener/UserTaskNotificationListener.java
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/engine/incidents/IncidentNotifierHandlerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/humantask/process/listener/UserTaskNotificationListenerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/io/muenchendigital/digiwf/humantask/process/listener/UserTaskNotificationListenerV02Test.java
Labels: digiwf-schema-registry, digiwf-engine, digiwf-integrations
