Repository it-at-m/digiwf-core, pull requests merged in 2023-08, with the labels that each got.

#530 Test/cypress/tl 2 anzeigen aufgaben
  digiwf-cypress/cypress.config.js
  digiwf-cypress/cypress/constants/dataElementKeys.js
  digiwf-cypress/cypress/constants/environmentVariables.js
  digiwf-cypress/cypress/e2e/TL-2-Anzeigen-Meine-Aufgaben.cy.js
  digiwf-cypress/cypress/pages/exampleUserTask.js
  digiwf-cypress/cypress/pages/meineAufgaben.js
  digiwf-cypress/cypress/pages/page.js
  digiwf-cypress/cypress/pages/userTask.js
  digiwf-cypress/cypress/pages/vorgangStarten.js
  digiwf-cypress/cypress/support/commands.js
  digiwf-cypress/package-lock.json
Labels: digiwf-cypress

#554 chore(#346): rename maven group names for digiwf connector
  digiwf-connector/digiwf-camunda-connector-service/pom.xml
  digiwf-connector/digiwf-camunda-connector-starter/pom.xml
  digiwf-connector/digiwf-camunda-connector/pom.xml
  digiwf-connector/digiwf-connector-api/pom.xml
  digiwf-connector/digiwf-connector-core/pom.xml
  digiwf-connector/digiwf-connector-starter-rest/pom.xml
  digiwf-connector/digiwf-connector-starter/pom.xml
  digiwf-connector/pom.xml
  digiwf-coverage/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/pom.xml
  pom-new.xml
  pom-old.xml
Labels: digiwf-connector, digiwf-schema-registry, digiwf-engine, digiwf-task, digiwf-libs, digiwf-process, digiwf-gateway, digiwf-integrations, digiwf-coverage

#548 chore(#346): rename maven group names for digiwf schema registry
  digiwf-coverage/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client-example/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client-starter/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-client/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-service/pom.xml
  digiwf-schema-registry/pom.xml
  pom-new.xml
  pom-old.xml
Labels: digiwf-connector, digiwf-schema-registry, digiwf-engine, digiwf-task, digiwf-libs, digiwf-process, digiwf-gateway, digiwf-integrations, digiwf-coverage

#552 chore(#346): rename maven group names for digiwf gateway
  digiwf-coverage/pom.xml
  digiwf-gateway/pom.xml
  pom-new.xml
  pom-old.xml
Labels: digiwf-connector, digiwf-schema-registry, digiwf-engine, digiwf-task, digiwf-libs, digiwf-process, digiwf-gateway, digiwf-integrations, digiwf-coverage

#551 chore(#346): rename maven group names for digiwf engine
  digiwf-coverage/pom.xml
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-engine/pom.xml
  pom-new.xml
  pom-old.xml
Labels: digiwf-connector, digiwf-schema-registry, digiwf-engine, digiwf-task, digiwf-libs, digiwf-process, digiwf-gateway, digiwf-integrations, digiwf-coverage

#547 chore(#346): rename maven group names digiwf-task
  digiwf-coverage/pom.xml
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-task/digiwf-polyflow-connector-starter/pom.xml
  digiwf-task/digiwf-task-api/pom.xml
  digiwf-task/digiwf-task-itest/pom.xml
  digiwf-task/digiwf-tasklist-service/pom.xml
  digiwf-task/pom.xml
  pom-new.xml
  pom-old.xml
Labels: digiwf-connector, digiwf-schema-registry, digiwf-engine, digiwf-task, digiwf-libs, digiwf-process, digiwf-gateway, digiwf-integrations, digiwf-coverage

#553 chore(#346): rename maven group names for digiwf integrations
  digiwf-coverage/pom.xml
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/pom.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-example/pom.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/pom.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-starter/pom.xml
  digiwf-integrations/digiwf-alw-integration/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-client/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/pom.xml
  digiwf-integrations/digiwf-cosys-integration/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-starter/pom.xml
  digiwf-integrations/digiwf-email-integration/pom.xml
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-core/pom.xml
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-example/pom.xml
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-service/pom.xml
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-starter/pom.xml
  digiwf-integrations/digiwf-example-integration/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-starter/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-starter/pom.xml
  digiwf-integrations/digiwf-s3-integration/pom.xml
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/pom.xml
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-service/pom.xml
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-starter/pom.xml
  digiwf-integrations/digiwf-verification-integration/pom.xml
  digiwf-integrations/pom.xml
  digiwf-task/digiwf-tasklist-service/pom.xml
  pom-new.xml
  pom-old.xml
Labels: digiwf-connector, digiwf-schema-registry, digiwf-engine, digiwf-task, digiwf-libs, digiwf-process, digiwf-gateway, digiwf-integrations, digiwf-coverage

#550 chore(#346): rename maven group names for digiwf libs
  digiwf-connector/digiwf-camunda-connector-starter/pom.xml
  digiwf-connector/digiwf-camunda-connector/pom.xml
  digiwf-connector/digiwf-connector-core/pom.xml
  digiwf-connector/digiwf-connector-starter-rest/pom.xml
  digiwf-connector/digiwf-connector-starter/pom.xml
  digiwf-coverage/pom.xml
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/pom.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-starter/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/pom.xml
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-core/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/pom.xml
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-core/pom.xml
  digiwf-integrations/digiwf-verification-integration/digiwf-verification-integration-starter/pom.xml
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/pom.xml
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-example/pom.xml
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/pom.xml
  digiwf-libs/digiwf-camunda-prometheus/pom.xml
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-core/pom.xml
  digiwf-libs/digiwf-json-serialization/digiwf-json-serialization-starter/pom.xml
  digiwf-libs/digiwf-json-serialization/example-json-serialization/pom.xml
  digiwf-libs/digiwf-json-serialization/pom.xml
  digiwf-libs/digiwf-message/digiwf-message-core/pom.xml
  digiwf-libs/digiwf-message/digiwf-message-example/pom.xml
  digiwf-libs/digiwf-message/digiwf-message-starter/pom.xml
  digiwf-libs/digiwf-message/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-starter/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/example-spring-cloudstream-utils/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/pom.xml
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/pom.xml
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-starter/pom.xml
  digiwf-libs/digiwf-spring-security/pom.xml
  digiwf-libs/pom.xml
  digiwf-schema-registry/digiwf-schema-registry-service/pom.xml
  digiwf-task/digiwf-tasklist-service/pom.xml
  pom-new.xml
  pom-old.xml
Labels: digiwf-connector, digiwf-schema-registry, digiwf-engine, digiwf-task, digiwf-libs, digiwf-process, digiwf-gateway, digiwf-integrations, digiwf-coverage

#546 chore(#346): rename maven group names digiwf-coverage
  digiwf-coverage/pom.xml
  pom-new.xml
  pom-old.xml
Labels: digiwf-connector, digiwf-schema-registry, digiwf-engine, digiwf-task, digiwf-libs, digiwf-process, digiwf-gateway, digiwf-integrations, digiwf-coverage

#557 Chore(#346): final rename maven group names
  digiwf-apps/pom.xml
  digiwf-connector/pom.xml
  digiwf-coverage/pom.xml
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/file/S3Configuration.java
  digiwf-engine/pom.xml
  digiwf-gateway/pom.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/logback-spring.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-starter/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/configuration/S3IntegrationClientAutoConfiguration.java
  digiwf-integrations/pom.xml
  digiwf-libs/digiwf-spring-cloudstream-utils/README.md
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/bpmnerror/service/BpmnErrorService.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/incident/service/IncidentService.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/message/service/CorrelateMessageService.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/process/service/StartProcessService.java
  digiwf-libs/digiwf-spring-cloudstream-utils/digiwf-spring-cloudstream-utils-core/src/main/java/de/muenchen/oss/digiwf/spring/cloudstream/utils/api/streaming/service/PayloadSenderService.java
  digiwf-libs/pom.xml
  digiwf-process/pom.xml
  digiwf-schema-registry/pom.xml
  digiwf-task/pom.xml
  docs/pom.xml
  docs/src/integrations/digiwf-alw-integration.md
  docs/src/integrations/digiwf-cosys-integration.md
  docs/src/integrations/digiwf-mail-integration.md
  docs/src/integrations/digiwf-s3-integration.md
  docs/src/integrations/digiwf-verification-integration.md
  docs/src/integrations/guides/custom-integration-service.md
  pom-new.xml
  pom-old.xml
  pom.xml
Labels: digiwf-connector, digiwf-schema-registry, digiwf-engine, digiwf-task, digiwf-libs, digiwf-process, digiwf-apps, digiwf-gateway, docs, digiwf-integrations, digiwf-coverage

#569 chore(#346): rename io.muenchendigital.digiwf to de.muenchen.oss.digiwf
  stack/local-docker.env
Labels: stack

#568 #567: Add logstash-logback-encoder to digiwf-email-integration-servic…
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/pom.xml
Labels: digiwf-integrations

#566 Feature/#535 database pagination for process instances
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/instance/api/mapper/ProcessInstancePageMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/instance/domain/service/ServiceInstanceService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/instance/infrastructure/repository/ProcessInstanceInfoRepository.java
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/h2/V11__add_indexes_to_process_instance_tables.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V22__add_indexes_to_process_instance_tables.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/postgresql/V11__add_indexes_to_process_instance_tables.sql
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/instance/api/mapper/ProcessInstancePageMapperTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/instance/infrastructure/repository/ProcessInstanceInfoRepositoryTest.java
Labels: digiwf-engine

#577 Feature/#512 configure sort direction
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/tasks/tasksApiCalls.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/common/SearchField.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/common/SortBySelect.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/TaskList.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/PageBasedPaginationProvider.spec.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/PageBasedPaginationProvider.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/paginationData.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/index.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/filters.spec.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/filters.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/menu.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/AssignedGroupTasks.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/OpenGroupTasks.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/Tasks.vue
Labels: digiwf-apps

#596 inital implementation
  digiwf-engine/digiwf-engine-cockpit/src/main/java/de/muenchen/oss/digiwf/cockpit/security/authorization/AuthorizationHelper.java
  digiwf-engine/digiwf-engine-cockpit/src/main/java/de/muenchen/oss/digiwf/cockpit/security/authorization/DefaultAuthorizationInitializer.java
  digiwf-engine/digiwf-engine-cockpit/src/main/java/de/muenchen/oss/digiwf/cockpit/security/authorization/LocalAuthorizationInitializer.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/security/DefaultAuthorizationInitializer.java
Labels: digiwf-engine

#606 #601: fix sorting
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/instance/domain/service/ServiceInstanceService.java
Labels: digiwf-engine

#604 fix: conflicting bean exception for RequestResponseLoggingFilter
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/de/muenchen/oss/digiwf/s3/integration/security/RequestResponseLoggingFilter.java
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/src/main/java/de/muenchen/oss/digiwf/spring/security/authentication/RequestResponseLoggingFilter.java
  stack/local-docker.env
Labels: digiwf-libs, digiwf-integrations, stack

#600 Test/cypress/tl 3 offene gruppen tasks
  digiwf-cypress/cypress.config.js
  digiwf-cypress/cypress/constants/dataElementKeys.js
  digiwf-cypress/cypress/constants/environmentVariables.js
  digiwf-cypress/cypress/e2e/TL-3-Offene-Gruppen-Tasks.cy.js
  digiwf-cypress/cypress/pages/exampleGroupTask.js
  digiwf-cypress/cypress/pages/groupUserTask.js
  digiwf-cypress/cypress/pages/offeneGruppenAufgaben.js
  digiwf-cypress/cypress/pages/page.js
  digiwf-cypress/package.json
Labels: digiwf-cypress

#607 #578: adapt sleuth configuration
  digiwf-connector/digiwf-camunda-connector-service/pom.xml
  digiwf-connector/digiwf-camunda-connector-service/src/main/resources/logback-spring.xml
  digiwf-engine/digiwf-engine-service/src/main/resources/logback-spring.xml
  digiwf-gateway/src/main/resources/logback-spring.xml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/logback-spring.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/pom.xml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/logback-spring.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/logback-spring.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/logback-spring.xml
  digiwf-task/digiwf-tasklist-service/pom.xml
  digiwf-task/digiwf-tasklist-service/src/main/resources/logback-spring.xml
Labels: digiwf-connector, digiwf-engine, digiwf-task, digiwf-gateway, digiwf-integrations

#611 fix: digiwf-gateway routes to cockpit in docker setup
  digiwf-gateway/src/main/resources/application-docker.yml
Labels: digiwf-gateway

#593 #402: remove debug logging from spring security
  digiwf-engine/digiwf-engine-service/src/main/resources/application-local.yml
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/src/main/java/de/muenchen/oss/digiwf/spring/security/SecurityConfiguration.java
Labels: digiwf-engine, digiwf-libs

#610 Bugfix/#609 process description is missing
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/processInstances/processInstancesMiddleware.ts
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-input-fields-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/group-tasks/grouptask-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/user-tasks/usertask-process.bpmn
Labels: digiwf-engine, digiwf-apps

#592 Draft: Feature/#631 remove feature toggle
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/tasks/tasksApiCalls.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/GroupTaskItem.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/TaskItem.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/main.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/mutatedTaskFilter.spec.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMapper.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/featureToggles.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/GroupTaskDetail.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
  digiwf-apps/packages/components/digiwf-engine-api-internal/api/api-docs.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/src/api/api.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/src/apiClient/engineCalls.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfMultiFileInput.vue
  digiwf-apps/packages/components/digiwf-multi-file-input/src/middleware/presignedUrls.ts
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/api/mapper/HumanTaskApiMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/api/resource/HumanTaskFileRestController.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/api/resource/HumanTaskRestController.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/api/transport/CompleteTO.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/api/transport/FollowUpTO.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/api/transport/HumanTaskDetailTO.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/api/transport/HumanTaskTO.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/api/transport/SaveTO.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/mapper/ActRuTaskMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/mapper/HumanTaskMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/mapper/TaskInfoMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/model/ActRuTask.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/model/HumanTask.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/model/HumanTaskDetail.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/model/TaskInfo.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/model/TaskInfoUpdate.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/service/HumanTaskDataService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/service/HumanTaskFileService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/service/HumanTaskService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/service/TaskInfoService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/infrastructure/entity/camunda/ActRuIdentityLinkEntity.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/infrastructure/entity/camunda/ActRuTaskEntity.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/infrastructure/repository/ActRuGroupTaskSearchRepository.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/infrastructure/repository/ActRuTaskCriteriaProvider.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/infrastructure/repository/ActRuTaskSearchRepository.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskInfoListener.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/configuration/hibernateSchema/IgnoreTableDuplicatesFilter.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/configuration/hibernateSchema/IgnoreTableDuplicatesFilterProvider.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/domain/mapper/HumanTaskMapperTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/domain/service/HumanTaskDataServiceTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/infrastructure/repository/ActRuGroupTaskSearchRepositoryTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/infrastructure/repository/ActRuTaskSearchRepositoryTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/infrastructure/repository/TaskEntityDataCreator.java
  digiwf-gateway/src/main/resources/application-local.yml
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/auth/CurrentUserSpringSecurityAdapter.java
  docs/src/.vuepress/config.js
  docs/src/documentation/guides/feature-toggle-taskservice-integration/README.md
  stack/local-docker.env
Labels: digiwf-engine, digiwf-task, digiwf-apps, digiwf-gateway, docs, stack

#626 Bugfix(#616): email integration for release
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/out/S3Adapter.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/out/S3AdapterTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/resources/files/digiwf_logo.png
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/resources/files/test-pdf.pdf
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/resources/files/test-word.docx
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/java/de/muenchen/oss/digiwf/email/integration/model/Mail.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/java/de/muenchen/oss/digiwf/email/integration/model/PresignedUrl.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/resources/rest-api-client/example.http
Labels: digiwf-integrations

#624 bugfix(#616): email attachments are invalid
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/out/S3Adapter.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/out/S3AdapterTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/resources/files/digiwf_logo.png
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/resources/files/test-pdf.pdf
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/resources/files/test-word.docx
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/pom.xml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/java/de/muenchen/oss/digiwf/email/integration/model/Mail.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/java/de/muenchen/oss/digiwf/email/integration/model/PresignedUrl.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/resources/rest-api-client/example.http
Labels: digiwf-integrations

#623 #601: fix sort direction with new pagination
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/instance/domain/service/ServiceInstanceService.java
Labels: digiwf-engine

#630 #609: add description fix for process instances
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/processInstances/processInstancesMiddleware.ts
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-input-fields-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/group-tasks/grouptask-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/user-tasks/usertask-process.bpmn
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/ExampleProcessExitTimerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/ProcessMock.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/UserMock.java
Labels: digiwf-engine, digiwf-apps
