Repository it-at-m/digiwf-core, pull requests merged in 2024-06, with the labels that each got.

#1743 .github ci use new docs deployment
  .github/workflows/workflow-build-docs.yaml
Labels: feature

#1732 Bugfix/#1631 multi file input validierung bei upload abbruch
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfMultiFileInput.vue
Labels: bug, digiwf-apps

#1728 make mfi use 'unique identifier' in all inputs test
  digiwf-apps/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-webcomponent/package-lock.json
  digiwf-apps/packages/components/digiwf-date-input/package-lock.json
  digiwf-apps/packages/components/digiwf-date-input/package.json
  digiwf-apps/packages/components/digiwf-dms-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-dms-input/package-lock.json
  digiwf-apps/packages/components/digiwf-dms-input/package.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package-lock.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
  digiwf-apps/packages/components/digiwf-task-api-internal/package-lock.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-input-fields-process.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-inputs.schema.json
Labels: digiwf-engine, digiwf-apps

#1754 Feature/s3 integration add delete
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/S3Formular.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/S3TestProzess.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/StartFormular.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/s3.processconfig.json
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/rest/FileController.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/streaming/FilesDTO.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/streaming/MessageProcessor.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/CreatePresignedUrlsUseCase.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/FileOperationsPresignedUrlUseCase.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/FileOperationsUseCase.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/FolderOperationsUseCase.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/port/in/FileOperationsInPort.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/port/in/FileOperationsPresignedUrlInPort.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/test/java/de/muenchen/oss/digiwf/s3/integration/application/FileOperationsPresignedUrlUseCaseTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/test/java/de/muenchen/oss/digiwf/s3/integration/application/FileOperationsUseCaseTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-starter/src/main/java/de/muenchen/oss/digiwf/s3/integration/configuration/S3IntegrationAutoConfiguration.java
  docs/src/.vuepress/public/element-template/s3-integration/s3-delete.json
  docs/src/.vuepress/public/element-template/s3-integration/s3_create_presigned_url_template.json
  docs/src/modeling/bausteine/integrationen/index.md
  docs/src/modeling/templates/element-templates/index.md
Labels: digiwf-engine, docs, digiwf-integrations, feature

#1758 Bug/optimize fix user select
  .run/EngineRestServiceApplication.run.xml
  digiwf-engine/digiwf-engine-rest-service/pom.xml
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/EngineRestServiceApplication.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/in/rest/EngineRestGroupFilter.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/in/rest/EngineRestUserFilter.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/out/engine/EngineAdapter.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/out/engine/EngineCacheConfiguration.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/out/ldap/LdapAdapter.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/out/ldap/LdapCacheConfiguration.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/out/ldap/LdapMockAdapter.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/application/port/in/ResolveUserGroupsInPort.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/application/port/in/ResolveUserInPort.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/application/port/out/EngineAuthorizationsOutPort.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/application/port/out/GroupsOutPort.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/application/port/out/ResolveUserGroupsOutPort.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/application/port/out/ResolveUserOutPort.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/application/usecase/ResolveUserGroupsUseCase.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/application/usecase/ResolveUserUseCase.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/configuration/CacheConfiguration.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/domain/User.java
  digiwf-engine/digiwf-engine-rest-service/src/test/java/de/muenchen/oss/digiwf/LdapTestConfiguration.java
  digiwf-engine/digiwf-engine-rest-service/src/test/java/de/muenchen/oss/digiwf/adapter/in/rest/EngineRestUserFilterTest.java
  digiwf-engine/digiwf-engine-rest-service/src/test/java/de/muenchen/oss/digiwf/adapter/out/ldap/LdapAdapterTest.java
  digiwf-engine/digiwf-engine-rest-service/src/test/resources/ldap_schema.ldif
  digiwf-engine/digiwf-engine-rest-service/src/test/resources/ldap_test_data.ldif
  digiwf-libs/digiwf-optimize-plugins/README.md
  stack/docker-compose.yml
Labels: bug, digiwf-engine, digiwf-libs, stack

#1746 ci github dependency review
  .github/workflows/check-compliance.yaml
  .github/workflows/dependency-review.yaml
Labels: feature

#1692 HOWTO concatenate two arrays in a script task
  docs/src/.vuepress/config.js
  docs/src/modeling/bestpractices/README.md
  docs/src/modeling/expressions/functions/README.md
Labels: docs

#1760 Feature/dms integration return content coos
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/create-document/dms-integration-create-document.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/dms-showcase.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/update-document/dms-integration-update-document.bpmn
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/CreateDocumentInPort.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/UpdateDocumentInPort.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/out/ListContentOutPort.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/usecase/CreateDocumentUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/usecase/UpdateDocumentUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/domain/DocumentResponse.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CreateDocumentMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/UpdateDocumentMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapterTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/usecase/CreateDocumentUseCaseTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/usecase/UpdateDocumentUseCaseTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/java/de/muenchen/oss/digiwf/dms/integration/configuration/DmsAutoConfiguration.java
  docs/src/.vuepress/public/element-template/dms-integration/createDocument.json
  docs/src/.vuepress/public/element-template/dms-integration/update-document.json
  docs/src/modeling/bausteine/integrationen/index.md
Labels: digiwf-engine, docs, digiwf-integrations, feature

#1769 Fix/1442 domain specific s3 in engine
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/file/S3Configuration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-starter/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/configuration/S3IntegrationClientAutoConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/application.yml
Labels: bug, digiwf-engine, digiwf-integrations

#1768 Dms showcase add content coos to form
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/forms/dokument-updaten.schema.json
Labels: digiwf-engine, feature

#1771 adjust cypress default timeout
  digiwf-cypress/cypress.config.js
Labels: bug, digiwf-cypress

#1779 Delete CHANGELOG.md
  .github/pull_request_template.md
  CHANGELOG.md
  docs/README.md
Labels: docs

#1775 Feature/cypress grouptask
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/AssignTaskDialog.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/AssignYourselfDialog.vue
  digiwf-cypress/.env.local
  digiwf-cypress/.prettierrc.json
  digiwf-cypress/cypress.config.js
  digiwf-cypress/cypress/components/form.js
  digiwf-cypress/cypress/components/nav.js
  digiwf-cypress/cypress/components/pagination.js
  digiwf-cypress/cypress/components/task.js
  digiwf-cypress/cypress/constants/dataElementKeys.js
  digiwf-cypress/cypress/constants/env.js
  digiwf-cypress/cypress/constants/environmentVariables.js
  digiwf-cypress/cypress/e2e/1-example-usertask.cy.js
  digiwf-cypress/cypress/e2e/2-example-grouptask.cy.js
  digiwf-cypress/cypress/pages/assignedGroupTasks.js
  digiwf-cypress/cypress/pages/currentInstances.js
  digiwf-cypress/cypress/pages/myTasks.js
  digiwf-cypress/cypress/pages/nav.js
  digiwf-cypress/cypress/pages/openGroupTasks.js
  digiwf-cypress/cypress/pages/pagination.js
  digiwf-cypress/cypress/pages/processes/aktuellDigiWFErleben.js
  digiwf-cypress/cypress/pages/processes/aufgabeWasIstDigiWF.js
  digiwf-cypress/cypress/pages/processes/exampleGroupTask.js
  digiwf-cypress/cypress/pages/processes/exampleGroupTaskStart.js
  digiwf-cypress/cypress/pages/processes/exampleUserTask.js
  digiwf-cypress/cypress/pages/processes/exampleUserTaskStart.js
  digiwf-cypress/cypress/pages/processes/startDigiWFErleben.js
  digiwf-cypress/cypress/pages/processes/workflowUserTask.js
  digiwf-cypress/cypress/pages/startProcess.js
  digiwf-cypress/cypress/pages/userTask.js
  digiwf-cypress/cypress/support/commands.js
  digiwf-cypress/cypress/support/e2e.js
  digiwf-cypress/package-lock.json
  digiwf-cypress/package.json
  digiwf-cypress/tsconfig.json
Labels: digiwf-apps, digiwf-cypress, feature

#1789 cockpit re enable skip ip mappings
  digiwf-engine/digiwf-engine-cockpit/src/main/resources/META-INF/resources/webjars/camunda/app/cockpit/scripts/config.js
Labels: bug, digiwf-engine

#1801 dms-integration fix path concatenation
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/s3/S3Adapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/s3/S3AdapterTest.java
Labels: bug, digiwf-integrations
