Repository it-at-m/digiwf-core, pull requests merged in 2024-03, with the labels that each got.

#1390 bump version ticket integration
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/pom.xml
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-service/pom.xml
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-starter/pom.xml
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-zammad-api/pom.xml
  digiwf-integrations/digiwf-ticket-integration/pom.xml
Labels: digiwf-integrations

#1402 docs fix modeling element-template migration for auto topics
  docs/src/.vuepress/config.js
  docs/src/modeling/guides/element-template-migration/README.md
Labels: bug, docs

#1412 pom update maven filtering vars
  digiwf-engine/digiwf-engine-rest-service/src/main/resources/application.yml
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-gateway/src/main/resources/application.yml
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-service/src/main/resources/application.yml
  digiwf-task/digiwf-tasklist-service/src/main/resources/application.yml
Labels: bug, digiwf-engine, digiwf-task, digiwf-gateway, digiwf-integrations

#1418 Fix Error on RootProcess of Message/Timer started Processes
  digiwf-connector/digiwf-camunda-rest-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/adapter/camunda/rest/in/CamundaClient.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/instance/domain/service/ServiceInstanceService.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/instance/domain/service/ServiceInstanceServiceTest.java
Labels: digiwf-connector, digiwf-engine

#1420 #1419: update typescript
  digiwf-apps/package-lock.json
  digiwf-apps/package.json
  digiwf-apps/packages/components/digiwf-dms-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-dms-api-internal/package.json
Labels: digiwf-apps

#1414 Bugfix/ 1275 type validation multi file input
  .github/workflows/check-compliance.yaml
  digiwf-apps/packages/components/digiwf-multi-file-input/jest.config.js
  digiwf-apps/packages/components/digiwf-multi-file-input/package-lock.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfMultiFileInput.vue
  digiwf-apps/packages/components/digiwf-multi-file-input/src/validation/fileType.spec.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/src/validation/fileType.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/src/validation/required.spec.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/tsconfig.json
Labels: bug, digiwf-apps

#1424 #1227: adjust workflow-release-services.yaml
  .github/workflows/workflow-release-services.yaml
Labels: feature

#1399 Alle Services als Transaktion
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/cleanup/services/CleanupProcessInstancesService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/cleanup/services/RemovaltimeUpdateService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/cleanup/services/TimeToLiveUpdateService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/deployment/domain/service/ModelDeploymentService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/filters/domain/service/PersistentFilterService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/service/HumanTaskDataService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/domain/service/HumanTaskService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/info/domain/service/InfoService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/jsonschema/deployment/domain/service/SchemaDeploymentService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/jsonschema/domain/service/JsonSchemaService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/alw/domain/AlwService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/dms/alwdms/domain/service/AlwDmsService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/dms/muc/domain/model/EinAusgehend.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/dms/muc/domain/service/DmsService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/dms/muc/process/canceldokument/CancelDokumentDelegate.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/dms/muc/process/depositvorgang/DepositVorgangDelegate.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/document/domain/DocumentService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/form/api/mapper/FormFieldTOMapper.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/form/domain/service/FormService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/shared/data/DataService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/config/api/streaming/ConfigurationDeploymentEventListener.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/config/domain/service/ProcessConfigService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/facade/ServiceDefinitionFacade.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionAuthService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionDataService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceStartContextService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceStartFileService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/instance/domain/service/ServiceInstanceAuthService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/instance/domain/service/ServiceInstanceService.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/engine/basis/bausteine/duplikatepruefen/DuplikatePruefenTemplateTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/engine/basis/bausteine/duplikatepruefen/DuplikatePruefenTemplateV02Test.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListenerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListenerV02Test.java
  docs/src/modeling/processes/modeling/README.md
  docs/src/modeling/processes/modeling/async-start.png
Labels: digiwf-engine, docs

#1426 dockerfiles use ubi9, fix startup, rm default expose
  digiwf-connector/digiwf-camunda-connector-service/Dockerfile
  digiwf-engine/digiwf-engine-rest-service/Dockerfile
  digiwf-engine/digiwf-engine-service/Dockerfile
  digiwf-gateway/Dockerfile
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-service/Dockerfile
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/Dockerfile
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/Dockerfile
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/Dockerfile
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/Dockerfile
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/Dockerfile
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/Dockerfile
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-service/Dockerfile
  digiwf-task/digiwf-tasklist-service/Dockerfile
Labels: bug, digiwf-connector, digiwf-engine, digiwf-task, digiwf-gateway, digiwf-integrations

#1432 Remove API in Docs
  docs/src/.vuepress/config.js
  docs/src/apis/README.md
  docs/src/apis/rest/README.md
  docs/src/apis/spring-cloud-stream/README.md
Labels: docs

#1435 message-lib fix incident creation wrong headers
  digiwf-libs/digiwf-message/digiwf-message-core/src/main/java/de/muenchen/oss/digiwf/message/process/impl/ErrorApiImpl.java
  digiwf-libs/digiwf-message/digiwf-message-core/src/test/java/de/muenchen/oss/digiwf/message/process/impl/ErrorApiImplTest.java
Labels: digiwf-libs

#1436 Release/march 2024 hotfix 1.8.3
  digiwf-connector/digiwf-camunda-connector-service/Dockerfile
  digiwf-engine/digiwf-engine-rest-service/Dockerfile
  digiwf-engine/digiwf-engine-service/Dockerfile
  digiwf-gateway/Dockerfile
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-service/Dockerfile
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/Dockerfile
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/Dockerfile
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/Dockerfile
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/Dockerfile
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/Dockerfile
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/Dockerfile
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-service/Dockerfile
  digiwf-libs/digiwf-message/digiwf-message-core/src/main/java/de/muenchen/oss/digiwf/message/process/impl/ErrorApiImpl.java
  digiwf-libs/digiwf-message/digiwf-message-core/src/test/java/de/muenchen/oss/digiwf/message/process/impl/ErrorApiImplTest.java
  digiwf-task/digiwf-tasklist-service/Dockerfile
Labels: digiwf-connector, digiwf-engine, digiwf-task, digiwf-libs, digiwf-gateway, digiwf-integrations

#1438 Release/march 2024 hotfix 1.8.4
  digiwf-connector/digiwf-camunda-connector-service/src/main/resources/application-local.yml
  digiwf-connector/digiwf-camunda-connector-service/src/main/resources/application.yml
Labels: digiwf-connector

#1448 #1311 Fix sql update script
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V25__increase_possible_key_size_JsonSchema.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V25_increase_possible_key_size_JsonSchema.sql
Labels: bug, digiwf-engine

#1444 Feature/dms subject and file date
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/cancel-object/forms/dms-integration-cancel-object_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/create-document/dms-integration-create-document.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/create-document/forms/dms-integration-create-document_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/create-file/forms/dms-integration-create-file_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/create-procedure/dms-integration-create-vorgang.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/create-procedure/forms/dms-integration-create-vorgang_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/deposit-object/forms/dms-integration-deposit-object_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/read-content/forms/dms-integration-read-content_check.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/read-content/forms/dms-integration-read-content_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/read-metadata-alw/forms/dms-integration-read-metadata-alw_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/read-metadata-mucs/forms/dms-integration-read-metadata_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/search-file/forms/dms-integration-search-file_check.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/search-file/forms/dms-integration-search-file_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/forms/alw-dms-input.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/forms/dms-input.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/forms/dokument-erstellen.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/forms/dokument-updaten.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/forms/sachakte-anlegen.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/forms/sachakten-kontrollieren.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/forms/schriftstuecke-lesen.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/forms/schriftstuecke-pruefen.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/forms/startformular.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/update-document/forms/dms-integration-update-document_start.schema.json
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CreateDocumentDto.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CreateProcedureDto.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/CreateDocumentUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/CreateProcedureUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/CreateDocumentService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/CreateProcedureService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/domain/Document.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/domain/Procedure.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CreateDocumentMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/CreateProcedureMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapterTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/service/CreateDocumentServiceTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/service/CreateProcedureServiceTest.java
  docs/src/.vuepress/public/element-template/dms-integration/create-vorgang.json
  docs/src/.vuepress/public/element-template/dms-integration/createDocument.json
  docs/src/integrations/digiwf-dms-integration.md
Labels: digiwf-engine, docs, digiwf-integrations, feature

#1443 Docker build on dev
  .github/workflows/build-apps.yaml
  .github/workflows/build-docs.yaml
  .github/workflows/build-services.yaml
  .github/workflows/release.yaml
  .github/workflows/workflow-build-apps.yaml
  .github/workflows/workflow-build-docs.yaml
  .github/workflows/workflow-build-services.yaml
Labels: feature

#1455 Feature/GitHub actions dev images
  .github/workflows/workflow-build-apps.yaml
  .github/workflows/workflow-build-services.yaml
Labels: feature

#1456 React to warnings in build
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-service/src/test/resources/banner.txt
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/test/resources/application-itest.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/test/resources/banner.txt
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/src/main/java/de/muenchen/oss/digiwf/spring/security/NoSecurityConfiguration.java
Labels: digiwf-engine, digiwf-libs, digiwf-integrations

#1453 Feature/dms subject and file date
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/dms-showcase.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/forms/dokument-erstellen.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/show-case/forms/sachakte-anlegen.schema.json
Labels: digiwf-engine, feature

#1389 feature(#1266): zammad file attachments
  digiwf-coverage/pom.xml
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticketing/element-templates/ticketing_write_article.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticketing/element-templates/ticketing_write_article_with_user.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticketing/start-form-ticketing.article.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticketing/start-form-ticketing.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticketing/ticket-process-start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticketing/ticket-process-with-user.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticketing/ticket-process.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticketing/ticketing-article-with-user.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticketing/ticketing-article.bpmn
  digiwf-integrations/digiwf-ticket-integration/README.md
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/pom.xml
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/adapter/in/streaming/TicketMessageProcessor.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/adapter/in/streaming/WriteArticleDto.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/adapter/out/s3/S3Adapter.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/adapter/out/zammad/ZammadAdapter.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/application/WriteArticleUseCase.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/application/port/in/WriteArticleInPort.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/application/port/out/LoadFilePort.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/application/port/out/TicketOutPort.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/domain/model/FileContent.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/domain/model/TicketStatus.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/test/java/de/muenchen/oss/digiwf/ticket/integration/adapter/in/WriteArticleMessageProcessorTest.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/test/java/de/muenchen/oss/digiwf/ticket/integration/adapter/out/s3/S3AdapterTest.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/test/java/de/muenchen/oss/digiwf/ticket/integration/adapter/out/zammad/ZammadAdapterTest.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/test/java/de/muenchen/oss/digiwf/ticket/integration/application/WriteArticleUseCaseTest.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-starter/src/main/java/de/muenchen/oss/digiwf/ticket/integration/configuration/TicketIntegrationAutoConfiguration.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-starter/src/main/java/de/muenchen/oss/digiwf/ticket/integration/configuration/TicketingProperties.java
  docs/src/integrations/digiwf-ticket-integration.md
  stack/local-docker.env
Labels: digiwf-engine, docs, digiwf-integrations, stack, digiwf-coverage, feature

#1427 Fix/1336 alw integration throws bpmn errors if a failure occures
  digiwf-engine/digiwf-engine-service/src/main/resources/bausteine/kvr/alw_personeninfo/alw_personeninfo_create_call_activity_template.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/alw-integration/acknowledge-error.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/alw-integration/alw-integration.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/alw-integration/check-alw-responsibility.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/alw-integration/start-alw-responsibility-check.schema.json
  digiwf-integrations/digiwf-alw-integration/README.md
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/adapter/in/streaming/AlwErrorCodes.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/adapter/in/streaming/AlwMessageProcessor.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/adapter/in/streaming/MessageProcessor.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/adapter/out/alw/AlwResponsibilityRestAdapter.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/application/GetResponsibilityUseCase.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/domain/exception/AlwException.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/domain/model/Responsibility.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/domain/model/validation/AzrNumber.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/test/java/de/muenchen/oss/digiwf/alw/integration/application/GetResponsibilityUseCaseTest.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/rest-api-client/example.http
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/java/de/muenchen/oss/digiwf/alw/integration/AlwServiceApplication.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/java/de/muenchen/oss/digiwf/alw/integration/api/controller/ExampleController.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/config/alw-sachbearbeitung.properties
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/test/java/de/muenchen/oss/digiwf/alw/integration/api/controller/ExampleControllerITest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/DMSStatusCode.java
Labels: bug, digiwf-engine, digiwf-integrations

#1476 ticket integration cleanup env vars
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-service/src/main/resources/application.yml
  stack/local-docker.env
Labels: digiwf-integrations, stack, refactoring

#1475 1336 repair azr number validation
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/adapter/in/streaming/MessageProcessor.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/adapter/out/alw/AlwResponsibilityEmulationAdapter.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/adapter/out/alw/AlwResponsibilityRestAdapter.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/application/GetResponsibilityUseCase.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/application/port/in/GetResponsibilityInPort.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/application/port/out/AlwResponsibilityOutPort.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/domain/model/ResponsibilityRequest.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/domain/model/validation/AzrNumber.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/test/java/de/muenchen/oss/digiwf/alw/integration/domain/model/ResponsibilityRequestValidationTest.java
Labels: bug, digiwf-integrations

#1458 Chore/sync cxf generation
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-engine/digiwf-engine-service/src/main/resources/binding.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-api/pom.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-api/src/main/resources/binding.xml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-api/src/test/resources/logback-codegen.xml
  pom.xml
Labels: digiwf-engine, digiwf-libs, digiwf-integrations

#1478 1336 add error codes in documentation
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/adapter/in/streaming/MessageProcessor.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/main/java/de/muenchen/oss/digiwf/alw/integration/application/GetResponsibilityUseCase.java
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-core/src/test/java/de/muenchen/oss/digiwf/alw/integration/application/GetResponsibilityUseCaseTest.java
  docs/src/integrations/digiwf-alw-integration.md
Labels: bug, docs, digiwf-integrations

#1479 Add missing Error Codes
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/DMSStatusCode.java
  docs/src/integrations/digiwf-dms-integration.md
Labels: docs, digiwf-integrations, feature

#1461 Feature/#1277 bilder und links in mails
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-example-V02/element-templates/EmailIntegration.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-example-V02/email-example-V02.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-example-V02/email-example-v02.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-example-V02/forms/email-example-V02_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-example-V02/forms/email-example-V02_verify.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-integration/element-templates/EmailIntegration.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-integration/email-integration.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-integration/forms/email-integration_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-with-logo-and-link/email-with-logo-and-link.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-with-logo-and-link/email-with-logo-and-link.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-with-logo-and-link/forms/email-with-logo-and-link_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-with-logo-and-link/forms/email-with-logo-and-link_verify.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-with-logo/email-with-logo.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-with-logo/email-with-logo.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-with-logo/forms/email-with-logo_start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/email-with-logo/forms/email-with-logo_verify.schema.json
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/ExampleProcessExitTimerTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/in/BasicMailDto.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/in/MailWithLogoAndLinkDto.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/out/MailAdapter.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/out/ProcessAdapter.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/out/S3Adapter.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/in/SendMail.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/in/SendMailInPort.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/out/CorrelateMessageOutPort.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/out/LoadMailAttachmentOutPort.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/out/MailOutPort.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/out/MailPort.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/usecase/SendMailUseCase.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/model/BasicMail.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/model/TemplateMail.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/model/TextMail.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/in/MessageProcessorTestBase.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/in/SendMailWithLogoAndLinkMessageProcessorTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/in/SendMailWithTextMessageProcessorTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/out/MailAdapterTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/application/usecase/SendMailUseCaseTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/logo/email-logo.png
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/templates/mail-template.ftl
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-starter/src/main/java/de/muenchen/oss/digiwf/email/integration/configuration/MailAutoConfiguration.java
  digiwf-libs/digiwf-email/digiwf-email-api/pom.xml
  digiwf-libs/digiwf-email/digiwf-email-api/src/main/java/de/muenchen/oss/digiwf/email/api/DigiwfEmailApi.java
  digiwf-libs/digiwf-email/digiwf-email-api/src/main/java/de/muenchen/oss/digiwf/email/impl/DigiwfEmailApiImpl.java
  digiwf-libs/digiwf-email/digiwf-email-api/src/test/java/de/muenchen/oss/digiwf/email/DigiwfEmailApiImplTest.java
  digiwf-libs/digiwf-email/digiwf-email-api/src/test/resources/templates/test-template.ftl
  digiwf-libs/digiwf-email/digiwf-email-starter/src/main/java/de/muenchen/oss/digiwf/email/configuration/DigiwfEmailAutoConfiguration.java
  docs/src/.vuepress/public/element-template/email-integration/sendMailV02.json
  docs/src/.vuepress/public/element-template/email-integration/sendMailWithLogo.json
  docs/src/.vuepress/public/element-template/email-integration/sendMailWithLogoAndLink.json
  docs/src/integrations/digiwf-mail-integration.md
  docs/src/modeling/bausteine/integrationen/index.md
  docs/src/modeling/templates/element-templates/index.md
Labels: digiwf-engine, digiwf-libs, docs, digiwf-integrations, feature

#1483 Bugfix/fix ticket integration
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticketing/ticket-process.processconfig.json
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/adapter/in/streaming/WriteArticleDto.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/adapter/out/s3/S3Adapter.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/test/java/de/muenchen/oss/digiwf/ticket/integration/adapter/out/s3/S3AdapterTest.java
Labels: bug, digiwf-engine, digiwf-integrations

#1487 Feature/#1277 bilder und links in mails
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/logo/email-logo.png
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/templates/mail-template.ftl
Labels: digiwf-integrations, feature

#1489 :lock: Added CORS configuration for public resources
  digiwf-gateway/src/main/resources/application.yml
Labels: digiwf-gateway, feature

#1491 Fix maven release runs into timeout
  pom.xml
Labels: bug

#1490 Feature/#1277 bilder und links in mails
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/templates/mail-template.ftl
Labels: digiwf-integrations, feature

#1493 Revert "Feature/#1277 bilder und links in mails"
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/templates/mail-template.ftl
Labels: digiwf-integrations

#1498 .github workflows re add missing codecov
  .github/workflows/build-services.yaml
  .github/workflows/workflow-build-services.yaml
Labels: bug

#1495 Bugfix/1480 prüfung dateiexistenz per abfrage von ordnerinhalten funktioniert nicht zuverlässig
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/out/s3/S3Repository.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/CleanUpDatabaseFilesWithoutCorrespondingS3FolderUseCase.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/FileOperationsUseCase.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/test/java/de/muenchen/oss/digiwf/s3/integration/application/CleanUpDatabaseFilesWithoutCorrespondingS3FolderUseCaseTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/test/java/de/muenchen/oss/digiwf/s3/integration/application/FileOperationsUseCaseTest.java
Labels: bug, digiwf-integrations

#1406 feat: add init listener
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/facade/ServiceDefinitionFacade.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceInstanceInitializationService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/process/ProcessStartListener.java
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/process-status/set-status-process.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/process-status/start-form.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/process-status/status-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/timer-event/check-timer-form.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/timer-event/timer-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/timer-event/timer-process.processconfig.json
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceInstanceInitializationServiceTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/definition/process/ProcessStartListenerTest.java
  docs/src/modeling/processes/modeling/README.md
Labels: digiwf-engine, docs, feature

#1505 remove empty pom of digiwf-example-integration-example
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-example/pom.xml
Labels: digiwf-integrations

#1512 Revert "feat: add init listener"
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/facade/ServiceDefinitionFacade.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceInstanceInitializationService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/process/ProcessStartListener.java
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/process-status/set-status-process.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/process-status/start-form.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/process-status/status-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/timer-event/check-timer-form.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/timer-event/timer-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/timer-event/timer-process.processconfig.json
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceInstanceInitializationServiceTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/definition/process/ProcessStartListenerTest.java
  docs/src/modeling/processes/modeling/README.md
Labels: digiwf-engine, docs
