Repository it-at-m/digiwf-core, pull requests merged in 2024-07, with the labels that each got.

#1815 openai-integration fix embedded kafka for spring 3.2.4
  digiwf-integrations/digiwf-openai-integration/digiwf-openai-integration-service/src/test/resources/application-itest.yml
Labels: bug, digiwf-integrations

#1818 flyway add dependencies for db types
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/pom.xml
  digiwf-parent/pom.xml
  digiwf-task/digiwf-tasklist-service/pom.xml
Labels: bug, digiwf-engine, digiwf-task, digiwf-integrations, digiwf-parent

#1816 cockpit reenable skip custom listeners and io mappings
  digiwf-engine/digiwf-engine-cockpit/src/main/resources/META-INF/resources/webjars/camunda/app/cockpit/scripts/config.js
Labels: digiwf-engine, feature

#1828 Revert "flyway add dependencies for db types"
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/pom.xml
  digiwf-parent/pom.xml
  digiwf-task/digiwf-tasklist-service/pom.xml
Labels: bug, digiwf-engine, digiwf-task, digiwf-integrations, digiwf-parent

#1834 task polyflow 4.2.0 db migration
  digiwf-task/digiwf-tasklist-service/src/main/resources/db/migration/postgresql/V07__jpa_plf_data_entry_correlations.sql
Labels: bug, digiwf-task

#1812 Bugfix/#1706 cronjobconfiguration property of s3 integration mismatch
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-starter/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/configuration/S3IntegrationClientAutoConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-starter/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/properties/S3IntegrationClientProperties.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/resources/application-itest.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/resources/application-test.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-starter/src/main/java/de/muenchen/oss/digiwf/s3/integration/configuration/CronJobConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-starter/src/main/java/de/muenchen/oss/digiwf/s3/integration/properties/S3IntegrationProperties.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-service/src/main/resources/application.yml
  digiwf-task/digiwf-tasklist-service/src/main/resources/application.yml
  digiwf-task/digiwf-tasklist-service/src/test/resources/application-itest.yml
Labels: bug, digiwf-engine, digiwf-task, digiwf-integrations

#1810 Feature/1457 pruefung gesamtgroesse dateien
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/adapter/out/s3/S3Adapter.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/test/java/de/muenchen/oss/digiwf/cosys/integration/adapter/out/s3/S3AdapterTest.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/src/main/java/de/muenchen/oss/digiwf/cosys/integration/configuration/CosysAutoConfiguration.java
  digiwf-integrations/digiwf-dms-integration/README.md
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/s3/S3Adapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/s3/S3AdapterTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-starter/src/main/java/de/muenchen/oss/digiwf/dms/integration/configuration/DmsAutoConfiguration.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/out/s3/S3Adapter.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/out/s3/S3AdapterTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-starter/src/main/java/de/muenchen/oss/digiwf/email/integration/configuration/MailAutoConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-starter/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/configuration/S3IntegrationClientAutoConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-starter/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/properties/S3IntegrationClientProperties.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/api/api-docs.json
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/repository/DocumentStorageFileRepository.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/repository/DocumentStorageFolderRepository.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/service/FileExtensionService.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/main/java/de/muenchen/oss/digiwf/s3/integration/client/service/FileService.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/test/java/de/muenchen/oss/digiwf/s3/integration/client/repository/DocumentStorageFileRepositoryTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/test/java/de/muenchen/oss/digiwf/s3/integration/client/repository/DocumentStorageFolderRepositoryTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/test/java/de/muenchen/oss/digiwf/s3/integration/client/service/FileExtensionServiceTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client/src/test/java/de/muenchen/oss/digiwf/s3/integration/client/service/FileServiceTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/rest/FileController.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/rest/FolderController.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/rest/dto/FileSizeDto.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/rest/dto/FileSizesInFolderDto.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/rest/mapper/FileSizeMapper.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/rest/mapper/FileSizesInFolderMapper.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/out/s3/S3Repository.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/FileOperationsUseCase.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/FolderOperationsUseCase.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/port/in/FileOperationsInPort.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/application/port/in/FolderOperationsInPort.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/domain/model/FileSize.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/domain/model/FileSizesInFolder.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/test/java/de/muenchen/oss/digiwf/s3/integration/adapter/out/s3/S3RepositoryTest.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/test/java/de/muenchen/oss/digiwf/s3/integration/application/FolderOperationsUseCaseTest.java
  digiwf-integrations/digiwf-ticket-integration/README.md
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/adapter/out/s3/S3Adapter.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/test/java/de/muenchen/oss/digiwf/ticket/integration/adapter/out/s3/S3AdapterTest.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-starter/src/main/java/de/muenchen/oss/digiwf/ticket/integration/configuration/TicketIntegrationAutoConfiguration.java
  digiwf-libs/digiwf-message/digiwf-message-core/src/main/java/de/muenchen/oss/digiwf/message/process/api/ProcessApi.java
  digiwf-task/digiwf-tasklist-service/src/test/resources/application-itest.yml
  docs/src/integrations/digiwf-cosys-integration.md
  docs/src/integrations/digiwf-dms-integration.md
  docs/src/integrations/digiwf-s3-integration.md
  docs/src/integrations/digiwf-ticket-integration.md
Labels: digiwf-engine, digiwf-task, digiwf-libs, docs, digiwf-integrations, stack, feature

#1839 Feature/refactor presigned url usage
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/S3TestProzess.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/S3TestProzessPresignedUrls.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/s3-presigned.processconfig.json
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/adapter/in/streaming/GenerateDocumentDTO.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/adapter/in/streaming/GenerateDocumentPresignedUrlsDTO.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/adapter/in/streaming/StreamingAdapter.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/adapter/out/s3/S3Adapter.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/application/port/in/CreateDocumentInPort.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/application/port/out/SaveFileToStorageOutPort.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/application/usecase/CreateDocumentUseCase.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/domain/model/DocumentStorageUrl.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/domain/model/GenerateDocument.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/test/java/de/muenchen/oss/digiwf/cosys/integration/adapter/in/streaming/GenerateDocumentPresignedUrlsDTOTest.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/test/java/de/muenchen/oss/digiwf/cosys/integration/adapter/in/streaming/StreamingAdapterTest.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/test/java/de/muenchen/oss/digiwf/cosys/integration/adapter/out/cosys/CosysAdapterTest.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/test/java/de/muenchen/oss/digiwf/cosys/integration/adapter/out/s3/S3AdapterTest.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/test/java/de/muenchen/oss/digiwf/cosys/integration/application/usecase/CreateDocumentUseCaseTest.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/src/main/java/de/muenchen/oss/digiwf/cosys/integration/configuration/CosysAutoConfiguration.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/in/streaming/BasicMailDto.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/in/streaming/MailWithLogoAndLinkPathsDto.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/in/streaming/MailWithLogoAndLinkPresignedDto.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/in/streaming/StreamingAdapter.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/out/s3/S3Adapter.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/in/SendMailInPort.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/in/SendMailPathsInPort.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/in/SendMailPresignedInPort.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/out/LoadMailAttachmentOutPort.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/usecase/SendMailPathsUseCase.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/usecase/SendMailPresignedUseCase.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/domain/model/BasicMail.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/domain/model/paths/BasicMailPaths.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/domain/model/paths/TemplateMailPaths.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/domain/model/paths/TextMailPaths.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/domain/model/presigned/BasicMailPresigned.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/domain/model/presigned/PresignedUrl.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/domain/model/presigned/TemplateMailPresigned.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/domain/model/presigned/TextMailPresigned.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/in/streaming/SendMailWithLogoAndLinkPathsStreamingAdapterTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/in/streaming/SendMailWithLogoAndLinkPresignedStreamingAdapterTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/in/streaming/SendMailWithTextPathsStreamingAdapterTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/in/streaming/SendMailWithTextPresignedStreamingAdapterTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/in/streaming/StreamingAdapterTestBase.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/out/s3/S3AdapterTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/application/usecase/SendMailPathsUseCaseTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/application/usecase/SendMailPresignedUseCaseTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-starter/src/main/java/de/muenchen/oss/digiwf/email/integration/configuration/MailAutoConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-core/src/main/java/de/muenchen/oss/digiwf/s3/integration/adapter/in/streaming/StreamingAdapter.java
  docs/src/.vuepress/public/element-template/cosys_generate_document_template_V02.json
  docs/src/.vuepress/public/element-template/email-integration/sendMailV02.json
  docs/src/.vuepress/public/element-template/email-integration/sendMailWithLogo.json
  docs/src/.vuepress/public/element-template/email-integration/sendMailWithLogoAndLink.json
  docs/src/.vuepress/public/element-template/s3-integration/s3_create_presigned_url_template.json
  docs/src/modeling/bausteine/integrationen/index.md
Labels: digiwf-engine, docs, digiwf-integrations, feature

#1843 Feature/1382 service readme umsetzen
  digiwf-integrations/README.md
  digiwf-integrations/digiwf-address-integration/README.md
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-alw-integration/README.md
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-cosys-integration/README.md
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/resources/application-local.yml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-example/src/main/resources/application-streaming.yml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/src/main/java/de/muenchen/oss/digiwf/cosys/integration/configuration/CosysProperties.java
  digiwf-integrations/digiwf-dms-integration/README.md
  digiwf-integrations/digiwf-email-integration/README.md
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-example/src/main/resources/application.yml
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/src/main/resources/application.yml
  digiwf-libs/digiwf-message/README.md
  digiwf-libs/digiwf-message/digiwf-message-starter/src/main/java/de/muenchen/oss/digiwf/message/properties/DigiwfMessageProperties.java
  digiwf-libs/digiwf-spring-security/README.md
  docs/src/documentation/libs/digiwf-message/README.md
  docs/src/documentation/libs/digiwf-spring-security/README.md
  docs/src/integrations/digiwf-address-integration.md
  docs/src/integrations/digiwf-alw-integration.md
  docs/src/integrations/digiwf-cosys-integration.md
  docs/src/integrations/digiwf-dms-integration.md
  docs/src/integrations/digiwf-mail-integration.md
  docs/src/integrations/guides/custom-integration-service.md
  stack/local-docker.env
Labels: digiwf-libs, docs, digiwf-integrations, stack, feature

#1849 remove s3 db from docker env
  stack/local-docker.env
Labels: stack, feature

#1859 :bug: mail-integration fix filename without extension
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/out/s3/S3Adapter.java
Labels: bug, digiwf-integrations
