Repository it-at-m/digiwf-core, pull requests merged in 2024-02, with the labels that each got.

#1262 Fix LDAP Group Filter on User-Input
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/VUserInput.vue
Labels: digiwf-apps

#1260 Feature/1248 suche nach einer e akte kann mehrere treffer liefern
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/search-file/dms-integration-search-file.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/search-file/forms/dms-integration-search-file_check.schema.json
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/SearchFileUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/SearchFileService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/SearchFileMessageProcessorTest.java
  docs/src/.vuepress/public/element-template/dms-integration/searchFile.json
  docs/src/integrations/digiwf-dms-integration.md
  docs/src/modeling/expressions/functions/README.md
Labels: digiwf-engine, docs, digiwf-integrations, feature

#1249 bugfix(#942): fix form builder settings for array types
  digiwf-apps/packages/apps/digiwf-forms-example/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/FormFields.ts
Labels: bug, digiwf-apps

#1270 Hotfix: Fix Legacy Forms Vorbelegung #1269
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
Labels: digiwf-apps, INCIDENT

#1256 bugfix(#1253): provide kafka configs with digiwf-message-starter
  digiwf-connector/digiwf-camunda-rest-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/adapter/camunda/rest/out/IncidentAdapter.java
  digiwf-connector/digiwf-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/core/adapter/in/streaming/IncidentConsumer.java
  digiwf-connector/digiwf-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/core/application/port/in/CreateIncidentInPort.java
  digiwf-connector/digiwf-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/core/application/port/out/CreateIncidentOutPort.java
  digiwf-connector/digiwf-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/core/application/usecase/CreateIncidentUseCase.java
  digiwf-connector/digiwf-connector-starter/src/test/java/de/muenchen/oss/digiwf/connector/core/adapter/in/streaming/IncidentConsumerTest.java
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application-streaming.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/application.yml
  digiwf-libs/digiwf-message/digiwf-message-core/src/main/java/de/muenchen/oss/digiwf/message/infra/EventEmitterConfiguration.java
  digiwf-libs/digiwf-message/digiwf-message-starter/src/main/java/de/muenchen/oss/digiwf/message/configuration/DigiwfMessageAutoConfiguration.java
  digiwf-libs/digiwf-message/digiwf-message-starter/src/main/java/de/muenchen/oss/digiwf/message/factory/YamlPropertySourceFactory.java
  digiwf-libs/digiwf-message/digiwf-message-starter/src/main/java/de/muenchen/oss/digiwf/message/properties/DigiwfMessageProperties.java
  digiwf-libs/digiwf-message/digiwf-message-starter/src/main/resources/digiwf-message-application.yml
  docs/src/documentation/libs/digiwf-message/README.md
  docs/src/integrations/guides/custom-integration-service.md
  stack/local-docker.env
Labels: bug, digiwf-connector, digiwf-libs, docs, digiwf-integrations, stack

#1252 Feature/1150 task links
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/task/links/TaskLinks.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMapper.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/tasksModels.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
  digiwf-apps/packages/components/digiwf-task-api-internal/src/api/api.ts
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-input-fields-process.bpmn
  digiwf-integrations/digiwf-okewo-integration/pom.xml
  digiwf-task/digiwf-polyflow-connector-starter/src/main/java/de/muenchen/oss/digiwf/task/correlator/GlobalProcessVariableCorrelator.java
  digiwf-task/digiwf-task-api/pom.xml
  digiwf-task/digiwf-task-api/src/main/java/de/muenchen/oss/digiwf/task/TaskExternalReference.java
  digiwf-task/digiwf-task-api/src/main/java/de/muenchen/oss/digiwf/task/TaskVariables.java
  digiwf-task/digiwf-task-api/src/test/java/de/muenchen/oss/digiwf/task/TaskExternalReferenceSerializationTest.java
  digiwf-task/digiwf-tasklist-service/src/main/api/openapi.yml
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/in/rest/impl/FileApiDelegateImpl.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/in/rest/impl/TaskApiDelegateImpl.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/in/rest/mapper/TaskMapper.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/link/OnTheFlyTaskLinkResolverAdapter.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/link/TaskLinkConfigurationProperties.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/link/TaskLinkResolverConfiguration.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/link/TaskLinkTypeConfig.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/application/port/out/links/TaskLinkResolverPort.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/application/usecase/RetrieveTasksForUserUseCase.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/application/usecase/WorkOnTaskFileUseCase.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/application/usecase/WorkOnUserTaskUseCase.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/domain/TaskLink.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/domain/TaskWithSchema.java
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/domain/TaskWithSchemaRef.java
  digiwf-task/digiwf-tasklist-service/src/main/resources/application.yml
  digiwf-task/digiwf-tasklist-service/src/main/resources/logback-spring.xml
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/adapter/in/rest/FileOperationsIT.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/adapter/in/rest/RetrieveTasksIT.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/adapter/in/rest/TaskExternalLinksIT.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/adapter/in/rest/TaskOperationsIT.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/adapter/out/link/OnTheFlyTaskLinkResolverAdapterTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/application/usecase/RetrieveTasksForUserUseCaseTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/application/usecase/TestFixtures.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/application/usecase/WorkOnUserTaskUseCaseTest.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/infra/security/SecurityTestConfiguration.java
  digiwf-task/digiwf-tasklist-service/src/test/resources/application-itest.yml
  pom.xml
Labels: digiwf-engine, digiwf-task, digiwf-apps, digiwf-integrations, feature

#1274 Fix some typos
  docs/src/documentation/README.md
  docs/src/documentation/architecture/filehandling.md
  docs/src/documentation/architecture/overview.md
  docs/src/documentation/architecture/system-integration.md
  docs/src/documentation/roadmap.md
  docs/src/modeling/plattform/artefact/README.md
Labels: bug, docs

#1288 #881 move types folder
  digiwf-apps/packages/components/digiwf-dms-input/package.json
  digiwf-apps/packages/components/digiwf-dms-input/src/apiClient/dmsApiCalls.ts
  digiwf-apps/packages/components/digiwf-dms-input/src/components/DwfDmsInput.vue
  digiwf-apps/packages/components/digiwf-dms-input/src/components/DwfObjectPreview.vue
  digiwf-apps/packages/components/digiwf-dms-input/src/middleware/dmsMiddleware.ts
  digiwf-apps/packages/components/digiwf-dms-input/src/types/index.ts
  digiwf-apps/packages/components/digiwf-dms-input/types/index.d.ts
Labels: bug, digiwf-apps

#1293 Feature/refactor version bump
  .github/workflows/workflow-bump-version.yaml
Labels: feature

#1298 Chore/refactor unit tests in backend
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/cleanup/services/RemovaltimeUpdateServiceTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/engine/basis/bausteine/duplikatepruefen/DuplikatePruefenTemplateTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/engine/basis/bausteine/duplikatepruefen/DuplikatePruefenTemplateV02Test.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/engine/mapper/EngineDataMapperTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/input/MessageServiceTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/jsonschema/BasicSchemaTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/legacy/dms/bausteine/dokumentstornieren/DokumentStornierenTemplateTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/legacy/dms/bausteine/schriftstueckekopieren/SchriftstueckeKopierenTemplateTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/legacy/dms/bausteine/schriftstueckupdaten/SchriftstueckUpdatenTemplateTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/legacy/dms/bausteine/vorganganlegen/VorgangAnlegenTemplateTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/legacy/dms/bausteine/vorgangzalegen/VorgangZAlegenTemplateTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/ExampleProcessExitTimerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/ProcessMock.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/UserMock.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/instance/infrastructure/repository/ProcessInstanceInfoRepositoryTest.java
  digiwf-engine/digiwf-engine-service/src/test/resources/camunda.cfg.xml
  digiwf-task/digiwf-task-api/src/main/java/de/muenchen/oss/digiwf/task/TaskExternalReference.java
Labels: digiwf-engine, digiwf-task

#1321 1310 add oracle driver to engine-rest-service
  digiwf-engine/digiwf-engine-rest-service/pom.xml
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-engine/pom.xml
Labels: bug, digiwf-engine

#1323 refactoring: refactor release action to support snapshot frontend builds
  .github/workflows/release.yaml
Labels: refactoring

#1322 reduce logging, set default variable, switch to mock extension
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/engine/basis/bausteine/duplikatepruefen/DuplikatePruefenTemplateTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/engine/basis/bausteine/duplikatepruefen/DuplikatePruefenTemplateV02Test.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/legacy/dms/bausteine/dokumentstornieren/DokumentStornierenTemplateTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/legacy/dms/bausteine/schriftstueckekopieren/SchriftstueckeKopierenTemplateTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/legacy/dms/bausteine/schriftstueckupdaten/SchriftstueckUpdatenTemplateTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/legacy/dms/bausteine/vorganganlegen/VorgangAnlegenTemplateTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/legacy/dms/bausteine/vorgangzalegen/VorgangZAlegenTemplateTest.java
  digiwf-engine/digiwf-engine-service/src/test/resources/camunda.cfg.xml
  digiwf-libs/digiwf-testing/digiwf-e2e-test-starter/src/main/resources/integration-e2e-test-application.yaml
  digiwf-task/digiwf-tasklist-service/src/main/resources/application.yml
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/adapter/in/rest/TaskExternalLinksIT.java
  digiwf-task/digiwf-tasklist-service/src/test/resources/application-itest.yml
Labels: digiwf-engine, digiwf-task, digiwf-libs

#1315 feat: add red star to every field
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-forms-example/src/App.vue
  digiwf-apps/packages/apps/digiwf-forms-example/src/components/menu.vue
  digiwf-apps/packages/apps/digiwf-forms-example/src/plugins/vuetify.ts
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/VMultiUserInput.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/VUserInput.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/validation/required.spec.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/validation/required.ts
  digiwf-apps/packages/components/digiwf-date-input/src/components/DwfDateInput.vue
  digiwf-apps/packages/components/digiwf-date-input/src/components/DwfTimeInput.vue
  digiwf-apps/packages/components/digiwf-date-input/src/validation/required.spec.ts
  digiwf-apps/packages/components/digiwf-date-input/src/validation/required.ts
  digiwf-apps/packages/components/digiwf-dms-input/src/components/DwfDmsInput.vue
  digiwf-apps/packages/components/digiwf-dms-input/src/validation/required.spec.ts
  digiwf-apps/packages/components/digiwf-dms-input/src/validation/required.ts
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfMultiFileInput.vue
  digiwf-apps/packages/components/digiwf-multi-file-input/src/validation/required.spec.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/src/validation/required.ts
Labels: digiwf-apps, feature

#1308 #1208: update vjfs configuration and added example process
  digiwf-apps/packages/apps/digiwf-forms-example/src/App.vue
  digiwf-apps/packages/apps/digiwf-forms-example/vite.config.ts
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/AppJsonForm.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/AppJsonRenderer.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/vjfsConfig.ts
  digiwf-apps/packages/components/digiwf-form-renderer/src/components/DwfFormRenderer.vue
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/optional-input-groups/optional-input-groups.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/optional-input-groups/optional-input-groups.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/optional-input-groups/optional-input-groups.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/optional-input-groups/start-form-optional-input-groups-usertask.schema.json
Labels: bug, digiwf-engine, digiwf-apps

#1333 Default Reply-Mail-Address
  digiwf-libs/digiwf-email/digiwf-email-api/src/main/java/de/muenchen/oss/digiwf/email/impl/DigiwfEmailApiImpl.java
  digiwf-libs/digiwf-email/digiwf-email-api/src/test/java/de/muenchen/oss/digiwf/email/DigiwfEmailApiImplTest.java
  digiwf-libs/digiwf-email/digiwf-email-starter/src/main/java/de/muenchen/oss/digiwf/email/configuration/DigiwfEmailAutoConfiguration.java
  digiwf-libs/digiwf-email/digiwf-email-starter/src/main/java/de/muenchen/oss/digiwf/email/properties/CustomMailProperties.java
  docs/src/documentation/libs/digiwf-email/README.md
  docs/src/integrations/digiwf-mail-integration.md
Labels: digiwf-libs, docs, feature

#1334 Fix: DMS-Input returns COOs
  digiwf-apps/packages/components/digiwf-dms-input/src/components/DwfDmsInput.vue
Labels: bug, digiwf-apps

#1309 gateway clients add cors and options security
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/configuration/SecurityConfiguration.java
Labels: bug, digiwf-gateway

#1340 Revert "#1208: update vjfs configuration and added example process"
  digiwf-apps/packages/apps/digiwf-forms-example/src/App.vue
  digiwf-apps/packages/apps/digiwf-forms-example/vite.config.ts
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/AppJsonForm.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/AppJsonRenderer.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/vjfsConfig.ts
  digiwf-apps/packages/components/digiwf-form-renderer/src/components/DwfFormRenderer.vue
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/optional-input-groups/optional-input-groups.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/optional-input-groups/optional-input-groups.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/optional-input-groups/optional-input-groups.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/optional-input-groups/start-form-optional-input-groups-usertask.schema.json
Labels: digiwf-engine, digiwf-apps

#1343 stack add pgadmin
  stack/docker-compose.yml
Labels: stack, feature

#1320 bugfix(#734): use process definition key as integration name
  digiwf-apps/packages/components/digiwf-engine-api-internal/api/api-docs.json
  digiwf-apps/packages/components/digiwf-engine-api-internal/src/api/api.ts
  digiwf-connector/digiwf-camunda-rest-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/adapter/camunda/rest/out/processdefinition/ProcessDefinitionAdapter.java
  digiwf-connector/digiwf-camunda-rest-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/adapter/camunda/rest/out/processdefinition/ServiceInstanceTO.java
  digiwf-connector/digiwf-camunda-rest-connector-starter/src/test/java/de/muenchen/oss/digiwf/connector/adapter/camunda/rest/out/processdefinition/ProcessDefinitionAdapterTest.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/instance/api/transport/ServiceInstanceTO.java
Labels: bug, digiwf-connector, digiwf-engine, digiwf-apps

#1346 Docs Element-Template Migration Auto Topics
  docs/src/modeling/guides/element-template-migration/README.md
  docs/src/modeling/guides/element-template-migration/migrate_et_topics_example.png
Labels: docs, feature

#1312 add JUnit 5 ADR
  docs/src/documentation/architecture/adr/adr005-junit-5.md
  docs/src/documentation/architecture/adrs.md
Labels: docs

#1345 Filter ProcessDefinitions on Startable
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/instance/process/ProcessConstants.java
  digiwf-engine/digiwf-engine-service/src/main/resources/bausteine/basis/duplikatepruefen/DuplikatePruefenV01.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/bausteine/basis/duplikatepruefen/DuplikatePruefenV02.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/bausteine/streaming/StreamingTemplateIntegrationV01.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/bausteine/streaming/StreamingTemplateV02.bpmn
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionServiceTest.java
  docs/src/modeling/processes/modeling/README.md
Labels: digiwf-engine, docs, feature

#1353 configurble metrics, fix #1338
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-example/src/main/resources/application.yaml
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/pom.xml
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/java/de/muenchen/oss/digiwf/camunda/prometheus/CamundaPrometheusAutoConfiguration.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/java/de/muenchen/oss/digiwf/camunda/prometheus/CamundaPrometheusProperties.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/java/de/muenchen/oss/digiwf/camunda/prometheus/MetricsAutoConfiguration.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/java/de/muenchen/oss/digiwf/camunda/prometheus/MetricsProviderSchedulerAutoConfiguration.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/java/de/muenchen/oss/digiwf/camunda/prometheus/MetricsReporterAutoConfiguration.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: digiwf-engine, digiwf-libs, feature

#1360 add polyflow update and architecture diagram
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/test/java/de/muenchen/oss/digiwf/dms/integration/fabasoft/mock/service/ExampleTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-mock-service/src/test/resources/application-itest.yml
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-service/src/test/java/de/muenchen/oss/digiwf/example/integration/ExampleIntegrationServiceApplicationTest.java
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-service/src/test/resources/application-itest.yml
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-service/src/test/resources/application-itest.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/resources/application-itest.yml
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/adapter/in/rest/TaskExternalLinksIT.java
  digiwf-task/pom.xml
  docs/src/images/platform/components/optimize/optimize-integration-architecture
  docs/src/images/platform/components/optimize/optimize-integration-architecture.drawio.png
Labels: digiwf-task, docs, digiwf-integrations, feature

#1265 refactor: formbuilder settings
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/base/Container.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/base/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/base/IconMap.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/base/ModelerPalette.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/base/Section.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/base/labels.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/Container.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/IconMap.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/ModelerPalette.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/Section.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/de/Settings.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/Container.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/ModelerPalette.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/Section.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/en/Settings.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/index.spec.ts
Labels: digiwf-apps, refactoring

#1365 fix schema name and definition of the schema in the BPMN, fix #1364
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/cancelable-user-task/cancelable_user_task.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/cancelable-user-task/form_cancel_user_task.schema.json
Labels: bug, digiwf-engine

#1324 #1150: add documentation
  docs/src/.vuepress/config.js
  docs/src/images/modeling/forms/external-links.png
  docs/src/modeling/forms/links/README.md
Labels: docs, feature

#1384 Update EmailIntegration.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-integration/element-templates/EmailIntegration.json
Labels: digiwf-engine

#1359 Remove unused Avatar-Btn
  digiwf-apps/packages/apps/digiwf-tasklist/src/App.vue
Labels: digiwf-apps
