Repository it-at-m/digiwf-core, pull requests merged in 2024-01, with the labels that each got.

#1167 chore: npm audit fix
  digiwf-apps/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/components/digiwf-date-input/components.d.ts
  digiwf-apps/packages/components/digiwf-engine-api-internal/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package-lock.json
  digiwf-apps/packages/components/digiwf-form-builder/components.d.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/components.d.ts
  digiwf-apps/packages/components/digiwf-task-api-internal/package-lock.json
  docs/package-lock.json
Labels: digiwf-apps, docs, Technical Debt

#1172 fix: 443 update vjsf
  digiwf-apps/packages/apps/digiwf-forms-example/components.d.ts
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-forms-example/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
Labels: bug, digiwf-apps

#1175 fix: clear date value if empty
  digiwf-apps/packages/apps/digiwf-forms-example/components.d.ts
  digiwf-apps/packages/apps/digiwf-forms-example/src/App.vue
  digiwf-apps/packages/components/digiwf-date-input/src/components/DwfDateInput.vue
  digiwf-apps/packages/components/digiwf-date-input/src/validation/dateValidation.spec.ts
  digiwf-apps/packages/components/digiwf-date-input/src/validation/dateValidation.ts
Labels: bug, digiwf-apps

#1186 Fix/adress integration missing log lib
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-service/pom.xml
Labels: bug, digiwf-integrations

#1187 address-integration add missing logging lib
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-service/pom.xml
Labels: bug, digiwf-integrations

#1190 hotfix(#1115): formserver multi file input release
  digiwf-connector/digiwf-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/core/application/port/in/CreateBpmnErrorInPort.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/file/AbstractFileService.java
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/formserver-example/formserver-example.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/formserver-example/formserver-example.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/formserver-example/formserver-test.bpmn
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/application/usecase/WorkOnTaskFileUseCase.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/application/usecase/WorkOnTaskFileUseCaseTest.java
  docs/src/modeling/forms/fields/README.md
Labels: bug, digiwf-connector, digiwf-engine, digiwf-task, docs

#1171 bugfix(#1115): multifile-input does not show files ins subfolders
  digiwf-connector/digiwf-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/core/application/port/in/CreateBpmnErrorInPort.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/file/AbstractFileService.java
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/formserver-example/formserver-example.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/formserver-example/formserver-example.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/formserver-example/formserver-test.bpmn
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/application/usecase/WorkOnTaskFileUseCase.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/application/usecase/WorkOnTaskFileUseCaseTest.java
  docs/src/modeling/forms/fields/README.md
Labels: bug, digiwf-connector, digiwf-engine, digiwf-task, docs

#1192 connector fix ConstraintDeclarationException method override
  digiwf-connector/digiwf-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/core/application/port/in/CreateIncidentInPort.java
  digiwf-connector/digiwf-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/core/application/port/in/ExecuteTaskInPort.java
Labels: bug, digiwf-connector

#1193 connector fix ConstraintDeclarationException method override (dev)
  digiwf-connector/digiwf-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/core/application/port/in/CreateIncidentInPort.java
  digiwf-connector/digiwf-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/core/application/port/in/ExecuteTaskInPort.java
Labels: bug, digiwf-connector

#1197 connector fix executeTask logic error
  digiwf-connector/digiwf-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/core/application/usecase/ExecuteTaskUseCase.java
  digiwf-connector/digiwf-connector-starter/src/test/java/de/muenchen/oss/digiwf/connector/core/application/usecase/ExecuteTaskUseCaseTest.java
Labels: bug, digiwf-connector

#1198 connector fix executeTask logic error
  digiwf-connector/digiwf-connector-starter/src/main/java/de/muenchen/oss/digiwf/connector/core/application/usecase/ExecuteTaskUseCase.java
  digiwf-connector/digiwf-connector-starter/src/test/java/de/muenchen/oss/digiwf/connector/core/application/usecase/ExecuteTaskUseCaseTest.java
Labels: bug, digiwf-connector

#1196 docs: update imprint and contact
  docs/src/.vuepress/theme/layouts/GlobalLayout.vue
  docs/src/contact/README.md
  docs/src/documentation/README.md
  docs/src/imprint/README.md
Labels: docs

#1194 example processes use StreamingTemplateV02
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/email-example-V02/email-example-V02.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/s3-integration/S3TestProzess.bpmn
Labels: bug, digiwf-engine

#1200 MFI Doku
  docs/src/modeling/forms/fields/README.md
  docs/src/modeling/forms/fields/file-configs.png
Labels: docs

#1203 Bugfix / timezone for follow-up date
  digiwf-task/digiwf-tasklist-service/src/main/java/de/muenchen/oss/digiwf/task/service/adapter/out/engine/RemoteTaskCommandRestAdapter.java
  digiwf-task/digiwf-tasklist-service/src/test/java/de/muenchen/oss/digiwf/task/service/adapter/out/engine/RemoteTaskCommandRestAdapterTest.java
Labels: bug, digiwf-task

#1205 Mail Doku Update
  docs/src/modeling/integrations/catalog/index.md
Labels: docs

#1204 Meine Vorgänge statt aktuelle Vorgänge
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/appMenu/AppMenuList.vue
Labels: digiwf-apps

#1173 gateway custom csrf request handler
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/configuration/SecurityConfiguration.java
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/configuration/SpaServerCsrfTokenRequestHandler.java
Labels: bug, digiwf-gateway

#1211 #1209: fix multi file input required
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfMultiFileInput.vue
Labels: bug, digiwf-apps

#1212 #1209: fix multi file input required
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfMultiFileInput.vue
Labels: bug, digiwf-apps

#1216 #1215: add mandatory fields to all-input-fields process
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-inputs.schema.json
Labels: digiwf-engine, feature

#1218 hotfix(#1217): usertask notifications
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListener.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListenerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListenerV02Test.java
Labels: bug, digiwf-engine

#1219 bugfix(#1217): task notifications
  digiwf-apps/packages/apps/digiwf-forms-example/components.d.ts
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListener.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListenerTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListenerV02Test.java
Labels: bug, digiwf-engine, digiwf-task, digiwf-apps

#1225 revert compiler warning fixes for builder
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/dms/muc/domain/model/Dokument.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/dms/muc/domain/model/Vorgang.java
  digiwf-libs/digiwf-email/digiwf-email-api/src/main/java/de/muenchen/oss/digiwf/email/model/Mail.java
Labels: bug, digiwf-engine, digiwf-libs

#1226 revert compiler warning fixes for builder (dev)
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/dms/muc/domain/model/Dokument.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/legacy/dms/muc/domain/model/Vorgang.java
  digiwf-libs/digiwf-email/digiwf-email-api/src/main/java/de/muenchen/oss/digiwf/email/model/Mail.java
Labels: bug, digiwf-engine, digiwf-libs

#1207 Feature/#769 refarch refactoring
  digiwf-engine/digiwf-engine-rest-service/src/main/resources/application.yml
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/configuration/GracefulShutdownConfiguration.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/gracefulshutdown/GracefulShutdown.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/shared/gracefulshutdown/GracefulShutdownHealthCheck.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/configuration/SecurityConfiguration.java
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/filter/GlobalAuthenticationErrorFilter.java
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/filter/GlobalBackend5xxTo400Mapper.java
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/filter/GlobalBackendErrorFilter.java
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/filter/GlobalRequestParameterPollutionFilter.java
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/util/GatewayUtils.java
  digiwf-gateway/src/main/resources/application-local.yml
  digiwf-gateway/src/main/resources/application.yml
  digiwf-gateway/src/test/java/de/muenchen/oss/digiwf/gateway/filter/GlobalBackend5xxTo400MapperTest.java
  digiwf-gateway/src/test/java/de/muenchen/oss/digiwf/gateway/filter/GlobalBackendErrorFilterTest.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/de/muenchen/oss/digiwf/s3/integration/configuration/GracefulShutdownConfiguration.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/de/muenchen/oss/digiwf/s3/integration/configuration/gracefulshutdown/GracefulShutdown.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/java/de/muenchen/oss/digiwf/s3/integration/configuration/gracefulshutdown/GracefulShutdownHealthCheck.java
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/src/test/java/de/muenchen/oss/digiwf/s3/integration/configuration/gracefulshutdown/GracefulShutdownHealthCheckTest.java
  digiwf-task/digiwf-tasklist-service/src/main/resources/application.yml
Labels: digiwf-engine, digiwf-task, digiwf-gateway, digiwf-integrations, feature

#1083 Feature/#884 set formfields over query parameter
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/src/api/processDefinitions/processDefinitionApiCalls.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/AppJsonForm.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/processDefinitions/processDefinitionMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/dataTransformations.spec.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/dataTransformations.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/mergeObjects.spec.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/mergeObjects.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/urlQueryForFormFields.spec.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/urlQueryForFormFields.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/utils/validateSchema.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/StartProcess.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
  digiwf-apps/packages/components/digiwf-multi-file-input/src/middleware/presignedUrls.ts
Labels: digiwf-apps, feature

#1233 #1202 upgrade @muenchen/vjsf version
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
Labels: digiwf-apps

#1245 #884: add documentation
  docs/src/modeling/forms/README.md
Labels: docs, feature

#1242 1149 suche von e akte um fachdatum erweitern
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/search-file/dms-integration-search-file.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/dms-integration/search-file/forms/dms-integration-search-file_start.schema.json
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/SearchObjectDto.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapter.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/SearchFileUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/in/SearchSubjectAreaUseCase.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/out/SearchFilePort.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/port/out/SearchSubjectAreaPort.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/SearchFileService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/application/service/SearchSubjectAreaService.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/SearchFileMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/in/SearchSubjectAreaMessageProcessorTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/FabasoftAdapterTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/service/SearchFileServiceTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/test/java/de/muenchen/oss/digiwf/dms/integration/application/service/SearchSubjectAreaServiceTest.java
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-fabasoft/digiwf-dms-integration-fabasoft-api/src/main/resources/fabasoft.wsdl
  docs/src/.vuepress/public/element-template/searchFile.json
  docs/src/integrations/digiwf-dms-integration.md
  docs/src/modeling/templates/element-templates/index.md
Labels: digiwf-engine, docs, digiwf-integrations

#1222 Fix Enforcement of History Time-to-live
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
Labels: bug, digiwf-engine

#1247 docs: clean up docs
  docs/src/.vuepress/components/Features.vue
  docs/src/.vuepress/config.js
  docs/src/documentation/components/connector.md
  docs/src/features/changes/index.md
  docs/src/features/index.md
  docs/src/integrations/digiwf-ok.ewo-integration.md
  docs/src/integrations/digiwf-verification-integration.md
  docs/src/modeling/processes/config/README.md
Labels: docs

#1246 #912 Update ui test alw dms
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/archive/schnittstellen/alwdms/TestEaiAlwDms_Start_V01.form.json
Labels: digiwf-engine
