Repository it-at-m/digiwf-core, pull requests merged in 2024-05, with the labels that each got.

#1643 Fix package-lock.json multi-file-input
  digiwf-apps/packages/components/digiwf-multi-file-input/package-lock.json
Labels: bug, digiwf-apps

#1577 Feature/optimize oauth2
  digiwf-engine/digiwf-engine-rest-service/README.md
  digiwf-engine/digiwf-engine-rest-service/pom.xml
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/EngineRestServiceApplication.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/in/rest/EngineRestGroupFilter.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/in/rest/OptimizeGroupDto.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/in/rest/OptimizeGroupQueryDto.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/out/ldap/LdapAdapter.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/out/ldap/LdapCacheConfiguration.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/out/ldap/LdapMockAdapter.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/adapter/out/ldap/LdapProperties.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/application/port/in/ResolveUserGroupsInPort.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/application/port/out/ResolveUserGroupsOutPort.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/application/usecase/ResolveUserGroupsUseCase.java
  digiwf-engine/digiwf-engine-rest-service/src/main/java/de/muenchen/oss/digiwf/domain/Group.java
  digiwf-engine/digiwf-engine-rest-service/src/main/resources/application-groups-ldap.yml
  digiwf-engine/digiwf-engine-rest-service/src/main/resources/application.yml
  digiwf-engine/digiwf-engine-rest-service/src/test/java/de/muenchen/oss/digiwf/adapter/in/rest/EngineRestGroupFilterTest.java
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/ApiGatewayApplication.java
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/configuration/CsrfProtectionMatcher.java
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/configuration/SecurityConfiguration.java
  digiwf-gateway/src/main/java/de/muenchen/oss/digiwf/gateway/configuration/SecurityProperties.java
  digiwf-gateway/src/main/resources/application-docker.yml
  digiwf-gateway/src/main/resources/application-local.yml
  digiwf-gateway/src/main/resources/application.yml
  digiwf-libs/digiwf-optimize-plugins/README.md
  digiwf-libs/digiwf-optimize-plugins/pom.xml
  digiwf-libs/digiwf-optimize-plugins/src/main/java/de/muenchen/oss/digiwf/optimize/plugin/OAuth2AuthenticationExtractor.java
  digiwf-libs/digiwf-optimize-plugins/src/main/java/de/muenchen/oss/digiwf/optimize/plugin/OAuth2Client.java
  digiwf-libs/digiwf-optimize-plugins/src/main/java/de/muenchen/oss/digiwf/optimize/plugin/OAuth2ClientProperties.java
  digiwf-libs/digiwf-optimize-plugins/src/main/java/de/muenchen/oss/digiwf/optimize/plugin/OAuth2EngineRestFilter.java
  digiwf-libs/digiwf-optimize-plugins/src/test/java/de/muenchen/oss/digiwf/optimize/plugin/OAuth2AuthenticationExtractorTest.java
  digiwf-libs/digiwf-optimize-plugins/src/test/java/de/muenchen/oss/digiwf/optimize/plugin/OAuth2EngineRestFilterTest.java
  digiwf-libs/digiwf-spring-logging-and-tracing/pom.xml
  digiwf-libs/digiwf-spring-security/digiwf-spring-security-core/src/main/java/de/muenchen/oss/digiwf/spring/security/SecurityConfiguration.java
  digiwf-libs/pom.xml
  stack/docker-compose.yml
  stack/keycloak/04_engine.yml
  stack/keycloak/07_task-management_service_account.yml
  stack/keycloak/14_optimize_client.yml
  stack/keycloak/keycloak-changelog.yml
  stack/local-docker.env
  stack/optimize/environment-config.yaml
  stack/optimize/sample.yaml
Labels: digiwf-engine, digiwf-libs, digiwf-gateway, stack, feature

#1652 Don't publish webcomp
  digiwf-apps/packages/apps/digiwf-webcomponent/package.json
Labels: bug, digiwf-apps

#1654 allow ALW integration test to autocreate topics
  digiwf-integrations/digiwf-alw-integration/digiwf-alw-integration-service/src/test/resources/application-mocked-alw-service.yml
Labels: bug, digiwf-integrations

#1663 engine rollback transactional for bpmn deploy to fix cocreation errors
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/deployment/domain/service/ModelDeploymentService.java
Labels: digiwf-engine

#1661 Feature/optimize migrate sensitive var filter
  .github/workflows/workflow-build-services.yaml
  digiwf-libs/digiwf-optimize-plugins/Dockerfile
  digiwf-libs/digiwf-optimize-plugins/README.md
  digiwf-libs/digiwf-optimize-plugins/pom.xml
  digiwf-libs/digiwf-optimize-plugins/src/main/java/de/muenchen/oss/digiwf/optimize/plugin/FilterSensitiveVariableImportAdapter.java
  digiwf-libs/digiwf-optimize-plugins/src/main/java/de/muenchen/oss/digiwf/optimize/plugin/FilterSensitiveVariableProperties.java
  digiwf-libs/digiwf-optimize-plugins/src/test/java/de/muenchen/oss/digiwf/optimize/plugin/FilterSensitiveVariableImportAdapterTest.java
  digiwf-libs/digiwf-optimize-plugins/src/test/java/de/muenchen/oss/digiwf/optimize/plugin/FilterSensitiveVariablePropertiesTest.java
Labels: digiwf-libs, feature

#1667 #1662: fix download name in mfi
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfFilePreview.vue
Labels: bug, digiwf-apps

#1668 Optimize var filter fix deps and enable ee ci build
  .github/workflows/workflow-build-services.yaml
  digiwf-libs/digiwf-optimize-plugins/src/main/java/de/muenchen/oss/digiwf/optimize/plugin/FilterSensitiveVariableProperties.java
Labels: bug, digiwf-libs

#1660 Feature/#921 aktionshinweise
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/App.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/AppLoadingButton.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/AppToast.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/UI/help/AppHelpMenu.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/common/Snackbar.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/form/BaseForm.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/AppJsonForm.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/snackbar.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/router.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/accessibility.spec.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/store/modules/accessibility.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/A11YMessage.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/AccessibilityStatement.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/GroupTaskDetail.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/ProcessInstanceDetailView.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/StartProcess.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
  digiwf-apps/packages/components/digiwf-date-input/package.json
  digiwf-apps/packages/components/digiwf-dms-input/package.json
  digiwf-apps/packages/components/digiwf-form-builder-settings/package.json
  digiwf-apps/packages/components/digiwf-multi-file-input/package.json
Labels: digiwf-apps, feature

#1670 github actions add docker camunda registry login
  .github/workflows/workflow-build-services.yaml
Labels: bug

#1672 optimize fix parent version
  digiwf-libs/digiwf-optimize-plugins/pom.xml
Labels: digiwf-libs

#1674 Bugfix/1664 zeilenumbruche in e mail template mit logo und link funktionieren nicht
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/templates/mail-template.ftl
  docs/src/modeling/bausteine/README.md
  docs/src/modeling/bausteine/integrationen/index.md
Labels: bug, docs, digiwf-integrations

#1678 Fix Keycloak Migration Version
  stack/docker-compose.yml
Labels: stack

#1680 Consistent Naming Mail Templates
  docs/src/.vuepress/public/element-template/email-integration/sendMailV02.json
  docs/src/.vuepress/public/element-template/email-integration/sendMailWithLogo.json
  docs/src/.vuepress/public/element-template/email-integration/sendMailWithLogoAndLink.json
  docs/src/integrations/digiwf-mail-integration.md
  docs/src/modeling/bausteine/integrationen/index.md
Labels: docs, feature

#1683 :hammer: Optimized post-build script
  digiwf-apps/packages/apps/digiwf-webcomponent/processes/post-build.js
Labels: digiwf-apps

#1685 Optimized post-build script for loader files
  digiwf-apps/packages/apps/digiwf-webcomponent/processes/post-build.js
Labels: bug, digiwf-apps

#1688 #1494: increase vjsf version
  digiwf-apps/packages/apps/digiwf-forms-example/package-lock.json
  digiwf-apps/packages/apps/digiwf-forms-example/package.json
  digiwf-apps/packages/apps/digiwf-tasklist/package-lock.json
  digiwf-apps/packages/apps/digiwf-tasklist/package.json
  digiwf-apps/packages/components/digiwf-form-renderer/package-lock.json
  digiwf-apps/packages/components/digiwf-form-renderer/package.json
Labels: bug, digiwf-apps

#1698 #1494: add optionals to all input fields process
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-inputs.schema.json
Labels: bug, digiwf-engine

#1708 #1702 Interim solution by documentation in s3 integration readme
  digiwf-integrations/digiwf-s3-integration/README.md
Labels: digiwf-integrations, feature
