Repository it-at-m/digiwf-core, pull requests merged in 2024-04, with the labels that each got.

#1518 Fix/#1174 modellierungs doku dms integration
  docs/src/modeling/bausteine/integrationen/index.md
Labels: bug, docs

#1532 :lock: Allowed sending authorization data when using CORS origin
  .github/workflows/pr-labeler.yaml
  digiwf-gateway/src/main/resources/application.yml
Labels: digiwf-gateway, fix

#1534 Enable CORS for preflight requests
  digiwf-gateway/src/main/resources/application.yml
Labels: digiwf-gateway, fix

#1492 Feature/release to central portal
  .github/pr-labeler.yml
  .github/workflows/workflow-build-services.yaml
  digiwf-connector/digiwf-camunda-connector-service/pom.xml
  digiwf-connector/pom.xml
  digiwf-engine/digiwf-engine-rest-service/pom.xml
  digiwf-engine/digiwf-engine-service/pom.xml
  digiwf-gateway/pom.xml
  digiwf-integrations/digiwf-address-integration/digiwf-address-integration-service/pom.xml
  digiwf-integrations/digiwf-alw-integration/pom.xml
  digiwf-integrations/digiwf-cosys-integration/pom.xml
  digiwf-integrations/digiwf-dms-integration/pom.xml
  digiwf-integrations/digiwf-email-integration/pom.xml
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-service/pom.xml
  digiwf-integrations/digiwf-example-integration/pom.xml
  digiwf-integrations/digiwf-integration-parent/pom.xml
  digiwf-integrations/digiwf-okewo-integration/digiwf-okewo-integration-core/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-client-example/pom.xml
  digiwf-integrations/digiwf-s3-integration/digiwf-s3-integration-service/pom.xml
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-service/pom.xml
  digiwf-libs/digiwf-spring-logging-and-tracing/pom.xml
  digiwf-libs/digiwf-spring-logging-and-tracing/src/main/resources/.gitkeep
  digiwf-task/digiwf-tasklist-service/pom.xml
  pom.xml
Labels: enhancement, digiwf-connector, digiwf-engine, digiwf-task, digiwf-libs, digiwf-gateway, digiwf-integrations, Technical Debt, feature

#1538 stack fix keycloak init
  stack/keycloak/keycloak-changelog.yml
Labels: stack

#1540 Fixed CORS for javascript based requests
  digiwf-gateway/src/main/resources/application.yml
Labels: digiwf-gateway, fix

#1542 move enable service account for tasklist client to step three
  stack/keycloak/03_task-management.yml
  stack/keycloak/07_task-management_service_account.yml
  stack/keycloak/keycloak-changelog.yml
Labels: bug, stack

#1527 Deactivate Hibernate ID-Pool
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/oracle/V26__fix_axon_sequence.sql
  digiwf-engine/digiwf-engine-service/src/main/resources/db/migration/postgresql/V15__fix_axon_sequence.sql
Labels: bug, digiwf-engine

#1558 Bugfix/#1547 image in new mail template wrong ratio
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/adapter/out/MailAdapter.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/port/out/MailOutPort.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/main/java/de/muenchen/oss/digiwf/email/integration/application/usecase/SendMailUseCase.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/adapter/out/MailAdapterTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-core/src/test/java/de/muenchen/oss/digiwf/email/integration/application/usecase/SendMailUseCaseTest.java
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/templates/email-logo.png
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/templates/mail-template.ftl
Labels: bug, digiwf-integrations

#1520 #920: add reader support for file input
  digiwf-apps/packages/apps/digiwf-tasklist/components.d.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfFilePreview.vue
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfMultiFileInput.vue
  digiwf-apps/packages/components/digiwf-multi-file-input/src/middleware/fileSize.ts
  digiwf-apps/packages/components/digiwf-multi-file-input/src/middleware/url.ts
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/all-input-fields/all-inputs.schema.json
Labels: digiwf-engine, digiwf-apps, feature

#1556 Refactor/cleanup example integration
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/example-integration/example-integration.bpmn
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-core/src/main/java/de/muenchen/oss/digiwf/example/integration/core/application/usecase/ExampleUseCase.java
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-core/src/main/java/de/muenchen/oss/digiwf/example/integration/core/application/usecase/ProcessResponseUseCase.java
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-service/src/main/resources/application.yml
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-starter/src/main/java/de/muenchen/oss/digiwf/example/integration/ExampleIntegrationAdapterInAutoconfiguration.java
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-starter/src/main/java/de/muenchen/oss/digiwf/example/integration/ExampleIntegrationAdapterOutAutoconfiguration.java
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-starter/src/main/java/de/muenchen/oss/digiwf/example/integration/ExampleIntegrationAutoconfiguration.java
  digiwf-integrations/digiwf-example-integration/digiwf-example-integration-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: digiwf-engine, digiwf-integrations, refactoring

#1517 feat: add init listener
  .run/S3IntegrationApplication.run.xml
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/facade/ServiceDefinitionFacade.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionDataService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceInstanceInitializationService.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/definition/process/ProcessStartListener.java
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/process-status/set-status-process.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/process-status/start-form.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/process-status/status-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/timer-event/check-timer-form.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/timer-event/timer-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/timer-event/timer-process.processconfig.json
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceDefinitionServiceTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/definition/domain/service/ServiceInstanceInitializationServiceTest.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/definition/process/ProcessStartListenerTest.java
  docs/src/modeling/processes/modeling/README.md
Labels: digiwf-engine, docs

#1565 dms-integration rm deprecated 1000 object limits error
  digiwf-integrations/digiwf-dms-integration/digiwf-dms-integration-core/src/main/java/de/muenchen/oss/digiwf/dms/integration/adapter/out/fabasoft/DMSStatusCode.java
  docs/src/integrations/digiwf-dms-integration.md
Labels: docs, digiwf-integrations

#1562 ticket-integration pass fileContext as param
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticket-integration/element-templates/ticketing_write_article.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticket-integration/element-templates/ticketing_write_article_with_user.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticket-integration/ticket-process-start.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticket-integration/ticket-process.processconfig.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/ticket-integration/ticketing-article.bpmn
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/adapter/in/streaming/TicketMessageProcessor.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/adapter/in/streaming/WriteArticleDto.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/adapter/out/s3/S3Adapter.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/application/WriteArticleUseCase.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/application/port/in/WriteArticleInPort.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/main/java/de/muenchen/oss/digiwf/ticket/integration/application/port/out/LoadFileOutPort.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/test/java/de/muenchen/oss/digiwf/ticket/integration/adapter/in/WriteArticleMessageProcessorTest.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/test/java/de/muenchen/oss/digiwf/ticket/integration/adapter/out/s3/S3AdapterTest.java
  digiwf-integrations/digiwf-ticket-integration/digiwf-ticket-integration-core/src/test/java/de/muenchen/oss/digiwf/ticket/integration/application/WriteArticleUseCaseTest.java
  docs/src/integrations/digiwf-ticket-integration.md
Labels: digiwf-engine, docs, digiwf-integrations, refactoring

#1566 Refactor/camunda metrics
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/de/muenchen/oss/digiwf/camunda/prometheus/FniAndEdeMetricsProvider.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/de/muenchen/oss/digiwf/camunda/prometheus/IncidentMetricsProvider.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/de/muenchen/oss/digiwf/camunda/prometheus/ProcessMetricsProvider.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/de/muenchen/oss/digiwf/camunda/prometheus/TaskMetricsProvider.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/java/de/muenchen/oss/digiwf/camunda/prometheus/CamundaPrometheusProperties.java
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-starter/src/main/java/de/muenchen/oss/digiwf/camunda/prometheus/MetricsAutoConfiguration.java
Labels: digiwf-engine, digiwf-libs, refactoring

#1568 Fix Arch Overview Doku
  docs/src/documentation/architecture/overview.md
Labels: docs

#1561 #1227: fix dms input form builder
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/base/FormFields.ts
  digiwf-apps/packages/components/digiwf-form-builder-settings/src/base/ModelerPalette.ts
Labels: bug, digiwf-apps

#1571 1560 fix user-input on reload
  digiwf-apps/packages/apps/digiwf-tasklist/src/components/schema/VUserInput.vue
Labels: bug, digiwf-apps

#1545 1401 enhance process config with incident notification addresses
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/engine/incidents/BaseIncidentHandler.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/engine/incidents/IncidentNotificationProperties.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/engine/incidents/IncidentNotifierHandler.java
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/process/config/domain/model/ProcessConfig.java
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/archive/Test/TestIncident.processconfig.json
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/engine/incidents/IncidentNotifierHandlerTest.java
  digiwf-engine/digiwf-engine-service/src/test/resources/dummy/Test.processconfig.json
  digiwf-integrations/digiwf-email-integration/digiwf-email-integration-service/src/main/resources/application.yml
  docs/src/documentation/architecture/system-integration.md
  docs/src/modeling/processes/config/README.md
  stack/local-docker.env
Labels: digiwf-engine, docs, digiwf-integrations, stack, feature

#1582 Fix Message Doku
  docs/src/documentation/libs/digiwf-message/README.md
Labels: docs

#1583 update timer example process
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/timer-event/check-timer-form.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/timer-event/timer-process.bpmn
Labels: digiwf-engine, feature

#1580 cosys-integration fix consumer name
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/main/java/de/muenchen/oss/digiwf/cosys/integration/adapter/in/MessageProcessor.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-core/src/test/java/de/muenchen/oss/digiwf/cosys/integration/adapter/in/MessageProcessorTest.java
  digiwf-integrations/digiwf-cosys-integration/digiwf-cosys-integration-starter/src/main/java/de/muenchen/oss/digiwf/cosys/integration/configuration/CosysAutoConfiguration.java
Labels: bug, digiwf-integrations

#1584 Feat/no skippable
  digiwf-engine/digiwf-engine-cockpit/src/main/resources/META-INF/resources/webjars/camunda/app/admin/scripts/config.js
  digiwf-engine/digiwf-engine-cockpit/src/main/resources/META-INF/resources/webjars/camunda/app/cockpit/scripts/config.js
  digiwf-engine/digiwf-engine-cockpit/src/main/resources/META-INF/resources/webjars/camunda/app/tasklist/scripts/config.js
  digiwf-engine/digiwf-engine-cockpit/src/main/resources/META-INF/resources/webjars/camunda/app/welcome/scripts/config.js
  digiwf-engine/digiwf-engine-cockpit/src/main/resources/static/app/admin/scripts/config.js
  digiwf-engine/digiwf-engine-cockpit/src/main/resources/static/app/cockpit/scripts/config.js
  digiwf-engine/digiwf-engine-cockpit/src/main/resources/static/app/welcome/scripts/config.js
  digiwf-engine/digiwf-engine-service/src/main/resources/application.yml
Labels: digiwf-engine, feature

#1549 Chore/refactor task middleware to tanstack query
  digiwf-apps/packages/apps/digiwf-tasklist/src/middleware/tasks/taskMiddleware.ts
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/GroupTaskDetail.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/TaskDetail.vue
Labels: digiwf-apps

#1595 camunda prometheus task metrics also include suspended
  digiwf-libs/digiwf-camunda-prometheus/digiwf-camunda-prometheus-core/src/main/java/de/muenchen/oss/digiwf/camunda/prometheus/TaskMetricsProvider.java
Labels: bug, digiwf-libs

#1597 Update AccessibilityStatement.vue
  digiwf-apps/packages/apps/digiwf-tasklist/src/views/AccessibilityStatement.vue
Labels: digiwf-apps

#1613 Fix typos in readme
  docs/src/integrations/digiwf-cosys-integration.md
  docs/src/integrations/digiwf-mail-integration.md
Labels: bug, docs

#1594 Show root process in incident notification
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/engine/incidents/IncidentNotifierHandler.java
Labels: digiwf-engine, feature

#1630 Deactivate Auto Create Topics
  digiwf-connector/digiwf-camunda-connector-service/src/main/resources/application-streaming.yml
  digiwf-libs/digiwf-message/digiwf-message-starter/src/main/resources/digiwf-message-application.yml
Labels: digiwf-connector, digiwf-libs, feature

#1636 Anzeigeänderungen in Vorgang-WebComponent
  digiwf-apps/packages/apps/digiwf-webcomponent/src/components/ServiceInstanceListItem.vue
  digiwf-apps/packages/apps/digiwf-webcomponent/src/components/placeholders/ServiceInstanceListItemPlaceholder.vue
  digiwf-apps/packages/apps/digiwf-webcomponent/src/util/constants.ts
  docs/src/documentation/components/webcomponents.md
Labels: digiwf-apps, docs, feature

#1647 Feature/custom candidate group addresses
  digiwf-engine/digiwf-engine-service/src/main/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListener.java
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/group-tasks/grouptask-process.bpmn
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/group-tasks/start-form-grouptask.schema.json
  digiwf-engine/digiwf-engine-service/src/main/resources/prozesse/example/user-tasks/usertask-process.bpmn
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/humantask/process/listener/UserTaskNotificationListenerV02Test.java
  digiwf-engine/digiwf-engine-service/src/test/java/de/muenchen/oss/digiwf/process/ExampleProcessExitTimerTest.java
  digiwf-task/digiwf-task-api/src/main/java/de/muenchen/oss/digiwf/task/TaskVariables.java
  docs/src/modeling/user-tasks/modeling/README.md
  docs/src/modeling/user-tasks/modeling/element_templates.png
Labels: digiwf-engine, digiwf-task, docs, feature

#1648 fix fehler unique identifier
  digiwf-apps/packages/components/digiwf-multi-file-input/src/components/DwfMultiFileInput.vue
Labels: bug, digiwf-apps
